doctype html
html(lang='pt-br', class="no-js")

  head(itemscope itemtype="http://schema.org/WebSite")
    include .././inc/global/head.pug

  body#inicio
    include ../../source/icon/svg/symbols.svg
    include .././inc/global/header-2.pug
    block view
    include .././inc/global/footer-2.pug
    include .././inc/global/foot-2.pug