// primary
$primary-100: #623FAF
$primary-400: #6a49b3
$primary-500: #623FAF // base
$primary-900: #623FAF

// secondary
$secondary-100: #FBE372
$secondary-500: #FBE372 // base
$secondary-900: #FBE372

// tertiary
$tertiary-500: #A6EDD7 // base

// grey
$grey-900: #111029

.color-primary--500
  color: $primary-500

.color-secondary--500
  color: $secondary-500

.color-tertiary--500
  color: $tertiary-500

.bg-primary--500
  background-color: $primary-500

.bg-secondary--500
  background-color: $secondary-500

.bg-tertiary--500
  background-color: $tertiary-500