@function rem($pixels, $context: 16)
  @if (unitless($pixels))
    $pixels: $pixels * 1px
  @if (unitless($context))
    $context: $context * 1px
  @return $pixels / $context * 1rem

=fadeIn
  -webkit-animation-name: fadeIn
  animation-name: fadeIn
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

@-webkit-keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1