// size
$size-1: 4px
$size-2: 8px
$size-3: 12px
$size-4: 16px
$size-5: 20px
$size-6: 24px
$size-7: 28px
$size-8: 32px
$size-9: 36px
$size-10: 40px
$size-12: 48px
$size-16: 64px
$size-20: 80px
$size-24: 96px
$size-32: 128px
$size-40: 160px
$size-48: 192px
$size-56: 224px
$size-64: 256px
$size-72: 288px
$size-80: 320px
$size-96: 384px

.hstack
  display: flex
  flex-direction: row
  align-items: center
  align-self: stretch

.vstack
  display: flex
  flex: 1 1 auto
  flex-direction: column
  align-self: stretch

.gap--1
  gap: $size-1
.gap--2
  gap: $size-2
.gap--4
  gap: $size-4
.gap--5
  gap: $size-5
.gap--6
  gap: $size-6
.gap--8
  gap: $size-8
.gap--10
  gap: $size-10
.gap--12
  gap: $size-12
.gap--16
  gap: $size-16
.gap--20
  gap: $size-20
.gap--32
  gap: $size-32
.gap--40
  gap: $size-40

.spacing
  display: block
  padding-top: $size-8
  padding-bottom: $size-8
  +tablet-max
    padding-top: $size-16
    padding-bottom: $size-16

.spacing-content
  display: block
  padding-top: $size-6
  padding-bottom: $size-6
  +tablet-max
    padding-top: $size-8
    padding-bottom: $size-8