// font-weight
$font-weight-light: 300
$font-weight-medium: 500
$font-weight-bold: 700
$font-weight-extrabold: 800

// font-heading
$font-heading: Arial, "Helvetica Neue", Helvetica, sans-serif
$line-height-heading-xs: 1
$line-height-heading-md: 1
$line-height-heading-lg: 1
$font-size-heading-xs: rem(16)
$font-size-heading-md: rem(16)
$font-size-heading-lg: rem(16)

// font-body
$font-body: Arial, "Helvetica Neue", Helvetica, sans-serif
$line-height-body-xs: 1
$line-height-body-md: 1
$line-height-body-lg: 1
$font-size-body-xs: rem(16)
$font-size-body-md: rem(16)
$font-size-body-lg: rem(16)

// Heading
.heading
  font-weight: 600
  margin: 0

.heading--1
  @extend .heading
  font-size: $size-12
  line-height: rem(52)
  +desktop-min
    font-size: rem(100)
    line-height: rem(106)

.heading--2
  @extend .heading
  font-size: $size-9
  line-height: rem(44)
  +desktop-min
    font-size: $size-12
    line-height: rem(60)

.heading--3
  @extend .heading
  font-size: rem(26)
  line-height: rem(40)
  +desktop-min
    font-size: rem(32)
    line-height: rem(52)

.heading--4
  @extend .heading
  font-size: $size-5
  font-weight: 400
  line-height: rem(30)
  +desktop-min
    font-size: rem(26)
    line-height: rem(46)

.heading--underline
  &:after
    background-color: white
    content: ''
    display: block
    height: 2px
    margin-top: $size-2
    width: rem(145)
  
  &.color-tertiary--500
    &:after
      background-color: $tertiary-500

// ************************************************************************************
// ************************************************************************************
// ************************************************************************************
// ************************************************************************************

.body-text
  p
    font-size: rem(16)
    line-height: rem(28)
    margin: 0
    a
      color: $grey-900
      text-decoration: none
      background-image: linear-gradient(to right, $tertiary-500 0%, $tertiary-500 100%)
      background-repeat: repeat-x 
      background-position: 0 105%
      background-size: 100% 3px
      &:hover
        background-position: 0 100%
        background-size: 100% 8px

// ************************************************************************************
// ************************************************************************************
// ************************************************************************************
// ************************************************************************************

.tagline
  display: flex
  align-items: center
  font-weight: 600
  +desktop-min
    font-size: $size-5
    line-height: rem(28)
  &:before
    content: ''
    display: block
    border-radius: rem(100)
    height: rem(2)
    margin-right: $size-4
    min-width: rem(25)
    width: rem(25)
    +desktop-min
      min-width: rem(50)
      width: rem(50)

  &.color-primary--500
    &:before
      background-color: $primary-500

  &.color-secondary--500
    &:before
      background-color: $secondary-500

  &.color-tertiary--500
    &:before
      background-color: $tertiary-500

// ************************************************************************************
// ************************************************************************************
// ************************************************************************************
// ************************************************************************************

.highlight-text
  background-image: linear-gradient(to right, $tertiary-500 0%, $tertiary-500 100%)
  background-repeat: repeat-x 
  background-position: 0 85%
  background-size: 100% 8px
  +desktop-min
    background-size: 100% 10px