svg#condominio(version='1.1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 730 820' style='enable-background:new 0 0 730 820' space='preserve')
  style .st0{fill:#3ebec1}.st1{fill:#7ff4f1}.st2{fill:#33a098}.st3{fill:#66d8d2}.st4{fill:#cc6646}.st5{fill:#69772d}.st6{fill:#ecf9a2}.st7{fill:#8fa54a}.st8{fill:#ffcb8d}.st9{fill:#f4997d}
  g#predio-2
    path.st0(d='M509.4 203.5v-.1c-.1-2.2-.8-4.4-2.1-6.2-1.3-1.8-3-3.3-5.1-4.1h-.1c-.2-.1-.4-.2-.7-.3l-69-26c-2.4-1-5-1.1-7.4-.5l-78.5 21.3c-2.5.7-4.6 2.1-6.2 4.2-1.6 2-2.4 4.5-2.4 7.1V296h.1v184l69.6 24.1 101.7-27.6V203.8c.1-.1.1-.2.1-.3z')
    path.st1(d='m416.3 213.9 78.5-21.3c1.7-.5 3.5-.5 5.3-.2 1.8.3 3.4 1.1 4.8 2.2s2.6 2.5 3.4 4.1c.8 1.6 1.2 3.4 1.2 5.2v272.8l-101.7 27.6V225.1c0-2.6.8-5 2.4-7.1 1.5-2 3.6-3.5 6.1-4.1z')
    path.st2(d='m346.6 356.9 49.9 15.4v21.3l-49.9-17.7v-19z')
    path.st3(d='m378.9 366.8-32.3 9.1v-19l32.3 9.9z')
    path.st2(d='m346.6 323 49.9 15.4v21.3L346.6 342v-19z')
    path.st3(d='m378.9 332.9-32.3 9.1v-19l32.3 9.9z')
    path.st2(d='m346.6 289.1 49.9 15.4v21.3l-49.9-17.7v-19z')
    path.st3(d='m378.9 299-32.3 9.1v-19l32.3 9.9z')
    path.st2(d='m346.6 255.2 49.9 15.4v21.3l-49.9-17.7v-19z')
    path.st3(d='m378.9 265.1-32.3 9.1v-19l32.3 9.9z')
    path.st2(d='m346.6 221.3 49.9 15.4V258l-49.9-17.7v-19z')
    path.st3(d='m378.9 231.2-32.3 9.1v-19l32.3 9.9zM346 482.8l.8-81.4c0-1.2.3-2.3.9-3.4.6-1 1.3-1.9 2.3-2.6 1-.7 2.1-1.1 3.3-1.3 1.2-.2 2.4 0 3.5.4l33.1 12.1c2 .7 3.7 2 4.9 3.7 1.2 1.7 1.8 3.8 1.8 5.9v52.5L346 482.8z')
    path.st2(d='M396.5 500.3v-31.6L346 482.8l50.5 17.5z')
    path.st0(d='M423.8 468c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-2-.6-2.8-3.2-2.1-6z')
    path.st0(d='M429.6 469c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1zM426 474z')
    path.st1(d='M428.7 463.6c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M446.3 461.8c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4s.2 5.5 2.2 6l1 .3c-2-.7-2.9-3.3-2.1-6z')
    path.st0(d='M452.1 462.8c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1zM448.6 467.8z')
    path.st1(d='M451.2 457.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 2 1.4 3.6z')
    path.st0(d='M468.9 455.4c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.5-2.8-3.1-2.1-5.9z')
    path.st0(d='M474.7 456.4c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.3 2.8-1.4 3.1-3.1z')
    path.st1(d='M473.8 451.1c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 2 1.4 3.6z')
    path.st0(d='M491.6 449.6c.7-2.8 2.9-4.9 4.9-4.4.1 0 .1 0 .2.1l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2-.7-2.9-3.3-2.2-6z')
    path.st0(d='M497.4 450.6c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.2 2.7-1.4 3.1-3.1zM493.9 455.6z')
    path.st1(d='M496.5 445.2c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 2 1.4 3.6z')
    path.st0(d='M423.8 412.1c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-2-.5-2.8-3.1-2.1-5.9z')
    path.st0(d='M429.6 413.1c.4-1.6-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM426 418.1z')
    path.st1(d='M428.7 407.8c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.8-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.2.4 1.7 2 1.4 3.6z')
    path.st0(d='M446.3 405.9c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-2-.5-2.9-3.1-2.1-5.9z')
    path.st0(d='M452.1 406.9c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1zM448.6 411.9z')
    path.st1(d='M451.2 401.5c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M468.9 399.6c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.7-2.8-3.2-2.1-6z')
    path.st0(d='M474.7 400.6c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.2 2.8-1.4 3.1-3.1zM471.2 405.6c.1 0 0 0 0 0z')
    path.st1(d='M473.8 395.2c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M491.6 393.7c.7-2.8 2.9-4.9 4.9-4.4.1 0 .1 0 .2.1l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4s.2 5.5 2.2 6l1.1.3c-2-.6-2.9-3.2-2.2-6z')
    path.st0(d='M497.4 394.7c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.2 2.7-1.4 3.1-3.1z')
    path.st1(d='M496.5 389.3c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8s1.9-3.1 3.1-2.8c1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M423.8 356.3c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-2-.7-2.8-3.2-2.1-6z')
    path.st0(d='M429.6 357.3c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1z')
    path.st1(d='M428.7 351.9c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M446.3 350c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-2-.5-2.9-3.1-2.1-5.9z')
    path.st0(d='M452.1 351c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1z')
    path.st1(d='M451.2 345.7c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 2 1.4 3.6z')
    path.st0(d='M468.9 343.7c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.5-2.8-3.1-2.1-5.9z')
    path.st0(d='M474.7 344.7c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.3 2.8-1.4 3.1-3.1zM471.2 349.7z')
    path.st1(d='M473.8 339.3c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M491.6 337.8c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2-.6-2.9-3.2-2.2-6z')
    path.st0(d='M497.4 338.8c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.3 2.7-1.4 3.1-3.1z')
    path.st1(d='M496.5 333.5c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.8-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 2 1.4 3.6z')
    path.st0(d='M423.8 300.4c.7-2.8 2.9-4.9 4.9-4.4.1 0 .1 0 .2.1l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-2-.6-2.8-3.2-2.1-6z')
    path.st0(d='M429.6 301.4c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM426 306.4z')
    path.st1(d='M428.7 296c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M446.3 294.2c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-2-.7-2.9-3.2-2.1-6z')
    path.st0(d='M452.1 295.2c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1zM448.6 300.2z')
    path.st1(d='M451.2 289.8c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M468.9 287.9c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.7-2.8-3.3-2.1-6z')
    path.st0(d='M474.7 288.8c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.3 2.8-1.4 3.1-3.1zM471.2 293.9z')
    path.st1(d='M473.8 283.5c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 2 1.4 3.6z')
    path.st0(d='M491.6 282c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4s.2 5.5 2.2 6l1.1.3c-2-.6-2.9-3.1-2.2-5.9z')
    path.st0(d='M497.4 283c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.3.2 2.7-1.4 3.1-3.1zM493.9 288z')
    path.st1(d='M496.5 277.6c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M423.8 244.6c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-2-.6-2.8-3.2-2.1-5.9z')
    path.st0(d='M429.6 245.5c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1z')
    path.st1(d='M428.7 240.2c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.2.4 1.7 2 1.4 3.6z')
    path.st0(d='M446.3 238.3c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-2-.5-2.9-3.1-2.1-5.9z')
    path.st0(d='M452.1 239.3c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM448.6 244.3z')
    path.st1(d='M451.2 233.9c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M468.9 232c.7-2.8 2.9-4.9 4.9-4.4.1 0 .1 0 .2.1l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.6-2.8-3.2-2.1-6z')
    path.st0(d='M474.7 233c.4-1.6-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.3.2 2.8-1.4 3.1-3.1z')
    path.st1(d='M473.8 227.6c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M491.6 226.1c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4s.2 5.5 2.2 6l1.1.3c-2-.6-2.9-3.2-2.2-6z')
    path.st0(d='M497.4 227.1c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.3 2.7-1.4 3.1-3.1zM493.9 232.1z')
    path.st1(d='M496.5 221.7c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
  g#predio-1
    path.st0(d='M319.4 150.5v-.1c-.1-2.2-.8-4.4-2.1-6.2-1.3-1.8-3-3.3-5.1-4.1h-.1c-.2-.1-.4-.2-.7-.3l-69-25.9c-2.4-1-5-1.1-7.4-.5l-78.5 21.3c-2.5.7-4.6 2.1-6.2 4.2-1.6 2-2.4 4.5-2.4 7.1l.1 499.7 69.6 24.1 101.7-27.6V150.8c.1-.1.1-.2.1-.3z')
    path.st1(d='m226.3 160.8 78.5-21.3c1.7-.5 3.5-.5 5.3-.2 1.8.3 3.4 1.1 4.8 2.2s2.6 2.5 3.4 4.1c.8 1.6 1.2 3.4 1.2 5.2v491.3l-101.7 27.6V172.1c0-2.6.8-5 2.4-7.1 1.5-2 3.6-3.5 6.1-4.2z')
    path.st2(d='m156.6 491.5 49.9 15.4v49.7l-49.9-17.7v-47.4z')
    path.st3(d='m206.5 524.8-49.9 14v-47.4l49.9 15.4v18z')
    path.st2(d='m156.6 427.7 49.9 15.4v49.7l-49.9-17.7v-47.4z')
    path.st3(d='m206.5 461.1-49.9 14v-47.4l49.9 15.4v18z')
    path.st2(d='m156.6 364 49.9 15.4v49.7l-49.9-17.7V364z')
    path.st3(d='m206.5 397.4-49.9 14V364l49.9 15.4v18z')
    path.st2(d='m156.6 300.3 49.9 15.4v49.7l-49.9-17.7v-47.4z')
    path.st3(d='m206.5 333.7-49.9 14v-47.4l49.9 15.4v18z')
    path.st2(d='m156.6 236.6 49.9 15.4v49.7L156.6 284v-47.4z')
    path.st3(d='m206.5 270-49.9 14v-47.4l49.9 15.4v18z')
    path.st2(d='m156.6 172.9 49.9 15.4V238l-49.9-17.7v-47.4z')
    path.st3(d='m206.5 206.2-49.9 14v-47.4l49.9 15.4v18zM156 648.3l.8-81.4c0-1.2.3-2.3.9-3.4.6-1 1.3-1.9 2.3-2.6 1-.7 2.1-1.1 3.3-1.3s2.4 0 3.5.4l33.1 12.1c2 .7 3.7 2 4.9 3.7 1.2 1.7 1.8 3.8 1.8 5.9v52.5L156 648.3z')
    path.st2(d='M206.5 665.8v-31.6L156 648.3l50.5 17.5z')
    path.st0(d='M233.8 633.5c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2.1-.5-2.9-3.1-2.2-5.9z')
    path.st0(d='M239.6 634.5c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1zM236 639.5z')
    path.st1(d='M238.7 629.1c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5.1-2.2-5.6zm.8 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M256.2 627.3c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.7-2.8-3.3-2.1-6z')
    path.st0(d='M262.1 628.2c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM258.5 633.3c.1 0 .1 0 0 0z')
    path.st1(d='M261.2 622.9c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 2 1.4 3.6z')
    path.st0(d='M278.9 620.9c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.6-2.8-3.2-2.1-6z')
    path.st0(d='M284.7 621.9c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.3 2.8-1.4 3.1-3.1zM281.2 626.9z')
    path.st1(d='M283.8 616.6c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.8-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.3.4 1.8 2 1.4 3.6z')
    path.st0(d='M301.6 615.1c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2-.6-2.9-3.2-2.2-5.9z')
    path.st0(d='M307.4 616.1c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1zM303.9 621.1z')
    path.st1(d='M306.5 610.7c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.5 1.8 2 1.4 3.6z')
    path.st0(d='M233.8 578.2c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2.1-.6-2.9-3.1-2.2-5.9z')
    path.st0(d='M239.6 579.2c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1z')
    path.st1(d='M238.7 573.8c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5.1-2.2-5.6zm.8 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M256.2 571.9c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.5-2.8-3.1-2.1-5.9z')
    path.st0(d='M262.1 572.9c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM258.5 577.9z')
    path.st1(d='M261.2 567.6c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 2 1.4 3.6z')
    path.st0(d='M278.9 565.6c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.5-2.8-3.1-2.1-5.9z')
    path.st0(d='M284.7 566.6c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.3.3 2.8-1.4 3.1-3.1z')
    path.st1(d='M283.8 561.2c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.3.4 1.8 2 1.4 3.6z')
    path.st0(d='M301.6 559.8c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2-.7-2.9-3.3-2.2-6z')
    path.st0(d='M307.4 560.7c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM303.9 565.8z')
    path.st1(d='M306.5 555.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 2 1.4 3.6z')
    path.st0(d='M233.8 522.9c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2.1-.7-2.9-3.2-2.2-6z')
    path.st0(d='M239.6 523.9c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1z')
    path.st1(d='M238.7 518.5c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5.1-2.2-5.6zm.8 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 2 1.4 3.6z')
    path.st0(d='M256.2 516.6c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.6-2.8-3.2-2.1-6z')
    path.st0(d='M262.1 517.6c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM258.5 522.6z')
    path.st1(d='M261.2 512.3c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.8-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 2 1.4 3.6z')
    path.st0(d='M278.9 510.3c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.6-2.8-3.2-2.1-6z')
    path.st0(d='M284.7 511.3c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.3 2.8-1.4 3.1-3.1z')
    path.st1(d='M283.8 505.9c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M301.6 504.4c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2-.5-2.9-3.1-2.2-5.9z')
    path.st0(d='M307.4 505.4c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1z')
    path.st1(d='M306.5 500.1c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.8-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 2 1.4 3.6z')
    path.st0(d='M233.8 467.6c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2.1-.6-2.9-3.2-2.2-5.9z')
    path.st0(d='M239.6 468.5c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM236 473.6z')
    path.st1(d='M238.7 463.2c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5.1-2.2-5.6zm.8 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 2 1.4 3.6z')
    path.st0(d='M256.2 461.3c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.5-2.8-3.1-2.1-5.9z')
    path.st0(d='M262.1 462.3c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM258.5 467.3z')
    path.st1(d='M261.2 456.9c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M278.9 455c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.5-2.8-3.1-2.1-5.9z')
    path.st0(d='M284.7 456c.4-1.6-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.2 2.8-1.4 3.1-3.1z')
    path.st1(d='M283.8 450.6c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M301.6 449.1c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2-.5-2.9-3.1-2.2-5.9z')
    path.st0(d='M307.4 450.1c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1z')
    path.st1(d='M306.5 444.7c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M233.8 412.2c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2.1-.6-2.9-3.2-2.2-6z')
    path.st0(d='M239.6 413.2c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1z')
    path.st1(d='M238.7 407.9c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.8-.2-5.1-2.2-5.6zm.8 5.3c-.4 1.7-1.8 3.4-3.1 3s-1.8-2-1.4-3.8c.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 2 1.4 3.6z')
    path.st0(d='M256.2 406c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.5-2.8-3.1-2.1-5.9z')
    path.st0(d='M262.1 407c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1z')
    path.st1(d='M261.2 401.6c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M278.9 399.7c.7-2.8 2.9-4.9 4.9-4.4.1 0 .1 0 .2.1l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.7-2.8-3.2-2.1-6z')
    path.st0(d='M284.7 400.7c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.2 2.8-1.4 3.1-3.1z')
    path.st1(d='M283.8 395.3c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M301.6 393.8c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2-.6-2.9-3.2-2.2-6z')
    path.st0(d='M307.4 394.8c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1zM303.9 399.8z')
    path.st1(d='M306.5 389.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M233.8 356.9c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2.1-.5-2.9-3.1-2.2-5.9z')
    path.st0(d='M239.6 357.9c.4-1.6-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1z')
    path.st1(d='M238.7 352.5c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5-2.2-5.6zm.8 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M256.2 350.7c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.6-2.8-3.2-2.1-6z')
    path.st0(d='M262.1 351.7c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1zM258.5 356.7c.1 0 .1 0 0 0z')
    path.st1(d='M261.2 346.3c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M278.9 344.4c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.7-2.8-3.2-2.1-6z')
    path.st0(d='M284.7 345.4c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.2 2.8-1.4 3.1-3.1zM281.2 350.4z')
    path.st1(d='M283.8 340c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.3.3 1.8 1.9 1.4 3.6z')
    path.st0(d='M301.6 338.5c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2-.5-2.9-3.1-2.2-5.9z')
    path.st0(d='M307.4 339.5c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1z')
    path.st1(d='M306.5 334.1c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M233.8 301.6c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2.1-.5-2.9-3.1-2.2-5.9z')
    path.st0(d='M239.6 302.6c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM236 307.6z')
    path.st1(d='M238.7 297.2c-2-.5-4.2 1.5-4.9 4.4s.2 5.5 2.2 6 4.3-2.1 4.9-4.8c.5-2.7-.2-5.1-2.2-5.6zm.8 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M256.2 295.4c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.6-2.8-3.1-2.1-5.9z')
    path.st0(d='M262.1 296.4c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1zM258.5 301.4z')
    path.st1(d='M261.2 291c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M278.9 289.1c.7-2.8 2.9-4.9 4.9-4.4.1 0 .1 0 .2.1l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.7-2.8-3.3-2.1-6z')
    path.st0(d='M284.7 290c.4-1.6-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.3.3 2.8-1.4 3.1-3.1z')
    path.st1(d='M283.8 284.7c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.3.4 1.8 2 1.4 3.6z')
    path.st0(d='M301.6 283.2c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2-.6-2.9-3.2-2.2-6z')
    path.st0(d='M307.4 284.2c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1zM303.9 289.2z')
    path.st1(d='M306.5 278.8c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M233.8 246.3c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2.1-.6-2.9-3.2-2.2-6z')
    path.st0(d='M239.6 247.3c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1z')
    path.st1(d='M238.7 241.9c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5.1-2.2-5.6zm.8 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M256.2 240.1c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.7-2.8-3.3-2.1-6z')
    path.st0(d='M262.1 241c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM258.5 246.1z')
    path.st1(d='M261.2 235.7c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 2 1.4 3.6z')
    path.st0(d='M278.9 233.7c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.6-2.8-3.2-2.1-6z')
    path.st0(d='M284.7 234.7c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.3 2.8-1.4 3.1-3.1z')
    path.st1(d='M283.8 229.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.8-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.3.4 1.8 2 1.4 3.6z')
    path.st0(d='M301.6 227.9c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2-.6-2.9-3.2-2.2-5.9z')
    path.st0(d='M307.4 228.9c.4-1.6-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1z')
    path.st1(d='M306.5 223.5c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 2 1.4 3.6z')
    path.st0(d='M233.8 191c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2.1-.5-2.9-3.1-2.2-5.9z')
    path.st0(d='M239.6 192c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1zM236 197z')
    path.st1(d='M238.7 186.6c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5.1-2.2-5.6zm.8 5.4c-.4 1.7-1.8 3.4-3.1 3s-1.8-2-1.4-3.8c.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M256.2 184.7c.7-2.8 2.9-4.9 4.9-4.4.1 0 .1 0 .2.1l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.6-2.8-3.2-2.1-6z')
    path.st0(d='M262.1 185.7c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM258.5 190.7z')
    path.st1(d='M261.2 180.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.8-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 2 1.4 3.6z')
    path.st0(d='M278.9 178.4c.7-2.8 2.9-4.9 4.9-4.4.1 0 .1 0 .2.1l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.6-2.8-3.2-2.1-6z')
    path.st0(d='M284.7 179.4c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.3 2.8-1.4 3.1-3.1zM281.2 184.4z')
    path.st1(d='M283.8 174c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M301.6 172.5c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2-.5-2.9-3.1-2.2-5.9z')
    path.st0(d='M307.4 173.5c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM303.9 178.6z')
    path.st1(d='M306.5 168.2c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.8-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 2 1.4 3.6z')
  g#predio-4
    path.st0(d='M774 123.5v-.1c-.1-2.2-.8-4.4-2.1-6.2-1.3-1.8-3-3.3-5.1-4.1h-.1c-.2-.1-.4-.2-.7-.3l-69-25.9c-2.4-1-5-1.1-7.4-.5l-78.5 21.3c-2.5.7-4.6 2.1-6.2 4.2-1.6 2-2.4 4.5-2.4 7.1l.1 442 69.6 24.1L774 557.4V123.5z')
    path.st1(d='m680.9 133.8 78.5-21.3c1.7-.5 3.5-.5 5.3-.2s3.4 1.1 4.8 2.2 2.6 2.5 3.4 4.1c.8 1.6 1.2 3.4 1.2 5.2v433.6L672.3 585V145.1c0-2.6.8-5 2.4-7.1 1.5-2 3.7-3.5 6.2-4.2z')
    path.st2(d='m611.2 406.8 49.9 15.4v49.7l-49.9-17.7v-47.4z')
    path.st3(d='m661.1 440.1-49.9 14v-47.4l49.9 15.4v18z')
    path.st2(d='m611.2 343 49.9 15.4v49.7l-49.9-17.7V343z')
    path.st3(d='m661.1 376.4-49.9 14V343l49.9 15.4v18z')
    path.st2(d='m611.2 279.3 49.9 15.4v49.7l-49.9-17.7v-47.4z')
    path.st3(d='m661.1 312.7-49.9 14v-47.4l49.9 15.4v18zM610.6 563.6l.8-81.4c0-1.2.3-2.3.9-3.4.6-1 1.4-1.9 2.3-2.6 1-.7 2.1-1.1 3.3-1.3 1.2-.2 2.4 0 3.5.4l33.1 12.1c2 .7 3.7 2 4.9 3.7 1.2 1.7 1.8 3.8 1.8 5.9v52.5l-50.6 14.1z')
    path.st2(d='M661.1 581.1v-31.6l-50.5 14.1 50.5 17.5z')
    path.st0(d='M688.4 548.8c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2.1-.5-2.9-3.1-2.2-5.9z')
    path.st0(d='M694.2 549.8c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3s-1.3 2.8-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1z')
    path.st1(d='M693.3 544.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M710.8 542.6c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4s.2 5.5 2.2 6l1 .3c-1.9-.6-2.8-3.2-2.1-5.9z')
    path.st0(d='M716.7 543.5c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM713.1 548.6z')
    path.st1(d='M715.8 538.2c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 2 1.4 3.6z')
    path.st0(d='M688.4 493.5c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2.1-.7-2.9-3.2-2.2-6z')
    path.st0(d='M694.2 494.5c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3s-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1z')
    path.st1(d='M693.3 489.1c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M710.8 487.2c.7-2.8 2.9-4.9 4.9-4.4.1 0 .1 0 .2.1l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4s.2 5.5 2.2 6l1 .3c-1.9-.6-2.8-3.2-2.1-6z')
    path.st0(d='M716.7 488.2c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1z')
    path.st1(d='M715.8 482.9c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.8-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 2 1.4 3.6z')
    path.st0(d='M688.4 438.2c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2.1-.6-2.9-3.2-2.2-5.9z')
    path.st0(d='M694.2 439.2c.4-1.6-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1z')
    path.st1(d='M693.3 433.8c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 2 1.4 3.6z')
    path.st0(d='M710.8 431.9c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.6-2.8-3.2-2.1-6z')
    path.st0(d='M716.7 432.9c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM713.1 437.9z')
    path.st1(d='M715.8 427.5c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M688.4 382.9c.7-2.8 2.9-4.9 4.9-4.4.1 0 .1 0 .2.1l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2.1-.7-2.9-3.3-2.2-6z')
    path.st0(d='M694.2 383.8c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1z')
    path.st1(d='M693.3 378.5c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 2 1.4 3.6z')
    path.st0(d='M710.8 376.6c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4s.2 5.5 2.2 6l1 .3c-1.9-.5-2.8-3.1-2.1-5.9z')
    path.st0(d='M716.7 377.6c.4-1.6-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM713.1 382.6z')
    path.st1(d='M715.8 372.2c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M688.4 327.5c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2.1-.6-2.9-3.2-2.2-6z')
    path.st0(d='M694.2 328.5c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3s-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1z')
    path.st1(d='M693.3 323.2c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.8-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 2 1.4 3.6z')
    path.st0(d='M710.8 321.3c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.6-2.8-3.2-2.1-6z')
    path.st0(d='M716.7 322.3c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1z')
    path.st1(d='M715.8 316.9c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M688.4 272.2c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2.1-.5-2.9-3.1-2.2-5.9z')
    path.st0(d='M694.2 273.2c.4-1.6-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1z')
    path.st1(d='M693.3 267.8c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M710.8 266c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4s.2 5.5 2.2 6l1 .3c-1.9-.6-2.8-3.1-2.1-5.9z')
    path.st0(d='M716.7 267c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1zM713.1 272z')
    path.st1(d='M715.8 261.6c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M688.4 216.9c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2.1-.6-2.9-3.2-2.2-6z')
    path.st0(d='M694.2 217.9c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1z')
    path.st1(d='M693.3 212.5c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M710.8 210.7c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.6-2.8-3.2-2.1-5.9z')
    path.st0(d='M716.7 211.7c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1zM713.1 216.7z')
    path.st1(d='M715.8 206.3c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.5 1.7 2 1.4 3.6z')
    path.st0(d='M688.4 161.6c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2.1-.5-2.9-3.1-2.2-5.9z')
    path.st0(d='M694.2 162.6c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1zM690.6 167.6z')
    path.st1(d='M693.3 157.2c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M710.8 155.4c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4s.2 5.5 2.2 6l1 .3c-1.9-.7-2.8-3.3-2.1-6z')
    path.st0(d='M716.7 156.3c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM713.1 161.4z')
    path.st1(d='M715.8 151c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 2 1.4 3.6z')
    path.st2(d='m611.2 246.1 49.9 15.4v21.3l-49.9-17.7v-19z')
    path.st3(d='m643.5 256-32.3 9.1v-19l32.3 9.9z')
    path.st2(d='m611.2 212.3 49.9 15.4V249l-49.9-17.7v-19z')
    path.st3(d='m643.5 222.2-32.3 9.1v-19l32.3 9.9z')
    path.st2(d='m611.2 178.4 49.9 15.4v21.3l-49.9-17.7v-19z')
    path.st3(d='m643.5 188.3-32.3 9.1v-19l32.3 9.9z')
    path.st2(d='m611.2 144.1 49.9 15.4v21.3L611.2 163v-18.9z')
    path.st3(d='m643.5 154-32.3 9.1v-19l32.3 9.9z')
  g#predio-3
    path.st0(d='M627.4 409.6v-.1c-.1-2.2-.8-4.4-2.1-6.2-1.3-1.8-3-3.3-5.1-4.1h-.1c-.2-.1-.4-.2-.7-.3l-69-26c-2.4-1-5-1.1-7.4-.5l-78.5 21.3c-2.5.7-4.6 2.1-6.2 4.2-1.6 2-2.4 4.5-2.4 7.1v97h.1v184.1l69.6 24.1 101.7-27.6V409.8c.1-.1.1-.1.1-.2z')
    path.st1(d='m534.3 419.9 78.5-21.3c1.7-.5 3.5-.5 5.3-.2 1.8.3 3.4 1.1 4.8 2.2s2.6 2.5 3.4 4.1c.8 1.6 1.2 3.4 1.2 5.2v272.8l-101.7 27.6V431.1c0-2.6.8-5 2.4-7.1 1.5-2 3.6-3.5 6.1-4.1z')
    path.st2(d='m464.6 562.9 49.9 15.4v21.3l-49.9-17.7v-19z')
    path.st3(d='m496.9 572.8-32.3 9.1v-19l32.3 9.9z')
    path.st2(d='m464.6 529 49.9 15.4v21.3L464.6 548v-19z')
    path.st3(d='m496.9 538.9-32.3 9.1v-19l32.3 9.9z')
    path.st2(d='m464.6 495.1 49.9 15.4v21.3l-49.9-17.7v-19z')
    path.st3(d='m496.9 505-32.3 9.1v-19l32.3 9.9z')
    path.st2(d='m464.6 461.3 49.9 15.4V498l-49.9-17.7v-19z')
    path.st3(d='m496.9 471.2-32.3 9.1v-19l32.3 9.9z')
    path.st2(d='m464.6 427.4 49.9 15.4v21.3l-49.9-17.7v-19z')
    path.st3(d='m496.9 437.3-32.3 9.1v-19l32.3 9.9zM464 688.8l.8-81.4c0-1.2.3-2.3.9-3.4.6-1 1.3-1.9 2.3-2.6 1-.7 2.1-1.1 3.3-1.3 1.2-.2 2.4 0 3.5.4l33.1 12.1c2 .7 3.7 2 4.9 3.7 1.2 1.7 1.8 3.8 1.8 5.9v52.5L464 688.8z')
    path.st2(d='M514.5 706.3v-31.6L464 688.8l50.5 17.5z')
    path.st0(d='M541.8 674c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-2-.6-2.8-3.2-2.1-6z')
    path.st0(d='M547.6 675c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM544 680z')
    path.st1(d='M546.7 669.7c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.8-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 2 1.4 3.6z')
    path.st0(d='M564.3 667.8c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-2-.6-2.9-3.2-2.1-6z')
    path.st0(d='M570.1 668.8c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1zM566.6 673.8z')
    path.st1(d='M569.2 663.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M586.9 661.5c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.6-2.8-3.1-2.1-5.9z')
    path.st0(d='M592.7 662.5c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.2 2.8-1.4 3.1-3.1z')
    path.st1(d='M591.8 657.1c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M609.6 655.6c.7-2.8 2.9-4.9 4.9-4.4.1 0 .1 0 .2.1l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2-.6-2.9-3.2-2.2-6z')
    path.st0(d='M615.4 656.6c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.2 2.7-1.4 3.1-3.1zM611.9 661.6z')
    path.st1(d='M614.5 651.2c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M541.8 618.2c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-2-.6-2.8-3.1-2.1-5.9z')
    path.st0(d='M547.6 619.2c.4-1.6-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1zM544 624.2z')
    path.st1(d='M546.7 613.8c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 2 1.4 3.6z')
    path.st0(d='M564.3 611.9c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-2-.5-2.9-3.1-2.1-5.9z')
    path.st0(d='M570.1 612.9c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM566.6 617.9z')
    path.st1(d='M569.2 607.5c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M586.9 605.6c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.6-2.8-3.2-2.1-6z')
    path.st0(d='M592.7 606.6c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3s-1.3 2.7-2.4 3l.6.3c1.3.3 2.8-1.4 3.1-3.1zM589.2 611.6c.1 0 0 0 0 0z')
    path.st1(d='M591.8 601.2c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M609.6 599.7c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2-.5-2.9-3.1-2.2-5.9z')
    path.st0(d='M615.4 600.7c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.3 2.7-1.4 3.1-3.1z')
    path.st1(d='M614.5 595.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.8-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.3.4 1.8 2 1.4 3.6z')
    path.st0(d='M541.8 562.3c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-2-.6-2.8-3.2-2.1-6z')
    path.st0(d='M547.6 563.3c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1z')
    path.st1(d='M546.7 557.9c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M564.3 556.1c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-2-.6-2.9-3.2-2.1-5.9z')
    path.st0(d='M570.1 557.1c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1z')
    path.st1(d='M569.2 551.7c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M586.9 549.7c.7-2.8 2.9-4.9 4.9-4.4.1 0 .1 0 .2.1l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.6-2.8-3.2-2.1-6z')
    path.st0(d='M592.7 550.7c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.3 2.8-1.4 3.1-3.1zM589.2 555.7z')
    path.st1(d='M591.8 545.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 2 1.4 3.6z')
    path.st0(d='M609.6 543.9c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2-.7-2.9-3.2-2.2-6z')
    path.st0(d='M615.4 544.9c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.2 2.7-1.4 3.1-3.1z')
    path.st1(d='M614.5 539.5c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.3.3 1.8 1.9 1.4 3.6z')
    path.st0(d='M541.8 506.4c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-2-.5-2.8-3.1-2.1-5.9z')
    path.st0(d='M547.6 507.4c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM544 512.4z')
    path.st1(d='M546.7 502.1c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.8-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 2 1.4 3.6z')
    path.st0(d='M564.3 500.2c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-2-.6-2.9-3.2-2.1-6z')
    path.st0(d='M570.1 501.2c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1zM566.6 506.2z')
    path.st1(d='M569.2 495.8c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M586.9 493.9c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.7-2.8-3.2-2.1-6z')
    path.st0(d='M592.7 494.9c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.2 2.8-1.4 3.1-3.1zM589.2 499.9z')
    path.st1(d='M591.8 489.5c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M609.6 488c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2-.5-2.9-3.1-2.2-5.9z')
    path.st0(d='M615.4 489c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.3.2 2.7-1.4 3.1-3.1zM611.9 494z')
    path.st1(d='M614.5 483.6c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M541.8 450.6c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-2-.6-2.8-3.1-2.1-5.9z')
    path.st0(d='M547.6 451.6c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.2.2 2.7-1.4 3.1-3.1z')
    path.st1(d='M546.7 446.2c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.2.4 1.7 1.9 1.4 3.6z')
    path.st0(d='M564.3 444.3c.7-2.8 2.9-4.9 4.9-4.4h.2l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-2-.5-2.9-3.1-2.1-5.9z')
    path.st0(d='M570.1 445.3c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.2.3 2.7-1.4 3.1-3.1zM566.6 450.3z')
    path.st1(d='M569.2 440c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8c.5-2.7-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.9-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.2.4 1.7 2 1.4 3.6z')
    path.st0(d='M586.9 438c.7-2.8 2.9-4.9 4.9-4.4.1 0 .1 0 .2.1l-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1 .3c-1.9-.6-2.8-3.2-2.1-6z')
    path.st0(d='M592.7 439c.4-1.6-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.8-2.4 3l.6.3c1.3.3 2.8-1.4 3.1-3.1z')
    path.st1(d='M591.8 433.6c-2-.5-4.2 1.5-4.9 4.4s.2 5.5 2.2 6 4.3-2.1 4.9-4.8c.6-2.7-.2-5.1-2.2-5.6zm.9 5.4c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.9-3.1 3.1-2.8 1.3.4 1.8 1.9 1.4 3.6z')
    path.st0(d='M609.6 432.1c.7-2.8 2.9-4.9 4.9-4.4l.2.1-1.3-.4c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6l1.1.3c-2-.6-2.9-3.2-2.2-6z')
    path.st0(d='M615.4 433.1c.4-1.7-.1-3.2-1.4-3.5-.2-.1-.5-.1-.7 0 .8.6 1.1 1.9.8 3.3-.3 1.4-1.3 2.7-2.4 3l.6.3c1.3.3 2.7-1.4 3.1-3.1zM611.9 438.1z')
    path.st1(d='M614.5 427.8c-2-.5-4.2 1.5-4.9 4.4-.7 2.8.2 5.5 2.2 6s4.3-2.1 4.9-4.8-.2-5.1-2.2-5.6zm.9 5.3c-.4 1.7-1.8 3.4-3.1 3-1.3-.3-1.8-2-1.4-3.8.5-1.8 1.8-3.1 3.1-2.8 1.3.4 1.8 2 1.4 3.6z')
  g#arvore-2
    path.st4(d='M340.4 601.7c-4.7 0-8.4 2.1-8.4 4.7v46.2c0 2.6 3.8 4.7 8.4 4.7 4.7 0 8.5-2.1 8.5-4.7v-46.2c-.1-2.6-3.9-4.7-8.5-4.7z')
    path.st5(d='m298.5 585.3 35.8 9.6c.3 13.4-7.5 22.2-17.4 19.5-9.9-2.6-18.1-15.7-18.4-29.1z')
    path.st6(d='m298.5 585.3 18.3-5.6 35.8 9.6-18.3 5.6-35.8-9.6z')
    path.st7(d='M352.7 589.9v-.5l-18.3 5.6c.2 9.7-3.8 17-9.8 19.2 14.2-4.7 28.4-4.8 28.1-24.3z')
    path.st5(d='m328.1 593.3 35.8 9.6c.3 13.4-7.5 22.1-17.4 19.5-9.9-2.6-18.1-15.6-18.4-29.1z')
    path.st6(d='m328.1 593.3 18.3-5.6 35.8 9.6-18.3 5.6-35.8-9.6z')
    path.st7(d='M382.2 597.9v-.5l-18.3 5.6c.2 9.7-3.8 17-9.8 19.2 14.3-4.6 28.5-4.8 28.1-24.3z')
    path.st5(d='m314 565.9 35.8 9.6c.3 13.4-7.5 22.2-17.4 19.5-9.9-2.7-18.2-15.7-18.4-29.1z')
    path.st6(d='m314 565.9 18.3-5.6 35.8 9.6-18.3 5.6-35.8-9.6z')
    path.st7(d='M368.1 570.4v-.5l-18.3 5.6c.2 9.7-3.8 17-9.8 19.2 14.2-4.6 28.5-4.7 28.1-24.3z')
  g#arvore-1
    path.st4(d='M37 485.4s2 25.8 22.1 32.7l-.2-7.5s-15-5-15.8-25.1l-6.1-.1z')
    path.st8(d='M43.2 485.6c.9 20 15.8 25.1 15.8 25.1l.1 5.2c1.6.9 3.2 1.7 4.9 2.3l-.2-7.5s-15-5-15.8-25.1l-6.1-.2v.1l1.3.1z')
    path.st4(d='M94.7 555.5c-7 0-12.7 3.1-12.7 7v69.2c0 3.9 5.7 7 12.7 7 7 0 12.7-3.1 12.7-7v-69.3c0-3.7-5.7-6.9-12.7-6.9z')
    path.st5(d='m31.9 531 53.7 14.4c.4 20.1-11.3 33.2-26.1 29.2-14.8-4-27.2-23.5-27.6-43.6z')
    path.st6(d='m31.9 531 27.5-8.4 53.7 14.4-27.5 8.4L31.9 531z')
    path.st7(d='M113.1 537.8v-.8l-27.5 8.4c.3 14.6-5.8 25.5-14.8 28.9 21.6-7 42.9-7.2 42.3-36.5z')
    path.st5(d='m76.3 543 53.7 14.4c.4 20.1-11.3 33.2-26.1 29.2-14.8-3.9-27.2-23.5-27.6-43.6z')
    path.st6(d='m76.3 543 27.5-8.4 53.7 14.4-27.5 8.4L76.3 543z')
    path.st7(d='M157.5 549.8v-.8l-27.5 8.4c.3 14.6-5.8 25.5-14.8 28.9 21.5-7 42.8-7.1 42.3-36.5z')
    path.st5(d='m55.1 501.8 53.7 14.4c.4 20.1-11.3 33.2-26.1 29.2-14.8-4-27.2-23.5-27.6-43.6z')
    path.st6(d='m55.1 501.8 27.5-8.4 53.7 14.4-27.5 8.4-53.7-14.4z')
    path.st7(d='M136.3 508.6v-.8l-27.5 8.4c.3 14.6-5.8 25.5-14.8 28.9 21.5-7 42.8-7.2 42.3-36.5z')
    path.st9(d='M97.6 471.1c-4.5 0-8.2 1.4-8.2 3.2v31.4c0 1.7 3.7 3.2 8.2 3.2 4.5 0 8.2-1.4 8.2-3.2v-31.4c0-1.8-3.7-3.2-8.2-3.2z')
    path.st5(d='m68 458.4 41.9 11.2c.3 15.7-8.8 25.9-20.4 22.8-11.6-3-21.2-18.2-21.5-34z')
    path.st6(d='m68 458.4 21.5-6.5 41.9 11.2-21.5 6.5L68 458.4z')
    path.st7(d='M131.4 463.8v-.6l-21.5 6.5c.2 11.4-4.5 19.9-11.5 22.5 16.7-5.4 33.4-5.5 33-28.4z')
    path.st5(d='m89 442.8 34.7 9.3c.3 13-7.3 21.5-16.9 18.9-9.6-2.5-17.6-15.2-17.8-28.2z')
    path.st6(d='m89 442.8 17.8-5.4 34.7 9.3-17.8 5.4-34.7-9.3z')
    path.st7(d='M141.5 447.2v-.5l-17.8 5.4c.2 9.4-3.7 16.5-9.5 18.7 13.8-4.5 27.6-4.6 27.3-23.6z')
    path.st9(d='m139.9 561.8.1 9.4s25.7 6.8 25.7-30.5l-7.1-.9s-.4 26.3-18.7 22z')
    path.st9(d='m140.1 561.8.1 9.4s25.7 6.8 25.7-30.5l-7.1-.9s-.4 26.3-18.7 22z')
    path.st4(d='M140.1 561.8c4.2 1 7.4.3 10-1.2-1.7.2-3.7.1-5.1-.6l-5 1.8h.1z')
    path.st8(d='M165.8 540.7h.1c0 31.6-18.4 31.6-24.1 30.8 0 0 29.4 5.2 29.5-32.1l-5.5 1.3z')
    path.st9(d='m120.6 519.7.1 7.7s21.2 5.6 21.2-25.2l-5.9-.8c0 .1-.4 21.8-15.4 18.3z')
    path.st9(d='m120.7 519.7.1 7.7S142 533 142 502.2l-5.9-.8c0 .1-.3 21.8-15.4 18.3z')
    path.st4(d='M120.7 519.7c3.5.8 6.2.3 8.2-1-1.4.2-3 .1-4.2-.5l-4.2 1.5h.2z')
    path.st8(d='M141.9 502.2c.1 26.1-15.1 26.1-19.8 25.5 0 0 24.3 4.3 24.3-26.5l-4.5 1z')
    path.st5(d='m115.4 484.9 39.1 10.5c.3 14.7-8.2 24.2-19 21.3-10.8-2.9-19.8-17.2-20.1-31.8z')
    path.st6(d='m115.4 484.9 20-6.1 39.1 10.5-20 6.1-39.1-10.5z')
    path.st7(d='M174.5 489.8v-.6l-20 6.1c.2 10.6-4.2 18.6-10.7 21 15.6-5 31.1-5.1 30.7-26.5z')
    path.st5(d='m147.5 536.7 24.7 6.6c.2 9.3-5.2 15.3-12 13.5-6.8-1.8-12.5-10.8-12.7-20.1z')
    path.st6(d='m147.5 536.7 12.7-3.8 24.7 6.6-12.7 3.8-24.7-6.6z')
    path.st7(d='M184.9 539.9v-.4l-12.7 3.9c.1 6.7-2.7 11.7-6.8 13.3 10-3.2 19.8-3.3 19.5-16.8z')
    path.st5(d='m25 475.7 24.7 6.6c.2 9.3-5.2 15.3-12 13.5C30.9 494 25.2 485 25 475.7z')
    path.st6(d='m25 475.7 12.7-3.9 24.7 6.6-12.7 3.8-24.7-6.5z')
    path.st7(d='M62.4 478.8v-.4l-12.7 3.9c.1 6.7-2.7 11.7-6.8 13.3 9.9-3.2 19.7-3.3 19.5-16.8z')
    path.st5(d='m25.6 465 18.3 4.9c.1 6.9-3.8 11.3-8.9 10-5.1-1.4-9.3-8.1-9.4-14.9z')
    path.st6(d='m25.6 465 9.4-2.8 18.3 4.9-9.4 2.8-18.3-4.9z')
    path.st7(d='M53.3 467.3v-.3l-9.4 2.8c.1 5-2 8.7-5 9.8 7.3-2.3 14.5-2.3 14.4-12.3z')
  g#arvore-3
    path.st4(d='M431.9 468.4c-4.7 0-8.4 2.1-8.4 4.7v46.2c0 2.6 3.8 4.7 8.4 4.7s8.5-2.1 8.5-4.7v-46.2c-.1-2.6-3.9-4.7-8.5-4.7z')
    path.st5(d='m390 452 35.8 9.6c.3 13.4-7.5 22.2-17.4 19.5-9.9-2.6-18.1-15.6-18.4-29.1z')
    path.st6(d='m390 452 18.3-5.6 35.8 9.6-18.3 5.6L390 452z')
    path.st7(d='M444.1 456.6v-.5l-18.3 5.6c.2 9.7-3.8 17-9.8 19.2 14.3-4.7 28.5-4.8 28.1-24.3z')
    path.st5(d='m419.6 460.1 35.8 9.6c.3 13.4-7.5 22.1-17.4 19.5-9.9-2.7-18.1-15.7-18.4-29.1z')
    path.st6(d='m419.6 460.1 18.3-5.6 35.8 9.6-18.3 5.6-35.8-9.6z')
    path.st7(d='M473.7 464.6v-.5l-18.3 5.6c.2 9.7-3.8 17-9.8 19.2 14.3-4.6 28.5-4.7 28.1-24.3z')
    path.st5(d='m405.4 432.6 35.8 9.6c.3 13.4-7.5 22.2-17.4 19.5-9.9-2.7-18.1-15.7-18.4-29.1z')
    path.st6(d='m405.4 432.6 18.3-5.6 35.8 9.6-18.3 5.6-35.8-9.6z')
    path.st7(d='M459.6 437.1v-.5l-18.3 5.6c.2 9.7-3.8 17-9.8 19.2 14.2-4.6 28.4-4.7 28.1-24.3z')
  g#arvore-4
    path.st4(d='M598.9 661.4c-4.7 0-8.4 2.1-8.4 4.7v46.2c0 2.6 3.8 4.7 8.4 4.7s8.5-2.1 8.5-4.7v-46.2c-.1-2.6-3.9-4.7-8.5-4.7z')
    path.st5(d='m557 645 35.8 9.6c.3 13.4-7.5 22.2-17.4 19.5-9.9-2.6-18.1-15.6-18.4-29.1z')
    path.st6(d='m557 645 18.3-5.6 35.8 9.6-18.3 5.6L557 645z')
    path.st7(d='M611.1 649.6v-.5l-18.3 5.6c.2 9.7-3.8 17-9.8 19.2 14.3-4.7 28.5-4.8 28.1-24.3z')
    path.st5(d='m586.6 653.1 35.8 9.6c.3 13.4-7.5 22.1-17.4 19.5-9.9-2.7-18.1-15.7-18.4-29.1z')
    path.st6(d='m586.6 653.1 18.3-5.6 35.8 9.6-18.3 5.6-35.8-9.6z')
    path.st7(d='M640.7 657.6v-.5l-18.3 5.6c.2 9.7-3.8 17-9.8 19.2 14.3-4.6 28.5-4.7 28.1-24.3z')
    path.st5(d='m572.4 625.6 35.8 9.6c.3 13.4-7.5 22.2-17.4 19.5-9.9-2.7-18.1-15.7-18.4-29.1z')
    path.st6(d='m572.4 625.6 18.3-5.6 35.8 9.6-18.3 5.6-35.8-9.6z')
    path.st7(d='M626.6 630.1v-.5l-18.3 5.6c.2 9.7-3.8 17-9.8 19.2 14.2-4.6 28.4-4.7 28.1-24.3z')