svg(width='559' height='634' viewBox='0 0 559 634' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(d='M505.763 91.1775C505.763 91.1775 491.378 38.9769 461.357 23.774C449.982 18.0074 440.686 17.8959 433.328 21.1528L420.757 24.6217C420.757 24.6217 413.011 49.8409 412.248 54.6148C412.248 54.6148 397.365 41.1631 384.994 46.0151L371.261 50.1643L369.214 81.3174C369.081 82.9013 368.971 84.5409 368.893 86.2586V86.6155L525.681 138.593L543.607 133.741C543.607 133.741 531.103 79.2762 505.763 91.1775Z' fill='#7FF4F1')
  path(d='M525.681 138.593C525.681 138.593 513.221 84.5296 487.925 96.4309C487.925 96.4309 473.54 44.2191 443.53 29.0162C413.52 13.8134 397.951 37.839 394.421 59.8681C394.421 59.8681 354.342 23.6512 351.055 91.512L525.681 138.593Z' fill='#3EBEC1')
  path(d='M72.9984 371.015C72.9984 371.015 75.0008 396.837 95.1161 403.722L94.9225 396.243C94.9225 396.243 79.97 391.222 79.08 371.172L72.9984 371.015Z' fill='#CC6646')
  path(d='M79.1748 371.176C80.0689 391.222 95.0173 396.243 95.0173 396.243L95.1533 401.459C96.7233 402.374 98.3794 403.132 100.098 403.722L99.904 396.243C99.904 396.243 84.9515 391.222 84.0615 371.172L77.9799 371.015C77.9799 371.015 77.9799 371.065 77.9799 371.143L79.1748 371.176Z' fill='#FFCB8D')
  path(d='M130.724 441.134C123.719 441.134 118.054 444.263 118.054 448.143V517.387C118.054 521.25 123.727 524.396 130.724 524.396C137.72 524.396 143.394 521.263 143.394 517.387V448.126C143.394 444.263 137.72 441.134 130.724 441.134Z' fill='#CC6646')
  path(d='M67.9388 416.541L121.626 430.938C122.038 451.066 110.341 464.152 95.5201 460.182C80.6994 456.211 68.3426 436.673 67.9388 416.541Z' fill='#69772D')
  path(d='M67.9428 416.536L95.4376 408.179L149.125 422.572L121.63 430.929L67.9428 416.536Z' fill='#ECF9A2')
  path(d='M149.133 423.356V422.56L121.639 430.917C121.931 445.5 115.87 456.38 106.876 459.778C128.355 452.855 149.669 452.682 149.133 423.356Z' fill='#8FA54A')
  path(d='M112.306 428.596L165.993 442.989C166.405 463.122 154.708 476.208 139.887 472.233C125.066 468.259 112.71 448.728 112.306 428.596Z' fill='#69772D')
  path(d='M112.31 428.592L139.805 420.235L193.492 434.628L165.997 442.985L112.31 428.592Z' fill='#ECF9A2')
  path(d='M193.5 435.411V434.611L166.006 442.968C166.298 457.555 160.237 468.436 151.243 471.829C172.722 464.907 194.036 464.737 193.5 435.411Z' fill='#8FA54A')
  path(d='M91.0947 387.371L144.782 401.764C145.194 421.896 133.493 434.982 118.672 431.008C103.851 427.033 91.4985 407.499 91.0947 387.371Z' fill='#69772D')
  path(d='M91.0988 387.363L118.589 379.005L172.277 393.403L144.782 401.76L91.0988 387.363Z' fill='#ECF9A2')
  path(d='M172.285 394.182C172.285 393.918 172.285 393.386 172.285 393.386C172.285 393.386 172.285 393.386 172.264 393.386H172.285L144.79 401.748C145.083 416.334 139.022 427.215 130.027 430.608C151.502 423.682 172.821 423.512 172.285 394.182Z' fill='#8FA54A')
  path(d='M133.621 356.676C129.088 356.676 125.425 358.094 125.425 359.846V391.213C125.425 392.962 129.092 394.38 133.621 394.38C138.149 394.38 141.812 392.962 141.812 391.213V359.842C141.812 358.094 138.145 356.676 133.621 356.676Z' fill='#F4997D')
  path(d='M103.979 344.027L145.89 355.262C146.203 370.978 137.077 381.195 125.507 378.094C113.937 374.994 104.292 359.743 103.979 344.027Z' fill='#69772D')
  path(d='M103.979 344.023L125.441 337.496L167.353 348.735L145.89 355.258L103.979 344.023Z' fill='#ECF9A2')
  path(d='M167.361 349.345C167.361 349.139 167.361 348.723 167.361 348.723L145.899 355.245C146.125 366.633 141.395 375.126 134.362 377.765C151.14 372.372 167.778 372.24 167.361 349.345Z' fill='#8FA54A')
  path(d='M124.976 328.409L159.694 337.719C159.957 350.735 152.397 359.199 142.8 356.631C133.204 354.062 125.236 341.429 124.976 328.409Z' fill='#69772D')
  path(d='M124.98 328.405L142.759 323L177.477 332.309L159.698 337.715L124.98 328.405Z' fill='#ECF9A2')
  path(d='M177.481 332.817C177.481 332.643 177.481 332.301 177.481 332.301L159.702 337.706C159.892 347.135 155.973 354.173 150.155 356.358C164.045 351.893 177.827 351.782 177.481 332.817Z' fill='#8FA54A')
  path(d='M175.919 447.413L176.035 456.797C176.035 456.797 201.721 463.567 201.729 426.263L194.609 425.343C194.609 425.343 194.164 451.66 175.919 447.413Z' fill='#F4997D')
  path(d='M176.105 447.413L176.224 456.797C176.224 456.797 201.906 463.567 201.914 426.263L194.799 425.343C194.799 425.343 194.354 451.66 176.105 447.413Z' fill='#F4997D')
  path(d='M176.105 447.413C180.299 448.39 183.554 447.747 186.076 446.176C184.329 446.362 182.417 446.3 180.95 445.562L175.919 447.405L176.105 447.487V447.413Z' fill='#CC6646')
  path(d='M201.795 426.246H201.914C201.914 457.848 183.476 457.819 177.844 457.073V457.098C177.844 457.098 207.287 462.272 207.295 424.968L201.795 426.246Z' fill='#FFCB8D')
  path(d='M156.554 405.289L156.653 413.036C156.653 413.036 177.86 418.627 177.868 387.821L171.989 387.062C171.989 387.062 171.626 408.794 156.554 405.289Z' fill='#F4997D')
  path(d='M156.71 405.289L156.809 413.036C156.809 413.036 178.017 418.627 178.025 387.821L172.145 387.054C172.145 387.054 171.778 408.794 156.71 405.289Z' fill='#F4997D')
  path(d='M156.71 405.289C160.175 406.114 162.862 405.566 164.951 404.275C163.509 404.428 161.931 404.378 160.719 403.768L156.562 405.289L156.718 405.355L156.71 405.289Z' fill='#CC6646')
  path(d='M177.926 387.808H178.025C178.025 413.906 162.78 413.882 158.145 413.267V413.288C158.145 413.288 182.454 417.559 182.454 386.757L177.926 387.808Z' fill='#FFCB8D')
  path(d='M151.445 370.467L190.522 380.948C190.818 395.601 182.306 405.129 171.519 402.234C160.732 399.34 151.737 385.124 151.445 370.467Z' fill='#69772D')
  path(d='M151.445 370.463L171.457 364.382L210.538 374.858L190.526 380.944L151.445 370.463Z' fill='#ECF9A2')
  path(d='M210.542 375.427C210.542 375.237 210.542 374.85 210.542 374.85L190.526 380.935C190.74 391.552 186.331 399.488 179.78 401.933C195.42 396.903 210.933 396.775 210.542 375.427Z' fill='#8FA54A')
  path(d='M183.525 422.325L208.247 428.955C208.433 438.227 203.047 444.255 196.224 442.424C189.401 440.594 183.711 431.581 183.525 422.325Z' fill='#69772D')
  path(d='M183.525 422.321L196.191 418.474L220.917 425.104L208.251 428.951L183.525 422.321Z' fill='#ECF9A2')
  path(d='M220.917 425.463C220.917 425.339 220.917 425.096 220.917 425.096L208.256 428.946C208.392 435.663 205.598 440.676 201.457 442.231C211.35 439.048 221.165 438.969 220.917 425.463Z' fill='#8FA54A')
  path(d='M61 361.273L85.7218 367.902C85.9072 377.175 80.5219 383.198 73.6946 381.368C66.8672 379.537 61.1854 370.562 61 361.273Z' fill='#69772D')
  path(d='M61 361.269L73.6617 357.418L98.3917 364.052L85.7259 367.898L61 361.269Z' fill='#ECF9A2')
  path(d='M98.3914 364.41C98.3914 364.287 98.3914 364.043 98.3914 364.043L85.7298 367.894C85.8616 374.61 83.0722 379.62 78.9313 381.178C88.8241 377.983 98.6386 377.917 98.3914 364.41Z' fill='#8FA54A')
  path(d='M61.5933 350.541L79.8832 355.443C80.0192 362.304 76.0349 366.761 70.9876 365.408C65.9402 364.056 61.7292 357.397 61.5933 350.541Z' fill='#69772D')
  path(d='M61.5933 350.537L70.9587 347.692L89.2487 352.594L79.8833 355.443L61.5933 350.537Z' fill='#ECF9A2')
  path(d='M89.2529 352.862C89.2529 352.771 89.2529 352.59 89.2529 352.59L79.8875 355.439C79.9864 360.407 77.9221 364.097 74.8566 365.268C82.1743 362.909 89.4342 362.852 89.2529 352.862Z' fill='#8FA54A')
  path(d='M559 479.774L450.992 447L3 569.593V577.226L111.013 610L335.66 548.686L335.091 548.517L559 487.407V479.774Z' fill='#FBE372')
  path(d='M226.909 508.483L226.345 508.314L450.992 447L559 479.769L335.091 540.879L335.66 541.053L111.013 602.362L3 569.593L226.909 508.483Z' fill='#FCE586')
  path(d='M374.4 249.567V249.422C374.319 247.198 373.6 245.044 372.33 243.216C371.059 241.389 369.291 239.965 367.235 239.115H367.177C366.955 239.024 366.728 238.938 366.498 238.859L297.483 212.873C295.122 211.897 292.504 211.734 290.041 212.411L211.583 233.677C209.119 234.344 206.943 235.805 205.392 237.834C203.841 239.862 203 242.345 203 244.899V341.969L203.087 341.945V526.057L272.72 550.197L374.421 522.631V249.839C374.409 249.748 374.404 249.657 374.4 249.567Z' fill='#3EBEC1')
  path(d='M281.294 259.878L359.749 238.612C361.472 238.145 363.28 238.082 365.031 238.427C366.783 238.772 368.432 239.517 369.849 240.603C371.267 241.688 372.416 243.086 373.207 244.688C373.997 246.29 374.409 248.052 374.409 249.839V522.631L272.707 550.197V271.105C272.707 268.549 273.548 266.065 275.1 264.036C276.652 262.007 278.829 260.546 281.294 259.878Z' fill='#7FF4F1')
  path(d='M211.574 402.898L261.512 418.276V439.584L211.574 421.859V402.898Z' fill='#33A098')
  path(d='M243.898 412.805L211.574 421.859V402.898L243.898 412.805Z' fill='#66D8D2')
  path(d='M211.574 369.016L261.512 384.39V405.702L211.574 387.977V369.016Z' fill='#33A098')
  path(d='M243.898 378.923L211.574 387.977V369.016L243.898 378.923Z' fill='#66D8D2')
  path(d='M211.574 335.134L261.512 350.508V371.815L211.574 354.095V335.134Z' fill='#33A098')
  path(d='M243.898 345.041L211.574 354.095V335.134L243.898 345.041Z' fill='#66D8D2')
  path(d='M211.574 301.251L261.512 316.626V337.933L211.574 320.213V301.251Z' fill='#33A098')
  path(d='M243.898 311.159L211.574 320.213V301.251L243.898 311.159Z' fill='#66D8D2')
  path(d='M211.574 267.366L261.512 282.744V304.051L211.574 286.331V267.366Z' fill='#33A098')
  path(d='M243.898 277.277L211.574 286.331V267.366L243.898 277.277Z' fill='#66D8D2')
  path(d='M211.014 528.816L211.797 447.421C211.808 446.239 212.103 445.076 212.656 444.031C213.209 442.987 214.004 442.089 214.975 441.416C215.947 440.742 217.065 440.311 218.237 440.16C219.409 440.008 220.6 440.14 221.711 440.544L254.792 452.604C256.762 453.321 258.464 454.627 259.666 456.344C260.868 458.062 261.513 460.109 261.513 462.206V514.736L211.014 528.816Z' fill='#66D8D2')
  path(d='M261.513 546.317V514.736L211.014 528.816L261.513 546.317Z' fill='#33A098')
  path(d='M288.76 514.031C289.481 511.186 291.689 509.141 293.704 509.644L293.865 509.698L292.542 509.343C290.544 508.836 288.335 510.885 287.598 513.726C286.86 516.567 287.808 519.21 289.802 519.717L290.853 519.989C288.937 519.395 288.059 516.814 288.76 514.031Z' fill='#3EBEC1')
  path(d='M294.599 515.021C294.965 513.347 294.471 511.817 293.21 511.5C292.969 511.445 292.718 511.445 292.477 511.5C293.301 512.073 293.622 513.368 293.301 514.769C292.98 516.171 291.958 517.515 290.899 517.791C291.072 517.921 291.27 518.015 291.48 518.068C292.732 518.373 294.207 516.715 294.599 515.021Z' fill='#3EBEC1')
  path(d='M291.047 520.03L291.125 520.05L291.047 520.03Z' fill='#3EBEC1')
  path(d='M293.671 509.652C291.677 509.145 289.469 511.194 288.752 514.035C288.035 516.876 288.962 519.519 290.956 520.026C292.95 520.533 295.282 517.907 295.872 515.218C296.461 512.53 295.67 510.155 293.671 509.652ZM294.565 515.012C294.195 516.711 292.724 518.368 291.459 518.047C290.194 517.725 289.613 516.059 290.066 514.266C290.519 512.473 291.916 511.174 293.177 511.491C294.438 511.809 294.936 513.351 294.565 515.025V515.012Z' fill='#7FF4F1')
  path(d='M311.253 507.789C311.969 504.948 314.178 502.899 316.176 503.402L316.333 503.456L315.006 503.101C313.012 502.598 310.803 504.643 310.082 507.488C309.361 510.333 310.297 512.971 312.291 513.474L313.337 513.751C311.426 513.153 310.548 510.572 311.253 507.789Z' fill='#3EBEC1')
  path(d='M317.07 508.795C317.437 507.121 316.943 505.595 315.682 505.274C315.441 505.219 315.19 505.219 314.948 505.274C315.793 505.847 316.094 507.141 315.773 508.543C315.451 509.945 314.429 511.289 313.37 511.565C313.544 511.695 313.742 511.789 313.951 511.842C315.225 512.134 316.696 510.477 317.07 508.795Z' fill='#3EBEC1')
  path(d='M313.552 513.788L313.63 513.808L313.552 513.788Z' fill='#3EBEC1')
  path(d='M316.164 503.41C314.17 502.903 311.958 504.952 311.22 507.793C310.483 510.634 311.43 513.276 313.429 513.784C315.427 514.291 317.751 511.664 318.34 508.98C318.929 506.296 318.159 503.913 316.164 503.41ZM317.059 508.77C316.684 510.469 315.213 512.126 313.952 511.809C312.691 511.491 312.102 509.817 312.559 508.024C313.017 506.23 314.409 504.932 315.67 505.249C316.931 505.567 317.425 507.113 317.059 508.795V508.77Z' fill='#7FF4F1')
  path(d='M333.918 501.473C334.635 498.632 336.844 496.583 338.838 497.09C338.896 497.09 338.945 497.123 338.999 497.139L337.676 496.785C335.682 496.282 333.469 498.327 332.732 501.171C331.994 504.016 332.942 506.655 334.94 507.158L335.987 507.434C334.092 506.836 333.214 504.26 333.918 501.473Z' fill='#3EBEC1')
  path(d='M339.732 502.462C340.103 500.788 339.604 499.263 338.343 498.941C338.103 498.886 337.854 498.886 337.614 498.941C338.438 499.514 338.755 500.813 338.438 502.21C338.121 503.608 337.091 504.956 336.036 505.233C336.209 505.361 336.404 505.455 336.613 505.509C337.89 505.818 339.361 504.161 339.732 502.462Z' fill='#3EBEC1')
  path(d='M338.83 497.094C336.831 496.587 334.623 498.636 333.906 501.481C333.189 504.325 334.116 506.96 336.11 507.467C338.105 507.974 340.437 505.348 341.026 502.664C341.615 499.98 340.824 497.597 338.83 497.094ZM339.724 502.454C339.349 504.152 337.878 505.81 336.617 505.492C335.356 505.175 334.767 503.505 335.22 501.707C335.674 499.91 337.07 498.615 338.331 498.937C339.592 499.258 340.091 500.796 339.724 502.466V502.454Z' fill='#7FF4F1')
  path(d='M356.58 495.601C357.301 492.757 359.509 490.712 361.504 491.215C361.561 491.215 361.611 491.252 361.664 491.268L360.342 490.914C358.343 490.407 356.135 492.456 355.418 495.296C354.701 498.137 355.628 500.78 357.622 501.287L358.673 501.559C356.757 500.961 355.879 498.376 356.58 495.601Z' fill='#3EBEC1')
  path(d='M362.398 496.583C362.765 494.913 362.27 493.384 361.01 493.066C360.768 493.011 360.517 493.011 360.276 493.066C361.121 493.639 361.421 494.934 361.1 496.336C360.779 497.737 359.757 499.082 358.698 499.358C358.872 499.486 359.07 499.579 359.279 499.634C360.552 499.939 362.027 498.282 362.398 496.583Z' fill='#3EBEC1')
  path(d='M358.875 501.597L358.953 501.617L358.875 501.597Z' fill='#3EBEC1')
  path(d='M361.496 491.215C359.498 490.712 357.289 492.761 356.572 495.602C355.855 498.442 356.782 501.085 358.776 501.588C360.771 502.091 363.103 499.473 363.692 496.785C364.281 494.097 363.49 491.722 361.496 491.215ZM362.386 496.575C362.015 498.273 360.544 499.931 359.279 499.609C358.014 499.288 357.433 497.622 357.887 495.824C358.34 494.027 359.737 492.736 360.997 493.054C362.258 493.371 362.757 494.917 362.386 496.591V496.575Z' fill='#7FF4F1')
  path(d='M288.76 458.17C289.481 455.325 291.689 453.28 293.704 453.783C293.762 453.783 293.811 453.816 293.865 453.833L292.542 453.478C290.544 452.975 288.335 455.024 287.598 457.865C286.86 460.705 287.808 463.348 289.802 463.851L290.853 464.128C288.937 463.534 288.059 460.969 288.76 458.17Z' fill='#3EBEC1')
  path(d='M294.599 459.155C294.965 457.506 294.471 455.956 293.21 455.639C292.969 455.583 292.718 455.583 292.477 455.639C293.301 456.212 293.622 457.506 293.301 458.904C292.98 460.301 291.958 461.654 290.899 461.93C291.073 462.058 291.27 462.152 291.48 462.206C292.732 462.511 294.207 460.854 294.599 459.155Z' fill='#3EBEC1')
  path(d='M291.047 464.168L291.125 464.189L291.047 464.168Z' fill='#3EBEC1')
  path(d='M293.671 453.787C291.677 453.284 289.469 455.329 288.752 458.174C288.035 461.019 288.962 463.658 290.956 464.161C292.95 464.664 295.282 462.045 295.872 459.357C296.461 456.669 295.67 454.294 293.671 453.787ZM294.565 459.147C294.195 460.842 292.724 462.499 291.459 462.181C290.194 461.864 289.613 460.194 290.066 458.397C290.519 456.599 291.916 455.309 293.177 455.626C294.438 455.943 294.936 457.49 294.565 459.163V459.147Z' fill='#7FF4F1')
  path(d='M311.253 451.928C311.969 449.083 314.178 447.038 316.176 447.541C316.23 447.541 316.279 447.574 316.333 447.591L315.006 447.236C313.012 446.729 310.803 448.778 310.082 451.619C309.361 454.459 310.297 457.102 312.291 457.609L313.337 457.881C311.426 457.292 310.548 454.707 311.253 451.928Z' fill='#3EBEC1')
  path(d='M317.07 452.913C317.437 451.243 316.943 449.713 315.682 449.396C315.441 449.341 315.19 449.341 314.948 449.396C315.793 449.969 316.094 451.264 315.773 452.665C315.451 454.067 314.429 455.411 313.37 455.687C313.545 455.815 313.742 455.909 313.951 455.964C315.225 456.269 316.696 454.611 317.07 452.913Z' fill='#3EBEC1')
  path(d='M313.552 457.927L313.63 457.947L313.552 457.927Z' fill='#3EBEC1')
  path(d='M316.164 447.545C314.17 447.042 311.958 449.091 311.22 451.932C310.483 454.772 311.43 457.415 313.429 457.918C315.427 458.421 317.751 455.803 318.34 453.115C318.929 450.427 318.159 448.052 316.164 447.545ZM317.059 452.905C316.684 454.603 315.213 456.261 313.952 455.939C312.691 455.618 312.102 453.952 312.559 452.154C313.017 450.357 314.409 449.066 315.67 449.384C316.931 449.701 317.425 451.247 317.059 452.921V452.905Z' fill='#7FF4F1')
  path(d='M333.918 445.611C334.635 442.766 336.844 440.722 338.838 441.225L338.999 441.278L337.676 440.923C335.682 440.416 333.469 442.465 332.732 445.306C331.994 448.147 332.942 450.79 334.94 451.297L335.987 451.569C334.092 450.975 333.214 448.39 333.918 445.611Z' fill='#3EBEC1')
  path(d='M339.732 446.601C340.103 444.927 339.604 443.397 338.343 443.08C338.103 443.024 337.854 443.024 337.614 443.08C338.438 443.653 338.755 444.947 338.438 446.349C338.121 447.751 337.091 449.095 336.036 449.371C336.209 449.5 336.404 449.594 336.613 449.648C337.89 449.953 339.361 448.295 339.732 446.601Z' fill='#3EBEC1')
  path(d='M336.213 451.61H336.292C336.266 451.611 336.239 451.611 336.213 451.61Z' fill='#3EBEC1')
  path(d='M338.83 441.228C336.831 440.725 334.623 442.775 333.906 445.615C333.189 448.456 334.116 451.099 336.11 451.602C338.105 452.105 340.437 449.487 341.026 446.798C341.615 444.11 340.824 441.736 338.83 441.228ZM339.724 446.588C339.349 448.287 337.878 449.944 336.617 449.623C335.356 449.301 334.767 447.635 335.22 445.838C335.674 444.04 337.07 442.75 338.331 443.067C339.592 443.385 340.091 444.931 339.724 446.605V446.588Z' fill='#7FF4F1')
  path(d='M356.58 439.732C357.301 436.892 359.509 434.842 361.504 435.35C361.561 435.35 361.611 435.383 361.664 435.399L360.342 435.045C358.343 434.542 356.135 436.586 355.418 439.431C354.701 442.276 355.628 444.915 357.622 445.418L358.673 445.694C356.757 445.096 355.879 442.515 356.58 439.732Z' fill='#3EBEC1')
  path(d='M362.398 440.722C362.765 439.048 362.27 437.522 361.01 437.201C360.768 437.147 360.518 437.147 360.276 437.201C361.121 437.774 361.421 439.073 361.1 440.47C360.779 441.868 359.757 443.216 358.698 443.492C358.872 443.622 359.069 443.716 359.279 443.769C360.552 444.065 362.027 442.416 362.398 440.722Z' fill='#3EBEC1')
  path(d='M361.496 435.354C359.498 434.851 357.289 436.896 356.572 439.74C355.855 442.585 356.782 445.224 358.776 445.727C360.771 446.23 363.103 443.608 363.692 440.924C364.281 438.24 363.49 435.857 361.496 435.354ZM362.386 440.713C362.015 442.412 360.544 444.069 359.279 443.752C358.014 443.434 357.433 441.765 357.887 439.967C358.34 438.17 359.737 436.875 360.997 437.197C362.258 437.518 362.757 439.056 362.386 440.726V440.713Z' fill='#7FF4F1')
  path(d='M288.76 402.304C289.481 399.464 291.689 397.415 293.704 397.918L293.865 397.971L292.542 397.617C290.544 397.114 288.335 399.159 287.598 402.004C286.86 404.848 287.808 407.487 289.802 407.99L290.853 408.266C288.937 407.668 288.059 405.087 288.76 402.304Z' fill='#3EBEC1')
  path(d='M294.599 403.294C294.965 401.62 294.471 400.094 293.21 399.773C292.969 399.718 292.718 399.718 292.477 399.773C293.301 400.346 293.622 401.64 293.301 403.042C292.98 404.444 291.958 405.788 290.899 406.064C291.072 406.194 291.27 406.288 291.48 406.341C292.732 406.65 294.207 404.992 294.599 403.294Z' fill='#3EBEC1')
  path(d='M293.671 397.926C291.677 397.419 289.469 399.468 288.752 402.309C288.035 405.149 288.962 407.792 290.956 408.299C292.95 408.806 295.282 406.18 295.872 403.496C296.461 400.812 295.67 398.429 293.671 397.926ZM294.565 403.286C294.195 404.984 292.724 406.642 291.459 406.324C290.194 406.007 289.613 404.333 290.066 402.539C290.519 400.746 291.916 399.447 293.177 399.765C294.438 400.082 294.936 401.628 294.565 403.298V403.286Z' fill='#7FF4F1')
  path(d='M311.253 396.062C311.969 393.222 314.178 391.173 316.176 391.68C316.23 391.68 316.279 391.713 316.333 391.729L315.006 391.375C313.012 390.872 310.803 392.917 310.082 395.761C309.361 398.606 310.297 401.245 312.291 401.748L313.337 402.024C311.426 401.426 310.548 398.845 311.253 396.062Z' fill='#3EBEC1')
  path(d='M317.07 397.064C317.437 395.39 316.943 393.865 315.682 393.543C315.44 393.49 315.19 393.49 314.948 393.543C315.793 394.116 316.094 395.415 315.773 396.813C315.451 398.21 314.429 399.558 313.37 399.835C313.544 399.964 313.742 400.058 313.951 400.111C315.225 400.408 316.696 398.75 317.07 397.064Z' fill='#3EBEC1')
  path(d='M316.164 391.704C314.17 391.201 311.958 393.246 311.22 396.091C310.483 398.936 311.43 401.574 313.429 402.077C315.427 402.58 317.751 399.958 318.34 397.274C318.929 394.59 318.159 392.187 316.164 391.704ZM317.059 397.064C316.684 398.763 315.213 400.42 313.952 400.103C312.691 399.785 312.102 398.115 312.559 396.318C313.017 394.52 314.409 393.226 315.67 393.547C316.931 393.869 317.425 395.386 317.059 397.064Z' fill='#7FF4F1')
  path(d='M333.918 389.746C334.635 386.905 336.844 384.856 338.838 385.363C338.896 385.363 338.945 385.396 338.999 385.413L337.676 385.058C335.682 384.555 333.469 386.6 332.732 389.445C331.994 392.29 332.942 394.928 334.94 395.431L335.987 395.708C334.092 395.11 333.214 392.529 333.918 389.746Z' fill='#3EBEC1')
  path(d='M339.732 390.735C340.103 389.061 339.604 387.536 338.343 387.214C338.103 387.16 337.854 387.16 337.614 387.214C338.438 387.787 338.755 389.086 338.438 390.484C338.121 391.881 337.091 393.229 336.036 393.51C336.209 393.636 336.405 393.729 336.613 393.782C337.89 394.091 339.361 392.434 339.732 390.735Z' fill='#3EBEC1')
  path(d='M336.213 395.749L336.292 395.77L336.213 395.749Z' fill='#3EBEC1')
  path(d='M338.83 385.367C336.831 384.864 334.623 386.909 333.906 389.754C333.189 392.599 334.116 395.238 336.11 395.741C338.105 396.244 340.437 393.621 341.026 390.937C341.615 388.253 340.824 385.87 338.83 385.367ZM339.724 390.727C339.349 392.426 337.878 394.083 336.617 393.766C335.356 393.448 334.767 391.778 335.22 389.981C335.674 388.183 337.07 386.889 338.331 387.21C339.592 387.532 340.091 389.07 339.724 390.739V390.727Z' fill='#7FF4F1')
  path(d='M356.58 383.871C357.301 381.026 359.509 378.981 361.504 379.484L361.664 379.537L360.342 379.183C358.343 378.676 356.135 380.725 355.418 383.565C354.701 386.406 355.628 389.049 357.622 389.556L358.673 389.828C356.757 389.23 355.879 386.653 356.58 383.871Z' fill='#3EBEC1')
  path(d='M362.398 384.86C362.765 383.186 362.27 381.657 361.01 381.339C360.768 381.284 360.517 381.284 360.276 381.339C361.121 381.912 361.421 383.207 361.1 384.609C360.779 386.01 359.757 387.355 358.698 387.631C358.872 387.76 359.069 387.854 359.279 387.907C360.552 388.212 362.027 386.555 362.398 384.86Z' fill='#3EBEC1')
  path(d='M361.496 379.492C359.498 378.985 357.289 381.034 356.572 383.875C355.855 386.715 356.782 389.358 358.776 389.865C360.771 390.372 363.103 387.746 363.692 385.058C364.281 382.37 363.49 379.995 361.496 379.492ZM362.386 384.852C362.015 386.55 360.544 388.208 359.279 387.886C358.014 387.565 357.433 385.899 357.887 384.105C358.34 382.312 359.737 381.013 360.997 381.331C362.258 381.648 362.757 383.19 362.386 384.864V384.852Z' fill='#7FF4F1')
  path(d='M288.76 346.443C289.481 343.598 291.689 341.553 293.704 342.056C293.762 342.056 293.811 342.089 293.865 342.106L292.542 341.751C290.544 341.244 288.335 343.293 287.598 346.134C286.86 348.974 287.808 351.617 289.802 352.124L290.853 352.396C288.937 351.807 288.059 349.238 288.76 346.443Z' fill='#3EBEC1')
  path(d='M294.599 347.428C294.965 345.759 294.471 344.229 293.21 343.911C292.969 343.856 292.718 343.856 292.477 343.911C293.301 344.485 293.622 345.779 293.301 347.181C292.98 348.583 291.958 349.927 290.899 350.203C291.073 350.331 291.27 350.425 291.48 350.479C292.732 350.784 294.207 349.127 294.599 347.428Z' fill='#3EBEC1')
  path(d='M291.047 352.442L291.125 352.462L291.047 352.442Z' fill='#3EBEC1')
  path(d='M293.671 342.061C291.677 341.558 289.469 343.607 288.752 346.447C288.035 349.288 288.962 351.931 290.956 352.434C292.95 352.937 295.282 350.319 295.872 347.631C296.461 344.942 295.67 342.568 293.671 342.061ZM294.565 347.42C294.195 349.119 292.724 350.776 291.459 350.455C290.194 350.133 289.613 348.467 290.066 346.67C290.519 344.872 291.916 343.582 293.177 343.899C294.438 344.217 294.936 345.763 294.565 347.437V347.42Z' fill='#7FF4F1')
  path(d='M311.253 340.201C311.969 337.356 314.178 335.311 316.176 335.814L316.333 335.867L315.006 335.513C313.012 335.006 310.803 337.055 310.082 339.896C309.361 342.736 310.297 345.379 312.291 345.886L313.337 346.158C311.426 345.565 310.548 342.984 311.253 340.201Z' fill='#3EBEC1')
  path(d='M317.07 341.19C317.437 339.516 316.943 337.987 315.682 337.669C315.441 337.614 315.19 337.614 314.948 337.669C315.793 338.242 316.094 339.537 315.773 340.939C315.451 342.341 314.429 343.685 313.37 343.961C313.544 344.09 313.742 344.184 313.951 344.237C315.225 344.542 316.696 342.885 317.07 341.19Z' fill='#3EBEC1')
  path(d='M313.552 346.2H313.63C313.604 346.201 313.578 346.201 313.552 346.2Z' fill='#3EBEC1')
  path(d='M316.164 335.822C314.17 335.315 311.958 337.364 311.22 340.205C310.483 343.046 311.43 345.689 313.429 346.196C315.427 346.703 317.751 344.076 318.34 341.388C318.929 338.7 318.159 336.325 316.164 335.822ZM317.059 341.182C316.684 342.881 315.213 344.538 313.952 344.217C312.691 343.895 312.102 342.229 312.559 340.432C313.017 338.634 314.409 337.344 315.67 337.661C316.931 337.979 317.425 339.521 317.059 341.195V341.182Z' fill='#7FF4F1')
  path(d='M333.918 333.885C334.635 331.04 336.844 328.995 338.838 329.498L338.999 329.552L337.676 329.197C335.682 328.69 333.469 330.739 332.732 333.58C331.994 336.42 332.942 339.063 334.94 339.57L335.987 339.842C334.092 339.249 333.214 336.668 333.918 333.885Z' fill='#3EBEC1')
  path(d='M339.732 334.874C340.103 333.2 339.604 331.671 338.343 331.353C338.103 331.298 337.854 331.298 337.614 331.353C338.438 331.926 338.755 333.221 338.438 334.623C338.121 336.024 337.091 337.368 336.036 337.645C336.209 337.774 336.404 337.868 336.613 337.921C337.89 338.226 339.361 336.573 339.732 334.874Z' fill='#3EBEC1')
  path(d='M336.213 339.883L336.292 339.904L336.213 339.883Z' fill='#3EBEC1')
  path(d='M338.83 329.506C336.831 328.999 334.623 331.048 333.906 333.889C333.189 336.729 334.116 339.372 336.11 339.879C338.105 340.386 340.437 337.76 341.026 335.072C341.615 332.384 340.824 330.009 338.83 329.506ZM339.724 334.866C339.349 336.564 337.878 338.222 336.617 337.9C335.356 337.579 334.767 335.913 335.22 334.12C335.674 332.326 337.07 331.027 338.331 331.345C339.592 331.662 340.091 333.204 339.724 334.878V334.866Z' fill='#7FF4F1')
  path(d='M356.58 328.009C357.301 325.164 359.509 323.12 361.504 323.623C361.561 323.623 361.611 323.655 361.664 323.672L360.342 323.317C358.343 322.814 356.135 324.863 355.418 327.704C354.701 330.545 355.628 333.188 357.622 333.691L358.673 333.967C356.757 333.373 355.879 330.788 356.58 328.009Z' fill='#3EBEC1')
  path(d='M362.398 328.995C362.765 327.325 362.27 325.795 361.01 325.478C360.768 325.423 360.517 325.423 360.276 325.478C361.121 326.051 361.421 327.346 361.1 328.743C360.779 330.141 359.757 331.493 358.698 331.769C358.873 331.896 359.07 331.989 359.279 332.046C360.552 332.334 362.027 330.685 362.398 328.995Z' fill='#3EBEC1')
  path(d='M358.875 334.008L358.953 334.029L358.875 334.008Z' fill='#3EBEC1')
  path(d='M361.496 323.627C359.498 323.124 357.289 325.169 356.572 328.014C355.855 330.859 356.782 333.497 358.776 334C360.771 334.503 363.103 331.885 363.692 329.197C364.281 326.509 363.49 324.134 361.496 323.627ZM362.386 328.987C362.015 330.681 360.544 332.339 359.279 332.021C358.014 331.704 357.433 330.034 357.887 328.237C358.34 326.439 359.737 325.148 360.997 325.466C362.258 325.783 362.757 327.329 362.386 329.003V328.987Z' fill='#7FF4F1')
  path(d='M288.76 290.577C289.481 287.737 291.689 285.688 293.704 286.195C293.762 286.195 293.811 286.228 293.865 286.244L292.542 285.89C290.544 285.387 288.335 287.432 287.598 290.276C286.86 293.121 287.808 295.76 289.802 296.263L290.853 296.539C288.937 295.941 288.059 293.36 288.76 290.577Z' fill='#3EBEC1')
  path(d='M294.599 291.567C294.965 289.893 294.471 288.368 293.21 288.046C292.969 287.992 292.718 287.992 292.477 288.046C293.301 288.619 293.622 289.918 293.301 291.316C292.98 292.713 291.958 294.061 290.899 294.338C291.072 294.467 291.27 294.561 291.48 294.614C292.732 294.923 294.207 293.266 294.599 291.567Z' fill='#3EBEC1')
  path(d='M293.671 286.199C291.677 285.696 289.469 287.741 288.752 290.586C288.035 293.431 288.962 296.07 290.956 296.573C292.95 297.076 295.282 294.453 295.872 291.769C296.461 289.085 295.67 286.702 293.671 286.199ZM294.565 291.559C294.195 293.258 292.724 294.915 291.459 294.598C290.194 294.28 289.613 292.61 290.066 290.813C290.519 289.015 291.916 287.721 293.177 288.042C294.438 288.364 294.936 289.902 294.565 291.571V291.559Z' fill='#7FF4F1')
  path(d='M311.253 284.339C311.969 281.495 314.178 279.45 316.176 279.953C316.23 279.953 316.279 279.986 316.333 280.002L315.006 279.647C313.012 279.144 310.803 281.194 310.082 284.034C309.361 286.875 310.297 289.518 312.291 290.021L313.337 290.297C311.426 289.703 310.548 287.118 311.253 284.339Z' fill='#3EBEC1')
  path(d='M317.07 285.333C317.437 283.663 316.943 282.134 315.682 281.816C315.44 281.762 315.19 281.762 314.948 281.816C315.793 282.393 316.094 283.688 315.773 285.086C315.451 286.483 314.429 287.836 313.37 288.112C313.546 288.238 313.743 288.332 313.951 288.388C315.225 288.681 316.696 287.023 317.07 285.333Z' fill='#3EBEC1')
  path(d='M313.552 290.338L313.63 290.359L313.552 290.338Z' fill='#3EBEC1')
  path(d='M316.164 279.973C314.17 279.47 311.958 281.515 311.22 284.36C310.483 287.205 311.43 289.843 313.429 290.346C315.427 290.849 317.751 288.231 318.34 285.543C318.929 282.855 318.159 280.464 316.164 279.973ZM317.059 285.333C316.684 287.028 315.213 288.685 313.952 288.368C312.691 288.05 312.102 286.38 312.559 284.583C313.017 282.785 314.409 281.495 315.67 281.812C316.931 282.129 317.425 283.659 317.059 285.333Z' fill='#7FF4F1')
  path(d='M333.918 278.023C334.635 275.179 336.844 273.134 338.838 273.637C338.896 273.637 338.945 273.67 338.999 273.686L337.676 273.331C335.682 272.829 333.469 274.878 332.732 277.718C331.994 280.559 332.942 283.202 334.94 283.705L335.987 283.981C334.092 283.387 333.214 280.798 333.918 278.023Z' fill='#3EBEC1')
  path(d='M339.732 279.008C340.103 277.359 339.604 275.809 338.343 275.491C338.103 275.436 337.854 275.436 337.614 275.491C338.438 276.065 338.755 277.359 338.438 278.757C338.121 280.155 337.091 281.507 336.036 281.783C336.209 281.911 336.405 282.005 336.613 282.059C337.89 282.364 339.361 280.707 339.732 279.008Z' fill='#3EBEC1')
  path(d='M338.83 273.64C336.831 273.137 334.623 275.182 333.906 278.027C333.189 280.872 334.116 283.511 336.11 284.014C338.105 284.516 340.437 281.898 341.026 279.21C341.615 276.522 340.824 274.147 338.83 273.64ZM339.724 279C339.349 280.694 337.878 282.352 336.617 282.034C335.356 281.717 334.767 280.047 335.22 278.25C335.674 276.452 337.07 275.162 338.331 275.479C339.592 275.797 340.091 277.343 339.724 279.016V279Z' fill='#7FF4F1')
  path(d='M356.58 272.14C357.301 269.299 359.509 267.25 361.504 267.753L361.664 267.807L360.342 267.452C358.343 266.949 356.135 268.994 355.418 271.839C354.701 274.684 355.628 277.323 357.622 277.826L358.673 278.102C356.757 277.5 355.879 274.927 356.58 272.14Z' fill='#3EBEC1')
  path(d='M362.398 273.134C362.765 271.46 362.27 269.934 361.01 269.613C360.768 269.558 360.517 269.558 360.276 269.613C361.121 270.186 361.421 271.48 361.1 272.882C360.779 274.284 359.757 275.628 358.698 275.904C358.872 276.033 359.069 276.127 359.279 276.18C360.552 276.49 362.027 274.832 362.398 273.134Z' fill='#3EBEC1')
  path(d='M358.875 278.143L358.953 278.163L358.875 278.143Z' fill='#3EBEC1')
  path(d='M361.496 267.765C359.498 267.258 357.289 269.307 356.572 272.148C355.855 274.989 356.782 277.631 358.776 278.139C360.771 278.646 363.103 276.019 363.692 273.335C364.281 270.651 363.49 268.268 361.496 267.765ZM362.386 273.125C362.015 274.824 360.544 276.481 359.279 276.164C358.014 275.846 357.433 274.172 357.887 272.379C358.34 270.585 359.737 269.287 360.997 269.604C362.258 269.922 362.757 271.468 362.386 273.137V273.125Z' fill='#7FF4F1')
  path(d='M351.862 507.423C347.198 507.423 343.416 509.513 343.416 512.09V558.267C343.416 560.839 347.198 562.93 351.862 562.93C356.526 562.93 360.313 560.839 360.313 558.267V512.09C360.313 509.513 356.531 507.423 351.862 507.423Z' fill='#CC6646')
  path(d='M310 491.039L345.801 500.637C346.069 514.061 338.273 522.789 328.389 520.138C318.504 517.487 310.268 504.45 310 491.039Z' fill='#69772D')
  path(d='M310.004 491.026L328.335 485.452L364.132 495.05L345.801 500.624L310.004 491.026Z' fill='#ECF9A2')
  path(d='M364.137 495.574C364.137 495.4 364.137 495.046 364.137 495.046L345.805 500.616C345.999 510.342 341.957 517.598 335.958 519.853C350.284 515.24 364.495 515.128 364.137 495.574Z' fill='#8FA54A')
  path(d='M339.583 499.066L375.385 508.664C375.653 522.088 367.857 530.812 357.972 528.165C348.088 525.518 339.851 512.478 339.583 499.066Z' fill='#69772D')
  path(d='M339.588 499.061L357.919 493.487L393.716 503.085L375.385 508.66L339.588 499.061Z' fill='#ECF9A2')
  path(d='M393.724 503.61C393.724 503.432 393.724 503.078 393.724 503.078L375.393 508.652C375.587 518.378 371.545 525.634 365.546 527.885C379.868 523.28 394.079 523.165 393.724 503.61Z' fill='#8FA54A')
  path(d='M325.439 471.574L361.24 481.172C361.508 494.597 353.712 503.325 343.828 500.674C333.943 498.023 325.707 484.998 325.439 471.574Z' fill='#69772D')
  path(d='M325.443 471.574L343.774 466L379.571 475.598L361.24 481.172L325.443 471.574Z' fill='#ECF9A2')
  path(d='M379.579 476.118C379.579 475.945 379.579 475.59 379.579 475.59L361.248 481.16C361.442 490.886 357.4 498.142 351.405 500.398C365.706 495.788 379.934 495.677 379.579 476.118Z' fill='#8FA54A')