svg#usina-solar(version='1.1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 730 820' style='enable-background:new 0 0 730 820' space='preserve')
  style .st0{fill:#cc6646}.st1{fill:#ecf9a2}.st2{fill:#8fa54a}.st3{fill:#69772d}.st4{fill:#1162a5}.st5{fill:#bfd5dd}.st6{fill:#3e81af}.st7{fill:#d4e5e8}.st8{fill:#fff}.st9{fill:#7b9faf}
  g#arvore-1
    path.st0(d='M406.6 397.2c.1.7.3 1.4.8 2 .4.6 1 1.1 1.7 1.4 1.8.9 3.8 1.4 5.9 1.4 2 0 4-.5 5.9-1.4.7-.3 1.2-.8 1.6-1.4.4-.6.7-1.3.7-2l.1-266.9c-.1.7-.3 1.4-.7 2-.4.6-1 1.1-1.7 1.4-1.8.9-3.8 1.4-5.9 1.4-2 0-4-.5-5.9-1.4-.7-.3-1.3-.8-1.7-1.4-.4-.6-.7-1.3-.8-2v266.9z')
    path.st1(d='M415.2 166v180.4L332 322.9 415.2 166z')
    path.st2(d='M414.8 166v180.4l83.2-23.6L414.8 166z')
    path.st3(d='M414.8 132.5v153.3l70.7-20-70.7-133.3z')
    path.st2(d='M414.8 94v125.5l57.8-16.4L414.8 94z')
    path.st2(d='M415.2 132.5v153.3l-70.7-20 70.7-133.3z')
    path.st1(d='M415.2 94v125.5l-57.8-16.4L415.2 94z')
  g#arvore-2
    path.st0(d='M667.7 520.8c.1 1.3.6 2.5 1.3 3.5.7 1 1.7 1.8 2.9 2.4 3.1 1.6 6.5 2.4 10 2.4s6.9-.8 10-2.4c1.1-.5 2.1-1.3 2.8-2.3.7-1 1.2-2.2 1.3-3.4l.2-456.7c-.1 1.2-.6 2.4-1.3 3.4-.7 1-1.7 1.8-2.8 2.3-3.1 1.6-6.5 2.4-10 2.4s-6.9-.8-10-2.4c-1.2-.5-2.1-1.3-2.9-2.3-.7-1-1.2-2.2-1.3-3.5l-.2 456.6z')
    path.st1(d='M682.3 125.2V434L540 393.6l142.3-268.4z')
    path.st2(d='M681.7 125.2V434L824 393.6 681.7 125.2z')
    path.st3(d='M681.7 67.9v262.4L802.6 296 681.7 67.9z')
    path.st2(d='M681.7 2v214.8l99-28.1L681.7 2z')
    path.st2(d='M682.3 67.9v262.4L561.4 296 682.3 67.9z')
    path.st1(d='M682.3 2v214.8l-99-28.1L682.3 2z')
  g#painel-2
    path.st4(d='m129 438.7 224 109.9.2 8.7-224-109.9-.2-8.7z')
    path.st5(d='m129 438.7 208.3-63.3 224 109.9L353 548.6 129 438.7z')
    path.st6(d='m353 548.6 208.4-63.3.2 8.8-208.4 63.3-.2-8.8z')
    path.st7(d='m337.4 375.5 224 109.9-170 51.6-136.6-136.5 82.6-25z')
    path.st8(d='M562.9 485.6 337.2 374.3 126 438.4l225.8 111.4 211.1-64.2zM505 459.8l-43.2 13.1-42.4-20.9 43.2-13.1 42.4 20.9zm-180.2-12.6-42.3-20.9 49.1-14.9 42.3 20.9-49.1 14.9zm52.3-13.3 35.7 17.6-49.1 14.9-35.7-17.6 49.1-14.9zm-55.7 14.4L270 463.9 227.6 443l51.4-15.6 42.4 20.9zm3.2 1.6 35.7 17.6-51.4 15.6-35.7-17.6 51.4-15.6zm38.9 19.1 42.3 20.9-51.4 15.6-42.3-20.9 51.4-15.6zm3.4-1 49.1-14.9 42.3 20.9-49.1 14.9-42.3-20.9zm92.6-30.7-43.2 13.1-35.7-17.6 43.3-13.1 35.6 17.6zm-38.9-19.2-43.2 13.1-42.4-20.8 43.2-13.1 42.4 20.8zM337 376.9l38.1 18.8-43.2 13.1-38.1-18.8 43.2-13.1zm-46.7 14.2 38.1 18.8-49.1 14.9-38.1-18.8 49.1-14.9zM237.9 407l38.1 18.8-51.5 15.6-38.1-18.8 51.5-15.6zm-105.2 32 50.3-15.3 38.1 18.8-50.3 15.3-38.1-18.8zm41.3 20.3 50.3-15.3 42.3 20.9-50.3 15.3-42.3-20.9zm45.5 22.5 50.3-15.3 35.6 17.6-50.3 15.3-35.6-17.6zm38.9 19.2 50.3-15.3 42.3 20.9-50.3 15.3-42.3-20.9zm93.6 46.2-48.1-23.7 50.3-15.3 48.1 23.7-50.3 15.3zm53.7-16.4-48.1-23.7 51.4-15.6 48.1 23.7-51.4 15.6zm54.9-16.6-48.1-23.7 49-14.9 48.1 23.7-49 14.9zm52.4-15.9-48-23.8 43.2-13.1 48.1 23.7-43.3 13.2z')
    path.st9(d='M353 551.1c-.4 0-.7-.1-1.1-.2L127.9 441c-.4-.2-.8-.6-1-1-.2-.4-.4-.9-.3-1.4 0-.5.2-1 .5-1.3.3-.4.7-.7 1.2-.8l208.3-63.3c.6-.2 1.2-.1 1.7.1l224 109.9c.4.2.8.6 1.1 1 .2.4.4.9.3 1.4 0 .5-.2 1-.5 1.3-.3.4-.7.7-1.2.8L353.7 551c-.2 0-.5.1-.7.1zM135.7 439.3 353.2 546l201.5-61.2-217.5-106.7-201.5 61.2z')
  g#painel-1
    path.st4(d='m32 600.7 224 109.9.2 8.7-224-109.9-.2-8.7z')
    path.st5(d='m32 600.7 208.3-63.3 224 109.9L256 710.6 32 600.7z')
    path.st6(d='m256 710.6 208.4-63.3.2 8.8-208.4 63.3-.2-8.8z')
    path.st7(d='m240.4 537.5 224 109.9-170 51.6-136.6-136.5 82.6-25z')
    path.st8(d='M465.9 647.6 240.2 536.3 29 600.4l225.8 111.4 211.1-64.2zM408 621.8l-43.2 13.1-42.4-20.9 43.2-13.1 42.4 20.9zm-180.2-12.6-42.3-20.9 49.1-14.9 42.3 20.9-49.1 14.9zm52.3-13.3 35.7 17.6-49.1 14.9-35.7-17.6 49.1-14.9zm-55.7 14.4L173 625.9 130.6 605l51.4-15.6 42.4 20.9zm3.2 1.6 35.7 17.6-51.4 15.6-35.7-17.6 51.4-15.6zm38.9 19.1 42.3 20.9-51.4 15.6-42.3-20.9 51.4-15.6zm3.4-1 49.1-14.9 42.3 20.9-49.1 14.9-42.3-20.9zm92.6-30.7-43.2 13.1-35.7-17.6 43.3-13.1 35.6 17.6zm-38.9-19.2-43.2 13.1-42.4-20.8 43.2-13.1 42.4 20.8zM240 538.9l38.1 18.8-43.2 13.1-38.1-18.8 43.2-13.1zm-46.7 14.2 38.1 18.8-49.1 14.9-38.1-18.8 49.1-14.9zM140.9 569l38 18.8-51.5 15.6-38.1-18.8 51.6-15.6zM35.7 601 86 585.7l38.1 18.8-50.3 15.3L35.7 601zM77 621.3l50.3-15.3 42.3 20.9-50.3 15.3L77 621.3zm45.5 22.5 50.3-15.3 35.6 17.6-50.3 15.3-35.6-17.6zm38.9 19.2 50.3-15.3 42.3 20.9-50.3 15.3-42.3-20.9zm93.6 46.2-48.1-23.7 50.3-15.3 48.1 23.7-50.3 15.3zm53.7-16.4-48.1-23.7 51.4-15.6 48.1 23.7-51.4 15.6zm54.9-16.6-48.1-23.7 49-15 48.1 23.7-49 15zm52.4-15.9-48-23.8 43.2-13.1 48.1 23.7-43.3 13.2z')
    path.st9(d='M256 713.1c-.4 0-.7-.1-1.1-.2L31 602.9c-.4-.2-.8-.6-1-1-.2-.4-.4-.9-.3-1.4 0-.5.2-1 .5-1.3.3-.4.7-.7 1.2-.8l208.3-63.3c.6-.2 1.2-.1 1.7.1l224 109.9c.4.2.8.6 1.1 1 .2.4.4.9.3 1.4 0 .5-.2 1-.5 1.3-.3.4-.7.7-1.2.8l-208.3 63.3c-.3.1-.6.2-.8.2zM38.7 601.3 256.2 708l201.5-61.2-217.5-106.7-201.5 61.2z')
  g#painel-3
    path.st4(d='m446 560.7 224 109.9.2 8.7-224-109.9-.2-8.7z')
    path.st5(d='m446 560.7 208.3-63.3 224 109.9L670 670.6 446 560.7z')
    path.st6(d='m670 670.6 208.4-63.3.2 8.8-208.4 63.3-.2-8.8z')
    path.st7(d='m654.4 497.5 224 109.9-170 51.6-136.6-136.5 82.6-25z')
    path.st8(d='M879.9 607.6 654.2 496.3 443 560.4l225.8 111.4 211.1-64.2zM822 581.8l-43.2 13.1-42.4-20.9 43.2-13.1 42.4 20.9zm-180.2-12.6-42.3-20.9 49.1-14.9 42.3 20.9-49.1 14.9zm52.3-13.3 35.7 17.6-49.1 14.9-35.7-17.6 49.1-14.9zm-55.7 14.4L587 585.9 544.6 565l51.4-15.6 42.4 20.9zm3.2 1.6 35.7 17.6-51.4 15.6-35.7-17.6 51.4-15.6zm38.9 19.1 42.3 20.9-51.4 15.6-42.3-20.9 51.4-15.6zm3.4-1 49.1-14.9 42.3 20.9-49.1 14.9-42.3-20.9zm92.6-30.7-43.2 13.1-35.7-17.6 43.3-13.1 35.6 17.6zm-38.9-19.2-43.2 13.1-42.4-20.8 43.2-13.1 42.4 20.8zM654 498.9l38 18.8-43.2 13.1-38-18.8 43.2-13.1zm-46.7 14.2 38.1 18.8-49.1 14.9-38.1-18.8 49.1-14.9zM554.9 529l38 18.8-51.5 15.6-38.1-18.8 51.6-15.6zm-105.2 32 50.3-15.3 38.1 18.8-50.3 15.3-38.1-18.8zm41.3 20.3 50.3-15.3 42.3 20.9-50.3 15.3-42.3-20.9zm45.5 22.5 50.3-15.3 35.6 17.6-50.3 15.3-35.6-17.6zm38.9 19.2 50.3-15.3 42.3 20.9-50.3 15.3-42.3-20.9zm93.6 46.2-48.1-23.7 50.3-15.3 48.1 23.7-50.3 15.3zm53.7-16.4-48.1-23.7 51.4-15.6 48.1 23.7-51.4 15.6zm54.9-16.6-48.1-23.7 49-15 48.1 23.7-49 15zm52.4-15.9-48-23.8 43.2-13.1 48.1 23.7-43.3 13.2z')
    path.st9(d='M670 673.1c-.4 0-.7-.1-1.1-.2L445 562.9c-.4-.2-.8-.6-1-1s-.4-.9-.3-1.4c0-.5.2-1 .5-1.3.3-.4.7-.7 1.2-.8l208.3-63.3c.6-.2 1.2-.1 1.7.1l224 109.9c.4.2.8.6 1.1 1 .2.4.4.9.3 1.4 0 .5-.2 1-.5 1.3-.3.4-.7.7-1.2.8l-208.3 63.3c-.3.1-.6.2-.8.2zM452.7 561.3 670.2 668l201.5-61.2-217.5-106.7-201.5 61.2z')