svg(width='561' height='395' viewBox='0 0 561 395' fill='none' xmlns='http://www.w3.org/2000/svg')
  rect(width='561' height='395' fill='white')
  path(d='M337.529 137.834L338.028 162.768L279.498 147.091L279 122.158L337.529 137.834Z' fill='#F9A346')
  path(d='M337.529 137.835L350.476 133.906L350.974 158.833L338.028 162.768L337.529 137.835Z' fill='#D08D96')
  path(d='M279 122.158L291.947 118.229L350.476 133.906L337.529 137.835L279 122.158Z' fill='#DD7643')
  path(d='M328.536 30.334L371.038 97.5107L358.389 111.659L315.88 44.4824L328.536 30.334Z' fill='#F9A346')
  path(d='M328.536 30.3339L341.483 26.405L383.985 93.5818L371.038 97.5106L328.536 30.3339Z' fill='#FCE586')
  path(d='M371.038 97.5106L383.985 93.5818L371.33 107.73L358.389 111.659L371.038 97.5106Z' fill='#80575C')
  path(d='M372.959 88.7015L402.442 79.7469C411.676 76.9485 421.874 76.7582 432.636 79.6405L403.153 88.5952C392.396 85.7129 382.193 85.8976 372.959 88.7015Z' fill='#FFC280')
  path(d='M372.959 88.7015L402.442 79.7468L402.941 79.6013L373.458 88.556L372.959 88.7015Z' fill='#FFC280')
  path(d='M373.458 88.5562L402.941 79.6015L403.73 79.3721L374.253 88.3267L373.458 88.5506' fill='#FFC280')
  path(d='M374.253 88.3099L403.73 79.3553L404.531 79.1426L375.048 88.0972L374.253 88.3099' fill='#FFC280')
  path(d='M375.048 88.1195L404.531 79.1649L405.337 78.969L375.854 87.9237L375.048 88.1251' fill='#FFC280')
  path(d='M375.854 87.9181L405.337 78.9635L406.144 78.7732L376.661 87.7279L375.854 87.9125' fill='#FFC280')
  path(d='M376.661 87.7502L406.144 78.7956C406.412 78.7396 406.704 78.6781 406.956 78.6277L377.473 87.5823L376.661 87.7558' fill='#FFC280')
  path(d='M377.473 87.5598L406.956 78.6052L407.773 78.4429L378.29 87.3975L377.473 87.5598Z' fill='#FFC280')
  path(d='M378.29 87.3976L407.773 78.4429L408.434 78.3198L378.951 87.2745L378.29 87.392' fill='#FFC280')
  path(d='M378.951 87.28L408.434 78.3253L409.072 78.219L379.589 87.1904L378.951 87.2968' fill='#FFC280')
  path(d='M379.589 87.1904L409.072 78.2358L409.716 78.1406L380.233 87.0953L379.589 87.1904Z' fill='#FFC280')
  path(d='M380.233 87.073L409.717 78.1183L410.355 78.0232L380.877 86.9779L380.233 87.0674' fill='#FFC280')
  path(d='M380.877 86.9835L410.355 78.0288L411.004 77.9504L381.521 86.9051L380.877 86.9891' fill='#FFC280')
  path(d='M381.521 86.8995L411.004 77.9448L411.648 77.8665L382.171 86.8211L381.521 86.8939' fill='#FFC280')
  path(d='M382.171 86.8267L411.648 77.8721L412.303 77.8049L382.821 86.7596C382.602 86.7596 382.384 86.7988 382.171 86.8267Z' fill='#FFC280')
  path(d='M382.821 86.7596L412.303 77.805L412.953 77.749L383.47 86.7037L382.821 86.7652' fill='#FFC280')
  path(d='M383.47 86.6979L412.953 77.7432L413.608 77.6929L384.125 86.6475L383.47 86.6979Z' fill='#FFC280')
  path(d='M384.125 86.6308L413.608 77.6761L414.168 77.637L384.685 86.5916L384.125 86.6308Z' fill='#FFC280')
  path(d='M384.708 86.6308L414.191 77.6762L414.751 77.6482L385.268 86.6028L384.708 86.6308Z' fill='#FFC280')
  path(d='M385.251 86.5804L414.734 77.6257H415.294L385.811 86.5804H385.251Z' fill='#FFC280')
  path(d='M385.8 86.5582L415.283 77.6035H415.843L386.36 86.5582H385.8Z' fill='#FFC280')
  path(d='M386.354 86.5414L415.837 77.5867H416.397L386.914 86.5414H386.354Z' fill='#FFC280')
  path(d='M386.903 86.5245L416.386 77.5698H416.946L387.463 86.5245H386.903Z' fill='#FFC280')
  path(d='M387.457 86.5189L416.94 77.5642H417.5L388.017 86.5189H387.457Z' fill='#FFC280')
  path(d='M387.989 86.5189L417.472 77.5642H418.032L388.549 86.5189H387.989Z' fill='#FFC280')
  path(d='M388.549 86.5189L418.032 77.5642H418.592L389.109 86.5189H388.549Z' fill='#FFC280')
  path(d='M389.109 86.5301L418.592 77.5754H419.152L389.669 86.5301H389.109Z' fill='#FFC280')
  path(d='M389.669 86.5469L419.152 77.5923H419.712L390.229 86.5469H389.669Z' fill='#FFC280')
  path(d='M390.229 86.5692L419.712 77.6145H420.227L390.744 86.5692H390.229Z' fill='#FFC280')
  path(d='M390.789 86.5916L420.272 77.637H420.765L391.282 86.5916L390.789 86.5637' fill='#FFC280')
  path(d='M391.254 86.6309L420.737 77.6763L421.23 77.7098L391.747 86.6645L391.254 86.6309Z' fill='#FFC280')
  path(d='M391.747 86.6309L421.23 77.6763L421.722 77.7098L392.239 86.6645L391.747 86.6253' fill='#FFC280')
  path(d='M392.24 86.6925L421.722 77.7378L422.221 77.7826L392.738 86.7373L392.24 86.6981' fill='#FFC280')
  path(d='M392.738 86.7315L422.221 77.7769L422.714 77.8216L393.231 86.7763L392.738 86.7315Z' fill='#FFC280')
  path(d='M393.231 86.7764L422.714 77.8218L423.212 77.8721L393.729 86.8268L393.231 86.7708' fill='#FFC280')
  path(d='M393.729 86.8323L423.212 77.8777L423.71 77.9337L394.227 86.8883L393.729 86.8379' fill='#FFC280')
  path(d='M394.227 86.8826L423.71 77.928L424.209 77.9895L394.726 86.9442L394.227 86.8826Z' fill='#FFC280')
  path(d='M394.709 86.9442L424.192 77.9895L424.69 78.0511L395.207 87.0057L394.709 86.9442Z' fill='#FFC280')
  path(d='M395.224 87.0057L424.707 78.051L425.211 78.1182L395.728 87.0728L395.224 87.0001' fill='#FFC280')
  path(d='M395.728 87.0784L425.211 78.1238L425.715 78.1965L396.232 87.1512L395.728 87.0784Z' fill='#FFC280')
  path(d='M396.232 87.1512L425.715 78.1965L426.213 78.2749L396.73 87.2296L396.232 87.1568' fill='#FFC280')
  path(d='M396.73 87.224L426.213 78.2693L426.673 78.342L397.19 87.2967L396.73 87.2184' fill='#FFC280')
  path(d='M397.19 87.3023L426.673 78.3477L427.132 78.426L397.649 87.3807L397.19 87.3023Z' fill='#FFC280')
  path(d='M397.649 87.3807L427.132 78.426L427.591 78.51L398.108 87.4646L397.649 87.3863' fill='#FFC280')
  path(d='M398.108 87.4591L427.591 78.5044L428.05 78.5884L398.567 87.543L398.108 87.4535' fill='#FFC280')
  path(d='M398.567 87.5487L428.05 78.594L428.509 78.6835L399.032 87.6382L398.567 87.5487' fill='#FFC280')
  path(d='M399.032 87.6383L428.509 78.6836L428.974 78.7787L399.491 87.7334L399.032 87.6439' fill='#FFC280')
  path(d='M399.491 87.7501L428.974 78.7954L429.439 78.8905L399.956 87.8452L399.491 87.7445' fill='#FFC280')
  path(d='M399.956 87.8284L429.439 78.8738L429.898 78.9745L400.415 87.9292L399.956 87.8284Z' fill='#FFC280')
  path(d='M400.415 87.9293L429.898 78.9746L430.363 79.0809L400.88 88.0356L400.415 87.9349' fill='#FFC280')
  path(d='M400.869 88.0299L430.352 79.0752L430.816 79.1815L401.333 88.1362L400.869 88.0243' fill='#FFC280')
  path(d='M401.345 88.1419L430.828 79.1873L431.292 79.2992L401.815 88.2539L401.345 88.1419Z' fill='#FFC280')
  path(d='M401.815 88.254L431.293 79.2993L431.763 79.4168L402.28 88.3715L401.815 88.254Z' fill='#FFC280')
  path(d='M402.28 88.3714L431.763 79.4167L432.228 79.5399L402.745 88.4946L402.28 88.377' fill='#FFC280')
  path(d='M402.745 88.4888L432.228 79.5342L432.636 79.6405L403.153 88.5952L402.745 88.4888Z' fill='#FFC280')
  path(d='M403.153 88.5953L432.636 79.6406C476.041 91.2649 512.187 148.396 513.363 207.245L483.88 216.199C482.704 157.35 446.558 100.22 403.153 88.5953Z' fill='#FFC280')
  path(d='M403.153 88.5953L432.636 79.6406H432.692L403.209 88.5953H403.153Z' fill='#FFC280')
  path(d='M403.209 88.6121L432.692 79.6575L433.135 79.775L403.652 88.7297L403.209 88.6121Z' fill='#FFC280')
  path(d='M403.669 88.7296L433.151 79.7749L433.588 79.898L404.105 88.8527L403.669 88.7296Z' fill='#FFC280')
  path(d='M404.089 88.8695L433.572 79.9148L434.014 80.0435L404.531 88.9982L404.089 88.8695Z' fill='#FFC280')
  path(d='M404.531 88.9815L434.014 80.0269L434.451 80.1556L404.968 89.1102L404.531 88.9815Z' fill='#FFC280')
  path(d='M404.968 89.1102L434.451 80.1555L434.888 80.2842L405.405 89.2389L404.968 89.1046' fill='#FFC280')
  path(d='M405.405 89.2445L434.887 80.2898L435.324 80.4297L405.847 89.3844L405.405 89.2501' fill='#FFC280')
  path(d='M405.847 89.3787L435.324 80.4241L435.767 80.5584L406.284 89.5131L405.847 89.3732' fill='#FFC280')
  path(d='M406.284 89.5186L435.767 80.564L436.198 80.7095L406.72 89.6641L406.284 89.5242' fill='#FFC280')
  path(d='M406.72 89.6588L436.198 80.7041L436.635 80.844L407.152 89.7987L406.72 89.6532' fill='#FFC280')
  path(d='M407.152 89.8043L436.635 80.8496L437.071 81.0007L407.588 89.9554L407.152 89.8099' fill='#FFC280')
  path(d='M407.588 89.9498L437.071 80.9951L437.508 81.1462L408.025 90.1009L407.588 89.9498Z' fill='#FFC280')
  path(d='M408.025 90.1009L437.508 81.1462L437.939 81.2973L408.456 90.252L408.025 90.0953' fill='#FFC280')
  path(d='M408.456 90.2574L437.939 81.3027L438.376 81.4595L408.893 90.4141L408.456 90.2574Z' fill='#FFC280')
  path(d='M408.893 90.4141L438.376 81.4595L438.807 81.6218L409.325 90.5764L408.893 90.4197' fill='#FFC280')
  path(d='M409.324 90.5484L438.807 81.5938L439.239 81.7505L409.756 90.7051L409.324 90.5428' fill='#FFC280')
  path(d='M409.756 90.7332L439.239 81.7786L439.659 81.9409L410.176 90.8955L409.756 90.7332Z' fill='#FFC280')
  path(d='M410.176 90.8956L439.658 81.9409L440.078 82.1032L410.596 91.0579L410.176 90.8956Z' fill='#FFC280')
  path(d='M410.596 91.0579L440.079 82.1033L440.493 82.2712L411.016 91.2258L410.596 91.0579Z' fill='#FFC280')
  path(d='M411.016 91.2257L440.493 82.271L440.913 82.4389L411.43 91.3936L411.016 91.2257Z' fill='#FFC280')
  path(d='M411.43 91.3936L440.913 82.439L441.333 82.6125L411.85 91.5671L411.43 91.3936Z' fill='#FFC280')
  path(d='M411.85 91.567L441.333 82.6123L441.747 82.7858L412.264 91.7405L411.85 91.567Z' fill='#FFC280')
  path(d='M412.264 91.7406L441.747 82.7859L442.167 82.965L412.684 91.9197L412.264 91.7406Z' fill='#FFC280')
  path(d='M412.684 91.9197L442.167 82.9651L442.582 83.1442L413.099 92.0988L412.684 91.9197Z' fill='#FFC280')
  path(d='M413.099 92.0987L442.582 83.144L442.996 83.3287L413.513 92.2834L413.099 92.0987Z' fill='#FFC280')
  path(d='M413.513 92.2835L442.996 83.3289L443.41 83.5136L413.927 92.4682L413.513 92.2835Z' fill='#FFC280')
  path(d='M413.927 92.4681L443.41 83.5134L443.825 83.7037L414.342 92.6584L413.927 92.4737' fill='#FFC280')
  path(d='M414.342 92.6529L443.825 83.6982L444.239 83.8885L414.756 92.8432L414.342 92.6473' fill='#FFC280')
  path(d='M414.756 92.8487L444.239 83.894L444.654 84.0899L415.171 93.0446L414.756 92.8543' fill='#FFC280')
  path(d='M415.171 93.0391L444.654 84.0845L445.062 84.2803L415.585 93.235L415.171 93.0391' fill='#FFC280')
  path(d='M415.585 93.2349L445.062 84.2803L445.477 84.4817L415.994 93.4364L415.585 93.2349' fill='#FFC280')
  path(d='M415.988 93.4363L445.471 84.4817L445.88 84.6832L416.403 93.6378L415.988 93.4363' fill='#FFC280')
  path(d='M416.408 93.6378L445.886 84.6831L446.3 84.8846L416.817 93.8392L416.408 93.6322' fill='#FFC280')
  path(d='M416.817 93.845L446.3 84.8904L446.709 85.1031L417.226 94.0577L416.817 93.8506' fill='#FFC280')
  path(d='M417.226 94.0521L446.709 85.0974L447.118 85.3045L417.634 94.2592C417.5 94.1864 417.366 94.1136 417.226 94.0465' fill='#FFC280')
  path(d='M417.635 94.2647L447.118 85.3101L447.526 85.5227L418.043 94.4774C417.909 94.4046 417.775 94.3319 417.635 94.2647Z' fill='#FFC280')
  path(d='M418.043 94.4662L447.526 85.5115L447.935 85.7298L418.452 94.6844C418.318 94.6117 418.183 94.5389 418.043 94.4718' fill='#FFC280')
  path(d='M418.452 94.69L447.935 85.7354L448.344 85.9536L418.861 94.9083L418.452 94.69Z' fill='#FFC280')
  path(d='M418.861 94.9083L448.344 85.9536L448.753 86.1719L419.27 95.1265L418.861 94.9083Z' fill='#FFC280')
  path(d='M419.27 95.1266L448.753 86.1719L449.156 86.3958L419.673 95.3504L419.27 95.1266Z' fill='#FFC280')
  path(d='M419.673 95.3504L449.156 86.3958L449.565 86.6196L420.082 95.5743L419.673 95.3448' fill='#FFC280')
  path(d='M420.082 95.5855L449.587 86.6309L449.99 86.8603L420.507 95.815L420.104 95.5855' fill='#FFC280')
  path(d='M420.468 95.8094L449.951 86.8547L450.354 87.0898L420.871 96.0444L420.468 95.815' fill='#FFC280')
  path(d='M420.888 96.0389L450.371 87.0842L450.774 87.3137L421.291 96.2683L420.888 96.0333' fill='#FFC280')
  path(d='M421.291 96.274L450.774 87.3193L451.177 87.5544L421.694 96.5091L421.291 96.274Z' fill='#FFC280')
  path(d='M421.694 96.5089L451.177 87.5542L451.581 87.7949L422.098 96.7495L421.694 96.5089Z' fill='#FFC280')
  path(d='M422.097 96.7496L451.581 87.7949L451.989 88.0468L422.506 97.0014L422.097 96.7552' fill='#FFC280')
  path(d='M422.506 96.9959L451.989 88.0413L452.404 88.2875L422.921 97.2422L422.506 96.9903' fill='#FFC280')
  path(d='M422.921 97.2645L452.387 88.3098L452.796 88.5673L423.313 97.5219L422.904 97.2701' fill='#FFC280')
  path(d='M423.33 97.4996L452.812 88.5449L453.227 88.8024L423.744 97.757L423.33 97.4996Z' fill='#FFC280')
  path(d='M423.744 97.7569L453.227 88.8022L453.636 89.0597L424.153 98.0144L423.744 97.7569Z' fill='#FFC280')
  path(d='M424.153 98.0145L453.636 89.0598L454.044 89.3228L424.561 98.2775L424.153 98.0145Z' fill='#FFC280')
  path(d='M424.562 98.2774L454.044 89.3228L454.453 89.5858L424.97 98.5405C424.83 98.4565 424.696 98.367 424.562 98.2774Z' fill='#FFC280')
  path(d='M424.948 98.5406L454.431 89.5859L454.834 89.8546L425.351 98.8092L424.948 98.5406Z' fill='#FFC280')
  path(d='M425.373 98.8091L454.856 89.8545L455.265 90.1231L425.782 99.0778L425.373 98.8091Z' fill='#FFC280')
  path(d='M425.782 99.0777L455.265 90.123L455.669 90.3917L426.185 99.3463L425.782 99.0721' fill='#FFC280')
  path(d='M426.185 99.3521L455.668 90.3975L456.072 90.6773L426.594 99.6319L426.185 99.3577' fill='#FFC280')
  path(d='M426.594 99.6263L456.072 90.6716L456.48 90.9459L426.997 99.9006L426.594 99.6207' fill='#FFC280')
  path(d='M426.997 99.9061L456.48 90.9514L456.884 91.2312L427.4 100.186L426.997 99.9061Z' fill='#FFC280')
  path(d='M427.401 100.186L456.884 91.2312L457.281 91.5166L427.798 100.471L427.401 100.191' fill='#FFC280')
  path(d='M427.798 100.466L457.281 91.5112L457.69 91.7967L428.207 100.751L427.798 100.46' fill='#FFC280')
  path(d='M428.207 100.757L457.69 91.8022L458.115 92.1101L428.633 101.065L428.207 100.763' fill='#FFC280')
  path(d='M428.633 101.059L458.116 92.1045L458.536 92.4067L429.053 101.361L428.633 101.054' fill='#FFC280')
  path(d='M429.052 101.367L458.535 92.4121L458.955 92.7255L429.472 101.68L429.052 101.372' fill='#FFC280')
  path(d='M429.473 101.675L458.955 92.72L459.375 93.0334L429.893 101.988L429.473 101.675Z' fill='#FFC280')
  path(d='M429.893 101.988L459.375 93.0334L459.795 93.3469L430.313 102.302L429.893 101.982' fill='#FFC280')
  path(d='M430.312 102.302L459.795 93.3469L460.215 93.6659L430.732 102.621L430.312 102.307' fill='#FFC280')
  path(d='M430.732 102.62L460.215 93.6658L460.63 93.9848L431.147 102.939L430.732 102.615' fill='#FFC280')
  path(d='M431.147 102.945L460.63 93.9905L461.05 94.3151L431.567 103.27L431.147 102.945Z' fill='#FFC280')
  path(d='M431.567 103.27L461.05 94.3149L461.464 94.6452L431.981 103.6L431.567 103.275' fill='#FFC280')
  path(d='M431.981 103.594L461.464 94.6396L461.878 94.9643L432.396 103.919L431.981 103.589' fill='#FFC280')
  path(d='M432.396 103.925L461.879 94.97L462.287 95.3058L432.804 104.26L432.396 103.93' fill='#FFC280')
  path(d='M432.788 104.255L462.271 95.3L462.685 95.6303L433.202 104.585L432.788 104.249' fill='#FFC280')
  path(d='M433.219 104.591L462.702 95.636L463.11 95.9774L433.628 104.932L433.219 104.596' fill='#FFC280')
  path(d='M433.628 104.926L463.111 95.9717L463.53 96.3187L434.048 105.273L433.628 104.926Z' fill='#FFC280')
  path(d='M434.048 105.273L463.53 96.3186L463.973 96.6936L434.468 105.659L434.025 105.284' fill='#FFC280')
  path(d='M434.468 105.66L463.95 96.7048L464.393 97.0742L434.91 106.029L434.468 105.66Z' fill='#FFC280')
  path(d='M434.932 106.023L464.415 97.0686L464.858 97.4492L435.375 106.404L434.932 106.029' fill='#FFC280')
  path(d='M435.375 106.398L464.858 97.4436L465.294 97.8242L435.811 106.779L435.375 106.393' fill='#FFC280')
  path(d='M435.811 106.779L465.295 97.8242L465.731 98.2104L436.254 107.165L435.811 106.784' fill='#FFC280')
  path(d='M436.254 107.165L465.731 98.2104L466.168 98.5966L436.685 107.551L436.254 107.165Z' fill='#FFC280')
  path(d='M436.707 107.551L466.19 98.5964L466.627 98.9882L437.144 107.943L436.707 107.551Z' fill='#FFC280')
  path(d='M437.122 107.943L466.605 98.9883C466.75 99.117 466.896 99.2457 467.036 99.3801L437.559 108.335L437.122 107.943Z' fill='#FFC280')
  path(d='M437.559 108.335L467.036 99.3801L467.473 99.7775L437.99 108.732L437.559 108.335Z' fill='#FFC280')
  path(d='M437.99 108.732L467.473 99.7773L467.904 100.175L438.421 109.129L437.99 108.726' fill='#FFC280')
  path(d='M438.421 109.135L467.904 100.18L468.33 100.583L438.847 109.538L438.421 109.141' fill='#FFC280')
  path(d='M438.847 109.532L468.33 100.578L468.761 100.981L439.278 109.935L438.847 109.527' fill='#FFC280')
  path(d='M439.278 109.941L468.761 100.986L469.209 101.417L439.726 110.372L439.278 109.941Z' fill='#FFC280')
  path(d='M439.726 110.372L469.209 101.417L469.685 101.876L440.202 110.831L439.726 110.377' fill='#FFC280')
  path(d='M440.202 110.825L469.685 101.871L470.155 102.335L440.672 111.29L440.202 110.825Z' fill='#FFC280')
  path(d='M440.672 111.29L470.155 102.335L470.626 102.799L441.142 111.754L440.672 111.29Z' fill='#FFC280')
  path(d='M441.142 111.754L470.625 102.8L471.09 103.27L441.613 112.224L441.142 111.754Z' fill='#FFC280')
  path(d='M441.613 112.224L471.09 103.27L471.561 103.74L442.078 112.695L441.613 112.219' fill='#FFC280')
  path(d='M442.078 112.7L471.561 103.745L472.025 104.221L442.542 113.176L442.078 112.7Z' fill='#FFC280')
  path(d='M442.542 113.176L472.025 104.221L472.485 104.702L443.007 113.657C442.85 113.495 442.699 113.333 442.542 113.176' fill='#FFC280')
  path(d='M443.007 113.657L472.484 104.702C472.641 104.865 472.793 105.027 472.949 105.184L443.466 114.138L443.007 113.657' fill='#FFC280')
  path(d='M443.466 114.139L472.949 105.184L473.409 105.671L443.926 114.625L443.466 114.139Z' fill='#FFC280')
  path(d='M443.926 114.614L473.409 105.659C473.56 105.827 473.711 105.99 473.868 106.152L444.385 115.107L443.926 114.614Z' fill='#FFC280')
  path(d='M444.385 115.118L473.868 106.163L474.321 106.656L444.838 115.611L444.385 115.118Z' fill='#FFC280')
  path(d='M444.838 115.61L474.321 106.656L474.831 107.215L445.348 116.17L444.838 115.61Z' fill='#FFC280')
  path(d='M445.348 116.17L474.831 107.215L475.346 107.775L445.863 116.73L445.348 116.17Z' fill='#FFC280')
  path(d='M445.863 116.741L475.346 107.786L475.861 108.346L446.378 117.3L445.863 116.741Z' fill='#FFC280')
  path(d='M446.378 117.317L475.861 108.363C476.029 108.553 476.197 108.749 476.371 108.922L446.888 117.877L446.378 117.317Z' fill='#FFC280')
  path(d='M446.888 117.899L476.371 108.945L476.875 109.504L447.392 118.459L446.888 117.899Z' fill='#FFC280')
  path(d='M447.392 118.482L476.875 109.527L477.379 110.115L447.907 119.092L447.403 118.498' fill='#FFC280')
  path(d='M447.907 119.091L477.39 110.137L477.894 110.73L448.411 119.685L447.907 119.091Z' fill='#FFC280')
  path(d='M448.4 119.651L477.883 110.697L478.381 111.295L448.898 120.25L448.4 119.657' fill='#FFC280')
  path(d='M448.898 120.261L478.381 111.307L478.88 111.905L449.397 120.86L448.898 120.256' fill='#FFC280')
  path(d='M449.396 120.866L478.88 111.911L479.372 112.521L449.889 121.476L449.396 120.871' fill='#FFC280')
  path(d='M449.889 121.47L479.372 112.515L479.932 113.204L450.449 122.158L449.889 121.464' fill='#FFC280')
  path(d='M450.444 122.164L479.927 113.209L480.487 113.931L451.004 122.886L450.444 122.17' fill='#FFC280')
  path(d='M451.015 122.88L480.498 113.926C480.688 114.161 480.873 114.401 481.058 114.648L451.575 123.602L451.015 122.88Z' fill='#FFC280')
  path(d='M451.581 123.602L481.063 114.648C481.254 114.888 481.439 115.129 481.623 115.375L452.141 124.33C451.956 124.089 451.771 123.843 451.581 123.602Z' fill='#FFC280')
  path(d='M452.141 124.33L481.624 115.375C481.814 115.616 481.999 115.862 482.184 116.108L452.701 125.063L452.141 124.33Z' fill='#FFC280')
  path(d='M452.701 125.063L482.183 116.108L482.743 116.847L453.261 125.802L452.701 125.057' fill='#FFC280')
  path(d='M453.255 125.807L482.738 116.853L483.298 117.597L453.815 126.552C453.636 126.3 453.451 126.054 453.255 125.807Z' fill='#FFC280')
  path(d='M453.804 126.552L483.287 117.597C483.471 117.849 483.656 118.095 483.847 118.347L454.364 127.302C454.184 127.05 454 126.798 453.804 126.552Z' fill='#FFC280')
  path(d='M454.352 127.302L483.835 118.347L484.395 119.125L454.912 128.08C454.728 127.817 454.537 127.559 454.352 127.302Z' fill='#FFC280')
  path(d='M454.912 128.08L484.395 119.125L485.045 120.043L455.562 128.998C455.343 128.69 455.131 128.382 454.912 128.08Z' fill='#FFC280')
  path(d='M455.562 128.998L485.045 120.043L485.689 120.966L456.206 129.921C455.993 129.608 455.775 129.3 455.562 128.998Z' fill='#FFC280')
  path(d='M456.206 129.921L485.689 120.966C485.902 121.28 486.115 121.588 486.322 121.901L456.867 130.844L456.228 129.915' fill='#FFC280')
  path(d='M456.867 130.845L486.344 121.89L486.977 122.83L457.494 131.785L456.867 130.845Z' fill='#FFC280')
  path(d='M457.472 131.79L486.955 122.836C487.167 123.149 487.375 123.463 487.582 123.782L458.099 132.736C457.891 132.423 457.684 132.104 457.472 131.79Z' fill='#FFC280')
  path(d='M458.099 132.736L487.582 123.781L488.203 124.733L458.72 133.688L458.099 132.731' fill='#FFC280')
  path(d='M458.72 133.693L488.203 124.739L488.814 125.701L459.331 134.656L458.72 133.699' fill='#FFC280')
  path(d='M459.331 134.65L488.814 125.696C489.077 126.11 489.34 126.529 489.598 126.949L460.115 135.904C459.857 135.484 459.594 135.07 459.331 134.65Z' fill='#FFC280')
  path(d='M460.115 135.881L489.598 126.927C489.861 127.347 490.118 127.772 490.382 128.203L460.899 137.158L460.115 135.881Z' fill='#FFC280')
  path(d='M460.899 137.18L490.382 128.225L491.149 129.507L461.666 138.462C461.414 138.031 461.156 137.6 460.899 137.174' fill='#FFC280')
  path(d='M461.666 138.467L491.149 129.512C491.401 129.943 491.658 130.374 491.905 130.811L462.427 139.766C462.175 139.335 461.923 138.904 461.666 138.473' fill='#FFC280')
  path(d='M462.427 139.76L491.905 130.805C492.157 131.242 492.409 131.673 492.655 132.115L463.172 141.07L462.427 139.76Z' fill='#FFC280')
  path(d='M463.172 141.07L492.655 132.115C492.974 132.675 493.288 133.234 493.602 133.794L464.118 142.749C463.805 142.189 463.491 141.629 463.172 141.07Z' fill='#FFC280')
  path(d='M464.146 142.765L493.629 133.811C494.021 134.527 494.413 135.249 494.794 135.977L465.311 144.931C464.931 144.204 464.538 143.482 464.146 142.76' fill='#FFC280')
  path(d='M465.266 144.937L494.749 135.982C495.136 136.715 495.517 137.443 495.869 138.182L466.386 147.136C466.011 146.403 465.63 145.67 465.266 144.942' fill='#FFC280')
  path(d='M466.426 147.131L495.909 138.176C496.39 139.12 496.862 140.073 497.325 141.036L467.842 149.991C467.378 149.034 466.907 148.077 466.426 147.131Z' fill='#FFC280')
  path(d='M467.842 149.991L497.325 141.036C498.696 143.883 499.993 146.786 501.217 149.745L471.734 158.699C470.514 155.74 469.207 152.836 467.814 149.985' fill='#FFC280')
  path(d='M471.734 158.705L501.217 149.75C501.643 150.787 502.059 151.83 502.466 152.879L472.983 161.833C472.576 160.788 472.16 159.747 471.734 158.71' fill='#FFC280')
  path(d='M472.983 161.828L502.466 152.873C502.865 153.899 503.254 154.931 503.631 155.968L474.148 164.923C473.767 163.887 473.381 162.852 472.983 161.828Z' fill='#FFC280')
  path(d='M474.148 164.923L503.631 155.968C503.799 156.427 503.967 156.891 504.129 157.356L474.646 166.311C474.484 165.852 474.316 165.387 474.148 164.923Z' fill='#FFC280')
  path(d='M474.646 166.311L504.129 157.356L504.616 158.75L475.133 167.704L474.646 166.305' fill='#FFC280')
  path(d='M475.133 167.71L504.616 158.755C504.779 159.22 504.936 159.69 505.092 160.154L475.609 169.109C475.453 168.639 475.296 168.174 475.133 167.71Z' fill='#FFC280')
  path(d='M475.609 169.109L505.092 160.154C505.249 160.624 505.4 161.095 505.557 161.565L476.074 170.519C475.917 170.049 475.766 169.579 475.609 169.115' fill='#FFC280')
  path(d='M476.074 170.514L505.557 161.559C505.708 162.029 505.859 162.499 506.005 162.969L476.522 171.924C476.377 171.448 476.225 170.978 476.074 170.508' fill='#FFC280')
  path(d='M476.522 171.93L506.005 162.975C506.145 163.417 506.279 163.859 506.419 164.301L476.936 173.256C476.796 172.808 476.662 172.366 476.522 171.93Z' fill='#FFC280')
  path(d='M476.937 173.256L506.419 164.301L506.705 165.264L477.222 174.219L476.937 173.262' fill='#FFC280')
  path(d='M477.222 174.213L506.705 165.258L506.991 166.221L477.508 175.176L477.222 174.213Z' fill='#FFC280')
  path(d='M477.508 175.176L506.991 166.221C507.086 166.54 507.175 166.859 507.271 167.184L477.788 176.138C477.692 175.819 477.603 175.495 477.508 175.176Z' fill='#FFC280')
  path(d='M477.788 176.138L507.271 167.184L507.539 168.152L478.056 177.106L477.788 176.138Z' fill='#FFC280')
  path(d='M478.057 177.107L507.539 168.152L507.808 169.12L478.325 178.075C478.236 177.756 478.152 177.431 478.057 177.107Z' fill='#FFC280')
  path(d='M478.325 178.075L507.808 169.12C507.898 169.445 507.982 169.769 508.071 170.094L478.588 179.049C478.499 178.724 478.415 178.399 478.325 178.075Z' fill='#FFC280')
  path(d='M478.588 179.049L508.071 170.094L508.323 171.068L478.84 180.022L478.588 179.049Z' fill='#FFC280')
  path(d='M478.84 180.022L508.323 171.068L508.575 172.041L479.092 180.996L478.84 180.022Z' fill='#FFC280')
  path(d='M479.092 180.996L508.575 172.042L508.794 172.915L479.311 181.869L479.092 180.996Z' fill='#FFC280')
  path(d='M479.311 181.869L508.794 172.915C508.855 173.178 508.923 173.441 508.984 173.704L479.501 182.658C479.439 182.395 479.372 182.132 479.311 181.869Z' fill='#FFC280')
  path(d='M479.501 182.658L508.984 173.704L509.169 174.493L479.692 183.448C479.624 183.185 479.563 182.922 479.501 182.658Z' fill='#FFC280')
  path(d='M479.692 183.453L509.169 174.499C509.236 174.762 509.292 175.025 509.354 175.288L479.871 184.242C479.815 183.979 479.753 183.716 479.692 183.453' fill='#FFC280')
  path(d='M479.871 184.237L509.354 175.282L509.539 176.071L480.056 185.026L479.871 184.231' fill='#FFC280')
  path(d='M480.055 185.031L509.539 176.077C509.594 176.34 509.656 176.608 509.712 176.871L480.229 185.826C480.173 185.563 480.111 185.3 480.055 185.037' fill='#FFC280')
  path(d='M480.229 185.82L509.712 176.866C509.768 177.129 509.83 177.392 509.886 177.66L480.403 186.615C480.347 186.352 480.291 186.083 480.229 185.82Z' fill='#FFC280')
  path(d='M480.386 186.615L509.869 177.661L510.037 178.455L480.554 187.41L480.386 186.615Z' fill='#FFC280')
  path(d='M480.571 187.41L510.054 178.455C510.11 178.718 510.166 178.981 510.216 179.25L480.733 188.205C480.683 187.942 480.627 187.645 480.571 187.41Z' fill='#FFC280')
  path(d='M480.733 188.205L510.216 179.25C510.272 179.513 510.328 179.81 510.379 180.045L480.895 188.999C480.845 188.731 480.789 188.468 480.733 188.199' fill='#FFC280')
  path(d='M480.896 189.005L510.379 180.05C510.435 180.319 510.485 180.61 510.535 180.851L481.052 189.805C481.002 189.542 480.952 189.246 480.896 189.01' fill='#FFC280')
  path(d='M481.052 189.8L510.535 180.845C510.58 181.086 510.63 181.326 510.675 181.567L481.192 190.522C481.147 190.275 481.103 190.035 481.052 189.794' fill='#FFC280')
  path(d='M481.192 190.527L510.675 181.573C510.72 181.808 510.765 182.043 510.804 182.278L481.321 191.233C481.282 190.998 481.237 190.763 481.192 190.533' fill='#FFC280')
  path(d='M481.321 191.227L510.804 182.272C510.849 182.507 510.894 182.737 510.933 182.972L481.45 191.926C481.411 191.691 481.366 191.456 481.321 191.221' fill='#FFC280')
  path(d='M481.45 191.932L510.933 182.977C510.978 183.212 511.017 183.447 511.056 183.682L481.579 192.637C481.534 192.402 481.495 192.167 481.45 191.932Z' fill='#FFC280')
  path(d='M481.579 192.637L511.056 183.683C511.101 183.918 511.14 184.153 511.179 184.388L481.696 193.342L481.579 192.637' fill='#FFC280')
  path(d='M481.696 193.342L511.179 184.388L511.297 185.093L481.814 194.048L481.696 193.342Z' fill='#FFC280')
  path(d='M481.814 194.048L511.297 185.093L511.414 185.798L481.932 194.753L481.814 194.048Z' fill='#FFC280')
  path(d='M481.932 194.753L511.414 185.798C511.454 186.039 511.493 186.274 511.527 186.509L482.043 195.464C482.01 195.229 481.971 194.993 481.932 194.758' fill='#FFC280')
  path(d='M482.066 195.458L511.549 186.503C511.588 186.738 511.622 186.974 511.661 187.209L482.178 196.163C482.139 195.928 482.105 195.688 482.066 195.452' fill='#FFC280')
  path(d='M482.155 196.169L511.638 187.214C511.672 187.449 511.706 187.69 511.745 187.925L482.262 196.88C482.223 196.644 482.189 196.409 482.155 196.174' fill='#FFC280')
  path(d='M482.262 196.885L511.745 187.93L511.846 188.641L482.363 197.596L482.262 196.885Z' fill='#FFC280')
  path(d='M482.363 197.585L511.846 188.63L511.946 189.335L482.463 198.29L482.363 197.579' fill='#FFC280')
  path(d='M482.463 198.295L511.946 189.341C511.946 189.57 512.008 189.794 512.036 190.024L482.553 198.978C482.553 198.754 482.491 198.525 482.463 198.301' fill='#FFC280')
  path(d='M482.553 198.973L512.036 190.018C512.064 190.236 512.098 190.455 512.126 190.667L482.643 199.622C482.615 199.404 482.587 199.185 482.553 198.967' fill='#FFC280')
  path(d='M482.626 199.627L512.109 190.673C512.137 190.891 512.165 191.109 512.187 191.328L482.71 200.282L482.626 199.627Z' fill='#FFC280')
  path(d='M482.727 200.282L512.204 191.328L512.288 191.982L482.805 200.937C482.777 200.719 482.749 200.506 482.727 200.288' fill='#FFC280')
  path(d='M482.805 200.931L512.288 191.977C512.316 192.195 512.338 192.413 512.366 192.632L482.883 201.586C482.855 201.368 482.833 201.15 482.805 200.931Z' fill='#FFC280')
  path(d='M482.883 201.586L512.366 192.632C512.366 192.85 512.417 193.068 512.439 193.286L482.956 202.241C482.956 202.023 482.906 201.805 482.883 201.586Z' fill='#FFC280')
  path(d='M482.956 202.241L512.439 193.286C512.439 193.505 512.49 193.723 512.512 193.941L483.029 202.896C483.029 202.678 482.984 202.459 482.956 202.241Z' fill='#FFC280')
  path(d='M483.029 202.896L512.512 193.941L512.579 194.596L483.096 203.551L483.029 202.896Z' fill='#FFC280')
  path(d='M483.096 203.551L512.579 194.596L512.647 195.251L483.163 204.205L483.096 203.545' fill='#FFC280')
  path(d='M483.186 204.211L512.669 195.257L512.736 195.911L483.253 204.866L483.186 204.211Z' fill='#FFC280')
  path(d='M483.231 204.866L512.714 195.911C512.714 196.135 512.753 196.354 512.775 196.572L483.292 205.526C483.292 205.308 483.248 205.09 483.231 204.872' fill='#FFC280')
  path(d='M483.292 205.521L512.775 196.566C512.775 196.784 512.814 197.003 512.831 197.221L483.348 206.176C483.348 205.952 483.309 205.733 483.292 205.515' fill='#FFC280')
  path(d='M483.348 206.181L512.831 197.227C512.831 197.445 512.87 197.663 512.887 197.887L483.404 206.842C483.404 206.623 483.365 206.405 483.348 206.187' fill='#FFC280')
  path(d='M483.404 206.836L512.887 197.881L512.938 198.531L483.455 207.485L483.404 206.836Z' fill='#FFC280')
  path(d='M483.455 207.485L512.938 198.531L512.988 199.146L483.505 208.101L483.455 207.485Z' fill='#FFC280')
  path(d='M483.505 208.078L512.988 199.124C512.988 199.331 513.016 199.538 513.027 199.739L483.55 208.694C483.55 208.487 483.516 208.28 483.505 208.073' fill='#FFC280')
  path(d='M483.55 208.722L513.027 199.767C513.027 199.974 513.061 200.181 513.072 200.389L483.589 209.343C483.589 209.136 483.589 208.935 483.55 208.728' fill='#FFC280')
  path(d='M483.589 209.338L513.072 200.383C513.072 200.59 513.1 200.792 513.111 200.999L483.628 209.953C483.628 209.746 483.6 209.539 483.589 209.332' fill='#FFC280')
  path(d='M483.628 209.959L513.111 201.004C513.111 201.211 513.111 201.418 513.15 201.625L483.667 210.58C483.667 210.373 483.639 210.166 483.628 209.964' fill='#FFC280')
  path(d='M483.667 210.575L513.15 201.62L513.184 202.235L483.701 211.19L483.667 210.569' fill='#FFC280')
  path(d='M483.701 211.196L513.184 202.241C513.184 202.448 513.184 202.655 513.184 202.862L483.701 211.817C483.701 211.61 483.701 211.403 483.701 211.201' fill='#FFC280')
  path(d='M483.746 211.811L513.229 202.857L513.262 203.472L483.779 212.427L483.746 211.806' fill='#FFC280')
  path(d='M483.746 212.433L513.229 203.478C513.229 203.685 513.229 203.892 513.229 204.099L483.746 213.054C483.746 212.847 483.746 212.645 483.746 212.438' fill='#FFC280')
  path(d='M483.785 213.048L513.268 204.094C513.268 204.301 513.268 204.508 513.296 204.715L483.813 213.67C483.813 213.463 483.813 213.256 483.813 213.048' fill='#FFC280')
  path(d='M483.813 213.675L513.296 204.72V205.336L483.819 214.291C483.819 214.084 483.819 213.877 483.819 213.67' fill='#FFC280')
  path(d='M483.835 214.291L513.313 205.336C513.313 205.543 513.313 205.75 513.313 205.957L483.83 214.912V214.296' fill='#FFC280')
  path(d='M483.852 214.906L513.335 205.952V206.573L483.852 215.528V214.906Z' fill='#FFC280')
  path(d='M483.869 215.528L513.352 206.573C513.352 206.78 513.352 206.982 513.352 207.189L483.869 216.143C483.869 215.936 483.869 215.729 483.869 215.522' fill='#FFC280')
  path(d='M483.88 216.149L513.363 207.194V207.233L483.88 216.188V216.154' fill='#FFC280')
  path(d='M403.153 88.5952C446.558 100.219 482.704 157.35 483.88 216.199L326.677 174.101C325.501 115.252 359.738 76.9709 403.153 88.5952Z' fill='#F9A346')
  path(d='M417.489 8.85402L419.074 88.1923L400.684 83.2673L399.094 3.92896L417.489 8.85402Z' fill='#F9A346')
  path(d='M417.489 8.85391L430.436 4.92505L432.02 84.2633L419.074 88.1922L417.489 8.85391Z' fill='#FCE586')
  path(d='M399.094 3.92886L412.04 0L430.436 4.92507L417.489 8.85393L399.094 3.92886Z' fill='#DD7643')
  path(d='M547.068 193.728L547.567 218.656L489.038 202.985L488.539 178.052L547.068 193.728Z' fill='#F9A346')
  path(d='M547.068 193.729L560.015 189.794L560.514 214.727L547.567 218.656L547.068 193.729Z' fill='#FCE586')
  path(d='M488.539 178.052L501.486 174.124L560.015 189.794L547.068 193.729L488.539 178.052Z' fill='#DD7643')
  path(d='M495.057 67.8037L508.413 88.9199L468.139 133.928L454.795 112.84L495.057 67.8037Z' fill='#F9A346')
  path(d='M495.057 67.8036L507.999 63.8748L521.36 84.991L508.413 88.9198L495.057 67.8036Z' fill='#FCE586')
  path(d='M508.413 88.9198L521.36 84.991L481.086 129.994L468.139 133.928L508.413 88.9198Z' fill='#DD7643')
  path(d='M192.468 172.389C192.504 172.788 192.646 173.169 192.879 173.494C193.111 173.82 193.427 174.077 193.792 174.24C194.775 174.74 195.862 175 196.965 175C198.068 175 199.156 174.74 200.139 174.24C200.497 174.078 200.805 173.825 201.033 173.505C201.261 173.186 201.401 172.812 201.437 172.421L201.506 27.7068C201.471 28.0977 201.332 28.4721 201.103 28.7917C200.875 29.1113 200.566 29.3646 200.208 29.5258C199.225 30.0255 198.138 30.2859 197.035 30.2859C195.932 30.2859 194.844 30.0255 193.861 29.5258C193.497 29.3633 193.182 29.1069 192.949 28.7828C192.717 28.4587 192.575 28.0787 192.538 27.6816L192.468 172.389Z' fill='#CC6646')
  path(d='M197.082 47.0549V144.884L152 132.101L197.082 47.0549Z' fill='#ECF9A2')
  path(d='M196.918 47.0549V144.884L242 132.101L196.918 47.0549Z' fill='#8FA54A')
  path(d='M196.918 28.8774V112.016L235.231 101.153L196.918 28.8774Z' fill='#69772D')
  path(d='M196.918 8V76.0583L228.279 67.1584L196.918 8Z' fill='#8FA54A')
  path(d='M197.082 28.8774V112.016L158.769 101.153L197.082 28.8774Z' fill='#8FA54A')
  path(d='M197.082 8V76.0583L165.721 67.1584L197.082 8Z' fill='#ECF9A2')
  path(d='M104.908 199.36L246.122 268.499L246.232 274L105.019 204.86L104.908 199.36Z' fill='#1162A5')
  path(d='M104.908 199.36L236.261 159.556L377.48 228.695L246.122 268.499L104.908 199.36Z' fill='#BFD5DD')
  path(d='M246.122 268.499L377.48 228.695L377.591 234.202L246.232 274L246.122 268.499Z' fill='#3E81AF')
  path(d='M236.261 159.556L377.48 228.695L270.282 261.178L184.195 175.332L236.261 159.556Z' fill='#D4E5E8')
  path(d='M378.478 228.877L236.156 158.808L103 199.167L245.328 269.236L378.478 228.877ZM341.92 212.6L314.655 220.851L287.991 207.726L315.256 199.475L341.92 212.6ZM228.342 204.706L201.65 191.565L232.599 182.214L259.291 195.355L228.342 204.706ZM261.315 196.323L283.805 207.396L252.855 216.775L230.366 205.707L261.315 196.323ZM226.186 205.372L193.764 215.202L167.072 202.071L199.494 192.241L226.186 205.372ZM228.215 206.373L250.699 217.441L218.277 227.271L195.788 216.197L228.215 206.373ZM252.74 218.425L279.404 231.556L246.982 241.38L220.318 228.255L252.74 218.425ZM254.901 217.771L285.851 208.419L312.515 221.544L281.566 230.929L254.901 217.771ZM313.254 198.474L285.989 206.725L263.499 195.652L290.77 187.401L313.254 198.474ZM288.741 186.405L261.475 194.656L234.783 181.515L262.049 173.264L288.741 186.405ZM236.035 160.458L260.025 172.268L232.759 180.519L208.77 168.709L236.035 160.458ZM206.608 169.38L230.597 181.19L199.648 190.569L175.658 178.759L206.608 169.38ZM173.519 179.414L197.508 191.224L165.053 201.054L141.064 189.244L173.519 179.414ZM107.224 199.508L138.935 189.898L162.924 201.708L131.214 211.318L107.224 199.508ZM133.238 212.314L164.949 202.704L191.64 215.845L159.93 225.455L133.238 212.314ZM161.954 226.451L193.664 216.841L216.115 227.925L184.405 237.535L161.954 226.451ZM186.468 238.52L218.178 228.91L244.842 242.035L213.132 251.65L186.468 238.52ZM245.477 267.586L215.145 252.646L246.855 243.036L277.187 257.971L245.477 267.586ZM279.349 257.316L249.017 242.381L281.417 232.551L311.749 247.492L279.349 257.316ZM313.932 246.864L283.601 231.924L314.506 222.518L344.838 237.458L313.932 246.864ZM347.022 236.831L316.712 221.874L343.977 213.623L374.309 228.563L347.022 236.831Z' fill='white')
  path(d='M246.122 270.039C245.887 270.04 245.655 269.987 245.443 269.885L104.23 200.746C103.953 200.609 103.723 200.392 103.57 200.123C103.417 199.855 103.349 199.547 103.373 199.239C103.397 198.932 103.514 198.638 103.707 198.397C103.9 198.156 104.161 197.977 104.456 197.885L235.809 158.065C236.175 157.954 236.569 157.986 236.912 158.153L378.131 227.293C378.411 227.428 378.643 227.645 378.797 227.914C378.951 228.183 379.02 228.493 378.995 228.802C378.97 229.111 378.852 229.405 378.657 229.646C378.461 229.887 378.197 230.064 377.899 230.153L246.546 269.951C246.41 270 246.267 270.03 246.122 270.039ZM109.105 199.701L246.26 266.849L373.278 228.343L236.129 161.212L109.105 199.701Z' fill='#7B9FAF')
  path(d='M279.908 291.36L421.122 360.499L421.232 366L280.019 296.86L279.908 291.36Z' fill='#1162A5')
  path(d='M279.908 291.36L411.261 251.556L552.48 320.695L421.122 360.499L279.908 291.36Z' fill='#BFD5DD')
  path(d='M421.122 360.499L552.48 320.695L552.591 326.202L421.232 366L421.122 360.499Z' fill='#3E81AF')
  path(d='M411.261 251.556L552.48 320.695L445.282 353.178L359.195 267.332L411.261 251.556Z' fill='#D4E5E8')
  path(d='M553.478 320.877L411.156 250.808L278 291.167L420.328 361.236L553.478 320.877ZM516.92 304.6L489.655 312.851L462.991 299.726L490.256 291.475L516.92 304.6ZM403.342 296.706L376.65 283.565L407.599 274.214L434.291 287.355L403.342 296.706ZM436.315 288.323L458.805 299.396L427.855 308.775L405.366 297.707L436.315 288.323ZM401.186 297.372L368.764 307.202L342.072 294.071L374.494 284.241L401.186 297.372ZM403.215 298.373L425.699 309.441L393.277 319.271L370.788 308.197L403.215 298.373ZM427.74 310.425L454.404 323.556L421.982 333.38L395.318 320.255L427.74 310.425ZM429.901 309.771L460.851 300.419L487.515 313.544L456.566 322.929L429.901 309.771ZM488.254 290.474L460.989 298.725L438.499 287.652L465.77 279.401L488.254 290.474ZM463.741 278.405L436.475 286.656L409.783 273.515L437.049 265.264L463.741 278.405ZM411.035 252.458L435.025 264.268L407.759 272.519L383.77 260.709L411.035 252.458ZM381.608 261.38L405.597 273.19L374.648 282.569L350.658 270.759L381.608 261.38ZM348.519 271.414L372.508 283.224L340.053 293.054L316.064 281.244L348.519 271.414ZM282.224 291.508L313.935 281.898L337.924 293.708L306.214 303.318L282.224 291.508ZM308.238 304.314L339.949 294.704L366.64 307.845L334.93 317.455L308.238 304.314ZM336.954 318.451L368.664 308.841L391.115 319.925L359.405 329.535L336.954 318.451ZM361.468 330.52L393.178 320.91L419.842 334.035L388.132 343.65L361.468 330.52ZM420.477 359.586L390.145 344.646L421.855 335.036L452.187 349.971L420.477 359.586ZM454.349 349.316L424.017 334.381L456.417 324.551L486.749 339.492L454.349 349.316ZM488.932 338.864L458.601 323.924L489.506 314.518L519.838 329.458L488.932 338.864ZM522.022 328.831L491.712 313.874L518.977 305.623L549.309 320.563L522.022 328.831Z' fill='white')
  path(d='M421.122 362.039C420.887 362.04 420.655 361.987 420.443 361.885L279.23 292.746C278.953 292.609 278.723 292.392 278.57 292.123C278.417 291.855 278.349 291.547 278.373 291.239C278.397 290.932 278.514 290.638 278.707 290.397C278.9 290.156 279.161 289.977 279.456 289.885L410.809 250.065C411.175 249.954 411.569 249.986 411.912 250.153L553.131 319.293C553.411 319.428 553.643 319.645 553.797 319.914C553.951 320.183 554.02 320.493 553.995 320.802C553.97 321.111 553.852 321.405 553.657 321.646C553.461 321.887 553.197 322.064 552.899 322.153L421.546 361.951C421.41 362 421.267 362.03 421.122 362.039ZM284.105 291.701L421.26 358.849L548.278 320.343L411.129 253.212L284.105 291.701Z' fill='#7B9FAF')
  path(d='M50.9082 320.36L192.122 389.499L192.232 395L51.0185 325.86L50.9082 320.36Z' fill='#1162A5')
  path(d='M50.9082 320.36L182.261 280.556L323.48 349.695L192.122 389.499L50.9082 320.36Z' fill='#BFD5DD')
  path(d='M192.122 389.499L323.48 349.695L323.591 355.202L192.232 395L192.122 389.499Z' fill='#3E81AF')
  path(d='M182.261 280.556L323.48 349.695L216.282 382.178L130.195 296.332L182.261 280.556Z' fill='#D4E5E8')
  path(d='M324.478 349.877L182.156 279.808L49 320.167L191.328 390.236L324.478 349.877ZM287.92 333.6L260.655 341.851L233.991 328.726L261.256 320.475L287.92 333.6ZM174.342 325.706L147.65 312.565L178.599 303.214L205.291 316.355L174.342 325.706ZM207.315 317.323L229.805 328.396L198.855 337.775L176.366 326.707L207.315 317.323ZM172.186 326.372L139.764 336.202L113.072 323.071L145.494 313.241L172.186 326.372ZM174.215 327.373L196.699 338.441L164.277 348.271L141.788 337.197L174.215 327.373ZM198.74 339.425L225.404 352.556L192.982 362.38L166.318 349.255L198.74 339.425ZM200.901 338.771L231.851 329.419L258.515 342.544L227.566 351.929L200.901 338.771ZM259.254 319.474L231.989 327.725L209.499 316.652L236.77 308.401L259.254 319.474ZM234.741 307.405L207.475 315.656L180.783 302.515L208.049 294.264L234.741 307.405ZM182.035 281.458L206.025 293.268L178.759 301.519L154.77 289.709L182.035 281.458ZM152.608 290.38L176.597 302.19L145.648 311.569L121.658 299.759L152.608 290.38ZM119.519 300.414L143.508 312.224L111.053 322.054L87.0636 310.244L119.519 300.414ZM53.2244 320.508L84.9348 310.898L108.924 322.708L77.214 332.318L53.2244 320.508ZM79.238 333.314L110.949 323.704L137.64 336.845L105.93 346.455L79.238 333.314ZM107.954 347.451L139.664 337.841L162.115 348.925L130.405 358.535L107.954 347.451ZM132.468 359.52L164.178 349.91L190.842 363.035L159.132 372.65L132.468 359.52ZM191.477 388.586L161.145 373.646L192.855 364.036L223.187 378.971L191.477 388.586ZM225.349 378.316L195.017 363.381L227.417 353.551L257.749 368.492L225.349 378.316ZM259.932 367.864L229.601 352.924L260.506 343.518L290.838 358.458L259.932 367.864ZM293.022 357.831L262.712 342.874L289.977 334.623L320.309 349.563L293.022 357.831Z' fill='white')
  path(d='M192.122 391.039C191.887 391.04 191.655 390.987 191.443 390.885L50.2299 321.746C49.9526 321.609 49.7228 321.392 49.5701 321.123C49.4174 320.855 49.3488 320.547 49.3731 320.239C49.3975 319.932 49.5136 319.638 49.7066 319.397C49.8996 319.156 50.1606 318.977 50.456 318.885L181.809 279.065C182.175 278.954 182.569 278.986 182.912 279.153L324.131 348.293C324.411 348.428 324.643 348.645 324.797 348.914C324.951 349.183 325.02 349.493 324.995 349.802C324.97 350.111 324.852 350.405 324.657 350.646C324.461 350.887 324.197 351.064 323.899 351.153L192.546 390.951C192.41 391 192.267 391.03 192.122 391.039ZM55.105 320.701L192.26 387.849L319.278 349.343L182.129 282.212L55.105 320.701Z' fill='#7B9FAF')
  path(d='M54.8572 237.483C54.9058 238.019 55.0977 238.533 55.413 238.971C55.7284 239.41 56.1559 239.756 56.6514 239.976C57.9839 240.649 59.4578 241 60.9529 241C62.4481 241 63.9222 240.649 65.2546 239.976C65.7399 239.758 66.1582 239.416 66.4673 238.986C66.7765 238.556 66.9654 238.052 67.0146 237.525L67.1085 42.551C67.0601 43.0776 66.8717 43.582 66.5624 44.0126C66.2532 44.4433 65.8343 44.7846 65.3485 45.0017C64.016 45.6749 62.5421 46.0258 61.047 46.0258C59.5518 46.0258 58.0779 45.6749 56.7454 45.0017C56.2512 44.7828 55.8245 44.4373 55.5092 44.0007C55.1939 43.564 55.0013 43.052 54.9512 42.5171L54.8572 237.483Z' fill='#CC6646')
  path(d='M61.111 68.6189V200.425L0 183.202L61.111 68.6189Z' fill='#ECF9A2')
  path(d='M60.889 68.6189V200.425L122 183.202L60.889 68.6189Z' fill='#8FA54A')
  path(d='M60.889 44.1284V156.142L112.824 141.505L60.889 44.1284Z' fill='#69772D')
  path(d='M60.889 16V107.695L103.401 95.7044L60.889 16Z' fill='#8FA54A')
  path(d='M61.111 44.1284V156.142L9.17554 141.505L61.111 44.1284Z' fill='#8FA54A')
  path(d='M61.1111 16V107.695L18.5991 95.7044L61.1111 16Z' fill='#ECF9A2')