.intro-2
  background-color: $primary-500
  overflow-x: clip
  padding: $size-32 0 rem(280)
  position: relative
  +tablet-min
    padding: $size-32 0 rem(420)
  +tablet-max
    padding: $size-40 0 rem(420)
  +desktop-min
    padding-bottom: rem(480)

  // ************************************************************************************
  // ************************************************************************************
  // ************************************************************************************
  // ************************************************************************************

  .intro-inner
    display: flex
    overflow: visible
    
    .content
      display: flex
      flex-direction: column
      align-items: center
      text-align: center
    
    h2
      color: $secondary-500
      @media (max-width: rem(414))
        font-size: rem(32)
      +tablet-max
        max-width: rem(940)
      +desktop-min
        margin-bottom: $size-2
    
    .button
      font-weight: bold
      margin: 0 auto
      +desktop-min
        font-size: rem(20)

  // ************************************************************************************
  // ************************************************************************************
  
  .list-vantagens
    color: white
    display: flex
    flex-wrap: wrap
    justify-content: center
    list-style: none
    margin: $size-4 0 0
    padding: 0
    text-align: left
    +tablet-max
      margin-bottom: $size-8
    +desktop-min
      margin-bottom: $size-10

    li
      display: flex
      align-items: center
      max-width: rem(345)
      margin: 0 0 $size-5
      +tablet-min
        width: calc(100% / 3)
      +tablet-max
        margin: 0 $size-5 0
        width: calc(100% / 3)
      +desktop-min
        margin: 0 $size-2 0
    
    .icon-circle
      background-color: #8163BE
      border-radius: 100px
      display: flex
      align-items: center
      justify-content: center
      margin-right: $size-2
      min-width: rem(64)
      +size(rem(64))
      +desktop-min
        margin-right: $size-4
        min-width: rem(70)
        +size(rem(70))

      .icon
        fill: $secondary-500
        +size(rem(40))
    
    img
      border-radius: 100px
      margin-right: $size-2
      min-width: rem(64)
      +desktop-min
        margin-right: $size-4
        min-width: rem(70)
        +size(rem(70))
      
    h3
      margin: 0
      font-weight: 600
      font-size: rem(18)
      line-height: 1.5
      +tablet-min
        font-size: rem(16)
      +desktop-min
        font-size: rem(20)
    
  .content-footer
    color: white
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    margin-top: $size-6
    text-align: center
    +mobile-max
      text-align: left

    *
      margin: $size-2


  // ************************************************************************************
  // ************************************************************************************
  
  .image
    +position(absolute, null 0 -2.5rem 50%)
    transform: translateX(-50%)
    text-align: center
    z-index: 1000
    width: 100%
    +tablet-min
      bottom: -4rem
    +desktop-min
      bottom: -6rem
    img
      height: auto
      max-width: rem(320)
      width: 85%
      +tablet-min
        max-width: rem(540)
        width: 100%
      +desktop-min
        max-width: rem(640)


  // ************************************************************************************
  // ************************************************************************************
  // ************************************************************************************
  // ************************************************************************************

  .sun-shape-container
    height: rem(150)
    +position(absolute, null null 0 50%)
    transform: translateX(-50%)
    width: 100%
    z-index: 100
    +tablet-min
      height: rem(200)
    +desktop-min
      height: rem(300)

  .sun-shape-inner
    overflow: hidden
    height: 100%
    width: 100%
    position: relative

  .sun-shape-2
    background: $secondary-500
    border-radius: 100%
    +position(absolute, 0 null null 50%)
    transform: translateX(-50%)
    +size(rem(400))
    +tablet-min
      +size(rem(800))
    +desktop-min
      +size(rem(1200))