.card-simulador
  background-color: $secondary-500
  display: flex
  flex-direction: column
  align-items: center
  min-height: rem(600)
  padding: $size-6 $size-6 $size-8
  position: relative
  +tablet-min
    padding: $size-8 $size-8
    min-height: rem(500)
  +tablet-max
    padding: $size-16 $size-16
    min-height: rem(520)
  +desktop-min
    padding: $size-12 $size-24
  
  .card-body
    margin-bottom: $size-10
  
  .card-actions
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: $size-8
  
  .card-footer

  .content
    line-height: 1.25
    text-align: center

    img
      height: auto
      margin-bottom: $size-2
      max-width: 100%
      width: rem(80)
      +desktop-min
        width: rem(96)
    
    .box-result
      background-color: white
      padding: $size-5
      +tablet-max
        display: flex
        align-items: center
        justify-content: space-evenly
  
    .h2
      font-weight: 600
      font-size: rem(16)
      +tablet-max
        font-size: rem(24)
  
    .h3
      font-weight: 600
      font-size: rem(16)
      +tablet-max
        font-size: rem(20)

    .h4
      font-weight: 600
      font-size: rem(16)
      +desktop-min
        font-size: rem(18)
    
    strong
      font-weight: 900
    
    .strong-1
      font-size: rem(28)
      +tablet-max
        font-size: rem(40)
      +desktop-min
        font-size: rem(48)
    
    .strong-2
      font-size: rem(24)
      +tablet-max
        font-size: rem(32)
    
    .strong-3
      font-size: rem(20)
      +tablet-max
        font-size: rem(28)

    .strong-4
      font-size: rem(16)
      +tablet-max
        font-size: rem(22)

    [class*="bg-"]
      display: inline-block
      padding: $size-2
      +tablet-max
        padding: 0 $size-2
    
    .separador
      font-weight: 900
      display: none
      +tablet-max
        display: block
        font-size: rem(24)
        margin: 0 .5rem
      +desktop-min
        font-size: rem(32)
    
    .button
      margin: 0 auto $size-2
    
    p.small
      color: #111029
      font-size: rem(14)
      line-height: 1.666
      
  
  .simulador-regulamentado
    margin-top: $size-4
    position: relative
    top: $size-2
    +tablet-min
      margin-top: $size-6
      top: $size-4
    +tablet-max
      top: $size-6

// ************************************************************************************
// ************************************************************************************

.card-solicitar-proposta
  display: none

.card-simulador.card-solicitar-proposta--active
  .card-solicitar-proposta
    display: block

  .card-simulador-form
    display: none

.card-repetir-simulacao
  display: none

.card-simulador.card-repetir-simulacao--active
  .card-repetir-simulacao
    display: block

  .card-simulador-form
    display: none

// ************************************************************************************
// ************************************************************************************

