.clientes
  overflow-x: clip
  padding: $size-32 0
  position: relative

// ************************************************************************************
// ************************************************************************************
// ************************************************************************************
// ************************************************************************************

.swiper-clientes
  .swiper-wrapper
    padding-bottom: 3rem
    +tablet-min
      padding-bottom: 4rem