.como-funciona
  overflow: clip

// ************************************************************************************
// ************************************************************************************
// ************************************************************************************
// ************************************************************************************

.passo-a-passo

  .item
    display: flex
    flex-direction: column
    margin-bottom: $size-16
    position: relative
    +tablet-min
      margin-bottom: 0
    
    .content
      order: 2
      +tablet-min
        max-width: rem(315)
        position: absolute
        z-index: 10
      +tablet-max
        max-width: rem(375)
      +desktop-min
        max-width: rem(440)
    
    .image
      margin-bottom: $size-8
      +tablet-min
        margin-bottom: 0

    // ************************************************************************************
    // ************************************************************************************
    
    &:nth-child(1)
      margin-bottom: $size-32
      +tablet-min
        margin-bottom: 0
      .content
        +tablet-min
          top: 2rem
      .image
        transform: translateX(2rem)
        +tablet-min
          transform: translateX(0)
          text-align: right
        img
          max-width: 110%
          +tablet-min
            max-width: 50%
          +desktop-min
            max-width: 60%
        svg
          height: auto
          width: 110%
          +tablet-min
            width: 50%
          +desktop-min
            width: 55%

    // ************************************************************************************
    // ************************************************************************************

    &:nth-child(2)
      .content
        +tablet-min
          right: 0
          top: 50%
          transform: translateY(-50%)
        .tagline
          align-self: flex-end
          +tablet-min
            align-self: flex-start
      .image
        margin-bottom: $size-10
        transform: scale(1.7) translateX(2rem)
        +tablet-min
          transform: scale(1) translateX(0)
        +tablet-max
          height: rem(820)
          overflow: hidden
        img
          +tablet-min
            max-width: 65%
          +desktop-min
            max-width: 80%
        svg
          height: auto
          width: 110%
          +tablet-min
            width: 60%
          +desktop-min
            width: 80%
        #rede-de-energia
          

    // ************************************************************************************
    // ************************************************************************************

    &:nth-child(3)
      .image
        transform: scale(1.3) translateX(2rem)
        margin-bottom: $size-16
        +tablet-min
          margin-bottom: 0
          transform: scale(1) translateX(0) translatey(-5rem)
          text-align: right
        +desktop-min
          transform: translatey(-12rem)
        img
          max-width: 110%
          +tablet-min
            max-width: 50%
        svg
          height: auto
          width: 110%
          +tablet-min
            width: 50%

// ************************************************************************************
// ************************************************************************************
// ************************************************************************************
// ************************************************************************************