.intro
  background-color: $primary-500
  overflow-x: clip
  padding: $size-32 0 0
  position: relative
  +tablet-max
    padding: $size-40 0 0

// ************************************************************************************
// ************************************************************************************
// ************************************************************************************
// ************************************************************************************

.swiper-intro
  height: rem(680)
  overflow: visible
  +mobile-min
    height: rem(640)
  +desktop-min
    height: rem(800)
  
  .content
    color: white
    max-width: rem(440)
    +tablet-max
      margin-top: $size-20
    +desktop-min
      max-width: rem(570)
    
    .tagline:before
      background-color: $secondary-500
    .button
      align-self: flex-start

  // ************************************************************************************
  // ************************************************************************************
  
  .image
    +position(absolute, null 0 -2.5rem null)
    text-align: right
    +tablet-min
      right: 0
      bottom: -4rem
    +tablet-max
      bottom: -2rem
    +desktop-min
      bottom: -6rem
    img
      height: auto
      max-width: rem(640)
      width: 65%
      +tablet-min
        width: 70%
      +tablet-max
        width: 90%
      +desktop-min
        max-width: 100%
        width: 100%
  
  .image-svg
    +position(absolute, null 0 -2.5rem null)
    text-align: right
    max-width: rem(640)
    width: 65%
    +tablet-min
      right: 0
      bottom: -4rem
      width: 60%
    +tablet-max
      bottom: -2rem
    +desktop-min
      bottom: -6rem
      max-width: rem(740)
    svg
      height: auto
      width: 100%
  
  // ************************************************************************************
  // ************************************************************************************
  
  .swiper-pagination-inner
    margin-top: $size-20
    +desktop-min
      margin-top: $size-32
    
  .swiper-pagination
    bottom: 0
    position: relative
    text-align: left
    +desktop-min
      +fadeIn
      animation-delay: .5s


// ************************************************************************************
// ************************************************************************************
// ************************************************************************************
// ************************************************************************************

.sun-shape  
  background: $secondary-500
  border-radius: 100%
  +position(absolute, null -4rem -2.5rem null)
  +size(rem(253))
  +tablet-min
    bottom: -4rem
    right: -10rem
    +size(rem(540))
  +tablet-max
    bottom: -4rem
    right: -15rem
    +size(rem(700))
  +desktop-min
    bottom: -6rem
    right: -22rem
    +size(rem(905))


// ************************************************************************************
// ************************************************************************************
// ************************************************************************************
// ************************************************************************************

// transition-delay: 1s
$transition-time: 1s
$transition-delay: 1.5s

.swiper-slide
  +desktop-min
    .content
      opacity: 0
      transition: all ease-in-out $transition-time
      transform: translateY(2rem)
      transition-delay: .5s

    // USINAR SOLAR
    #usina-solar
      #arvore-1, #arvore-2
        opacity: 0
        transition: all ease-in-out $transition-time
        transform: translateY(-2rem)
        transition-delay: $transition-delay
      #painel-1, #painel-2, #painel-3
        opacity: 0
        transition: all ease-in-out $transition-time
        transform: translateY(2rem)
        transition-delay: $transition-delay

    // CONDOMINIO
    #condominio
      #predio-1, #predio-2, #predio-3, #predio-4
        opacity: 0
        transition: all ease-in-out $transition-time
        transform: translateY(-2rem)
        transition-delay: $transition-delay
      #arvore-1, #arvore-2, #arvore-3, #arvore-4
        opacity: 0
        transition: all ease-in-out $transition-time
        transform: translateY(2rem)
        transition-delay: $transition-delay

    &.swiper-slide-active
      .content
        opacity: 1
        transform: translateY(0)
      
      // USINAR SOLAR
      #usina-solar
        #arvore-1, #arvore-2
          opacity: 1
          transform: translateY(0)
        #painel-1, #painel-2, #painel-3
          opacity: 1
          transform: translateY(0)
      
      // CONDOMINIO
      #condominio
        #predio-1, #predio-2, #predio-3, #predio-4
          opacity: 1
          transform: translateY(0)
        #arvore-1, #arvore-2, #arvore-3, #arvore-4
          opacity: 1
          transform: translateY(0)