.o-que-fazemos
  background-color: $primary-500
  color: white
  overflow-x: clip
  padding: $size-20 0 $size-32
  position: relative
  z-index: 10
  +desktop-min
    padding: $size-40 0

// ************************************************************************************
// ************************************************************************************

.list-oque-fazemos
  list-style: none
  margin: 0
  padding: 0
  +tablet-min
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  
  li
    margin-bottom: $size-10
    position: relative
    text-align: center
    +tablet-min
      flex: none
      width: calc(100% / 3 - 1.5rem)
    +desktop-min
      width: calc(100% / 3 - 3rem)
    &:after
      +desktop-min
        background: url('source/img/ilustracoes/arrow.svg') no-repeat center top
        content: ''
        display: block
        +position(absolute, 5rem -4rem null null)
        +size(rem(50))
    &:last-child:after
      +desktop-min
        display: none
  
  .thumbnail
    background: #8163BE
    border-radius: 100%
    display: block
    margin: 0 auto
    overflow: hidden
    +size(rem(176))
  
  h2
    font-size: rem(26)
    font-weight: 600
    line-height: rem(42)
    margin: 0
  
  p
    margin: 0

// ************************************************************************************
// ************************************************************************************
// ************************************************************************************
// ************************************************************************************

.o-que-fazemos
  
  .grafismo
    position: absolute
  
  .grafismo--1
    top: -2rem
    left: 1rem
    +desktop-min
      top: 2rem
      left: 2rem
    img
      +desktop-min
        width: rem(57)
  
  .grafismo--2
    top: 25%
    right: 0
    +desktop-min
      top: 13%
      right: 30%
  
  .grafismo--3
    bottom: -2rem
    right: -3rem
    +desktop-min
      bottom: -6rem
      right: -4rem
    img
      +desktop-min
        width: rem(584)
  
  .grafismo--4
    display: none
    +desktop-min
      display: block
      top: 0
      right: 0