.perguntas-frequentes
  overflow-x: clip
  position: relative

  .grafismo
    position: absolute
  
  .grafismo--1
    top: 12%
    right: -3rem
    +tablet-min
      top: 0
      right: 7%
    +desktop-min
      top: 5%
      right: 17%
    img
      width: rem(105)
      +tablet-max
        width: rem(140)

// ************************************************************************************
// ************************************************************************************
// ************************************************************************************
// ************************************************************************************
  
.perguntas-frequentes-accordion
  padding-top: $size-48
  position: relative
  +tablet-min
    padding-top: 0 !important
    padding-left: 16rem
  +desktop-min
    padding-left: 0
  
  .container
    .col-570
      +tablet-min
        margin-left: auto

  .grafismo--2
    top: 0
    left: 0
    img
      width: rem(195)
      +tablet-min
        width: rem(250)
      +tablet-max
        width: rem(375)
      +desktop-min
        width: rem(545)

// ************************************************************************************
// ************************************************************************************
// ************************************************************************************
// ************************************************************************************
  
.accordion
  margin-bottom: $size-6

  .accordion_tab
    cursor: pointer
    display: flex
    user-select: none

    svg
      margin-top: .75rem
      width: rem(32)
    
    h2
      font-size: rem(20)
      font-weight: 600
      line-height: rem(30)
      letter-spacing: -0.5px
      margin: 0
      width: calc(100% - 32px)
      +desktop-min
        font-size: rem(26)
        line-height: rem(42)
      &.heading--underline
        &:after
          background-color: $primary-500
          width: rem(100)

    &.active
      color: $primary-500
      svg
        #minus
          display: none

  .accordion_content
    display: none
    margin-top: $size-5
    padding-left: 2rem

// ************************************************************************************
// ************************************************************************************
// ************************************************************************************
// ************************************************************************************

