.quero-fazer-parte
  background-color: $secondary-500
  overflow-x: clip
  padding: $size-32 0 $size-20
  position: relative
  +desktop-min
    padding: $size-40 0
  
  // ************************************************************************************
  // ************************************************************************************
  
  .container
    +tablet-min
      display: flex
      justify-content: space-between

  // ************************************************************************************
  // ************************************************************************************
  
  .col-570
    +tablet-min
      padding-right: 2.5rem
    +tablet-max
      padding-right: 0
    +desktop-min
      margin-top: 3rem

  // ************************************************************************************
  // ************************************************************************************

  .grafismo
    position: absolute
  .grafismo--1
    top: 2rem
    left: 2rem
    +desktop-min
      top: 3.5rem
      left: 6rem
    img
      +desktop-min
        width: rem(57)