footer.footer.footer--main
  .container
    .sign
      img(src="source/img/marcas/jaulie-simbolo.svg", alt="")
      div.vstack.gap--2
        h2 Energia solar, simples e barata.
        h3 Jaulie - O Futuro da Energia
    
    span.divider

    div.footer-contacts
      p.copyright © 2021 jaulie.com.br

      ul.footer-links.hstack.gap--4
        li: a(href="mailto:ola@jaulie.com.br", title="#")
          svg(class="icon icon-email"): use(xlink:href='#icon-email')
          span ola@jaulie.com.br
        li: a(href="tel:85988985588", title="#")
          svg(class="icon icon-telefone"): use(xlink:href='#icon-telefone')
          span 85 98898-5588