footer#proposta.footer.footer--main
  .container
    .solicitar-proposta
      .col-570
        .sign
          img(src="source/img/marcas/jaulie-simbolo.svg", alt="")
          div.vstack.gap--2
            h2 Solicitar Proposta
            p Complete seus dados para receber uma proposta e mais informações
      .col-570
        .frm
          .wpcf7#wpcf7-f254-p247-o2(role='form' lang='pt-BR' dir='ltr')
            .screen-reader-response
              p(role='status' aria-live='polite' aria-atomic='true')
              ul
            form.wpcf7-form.init(action='/adv/#wpcf7-f254-p247-o2' method='post' enctype='multipart/form-data' novalidate data-status='init')
              div(style='display: none;')
                input(type='hidden' name='_wpcf7' value='254')
                input(type='hidden' name='_wpcf7_version' value='5.6.2')
                input(type='hidden' name='_wpcf7_locale' value='pt_BR')
                input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f254-p247-o2')
                input(type='hidden' name='_wpcf7_container_post' value='247')
                input(type='hidden' name='_wpcf7_posted_data_hash')
              .frm-col-6
                .frm-control
                  label Nome
                  
                  span.wpcf7-form-control-wrap(data-name='nome-proposta')
                      input.wpcf7-form-control.wpcf7-text#nome-proposta(type='text' name='nome-proposta' size='40' aria-invalid='false')
              .frm-col-6
                .frm-control
                  label Whatsapp
                  
                  span.wpcf7-form-control-wrap(data-name='whatsapp-proposta')
                    input.wpcf7-form-control.wpcf7-text#whatsapp-proposta(type='text' name='whatsapp-proposta' size='40' aria-invalid='false')
              .frm-col-6
                .frm-control
                  label E-mail
                  
                  span.wpcf7-form-control-wrap(data-name='email-proposta')
                      input.wpcf7-form-control.wpcf7-text#email-proposta(type='text' name='email-proposta' size='40' aria-invalid='false')
              .frm-col-6
                .frm-control
                  label Inscrição OAB-CE
                  
                  span.wpcf7-form-control-wrap(data-name='inscricao-oab-proposta')
                    input.wpcf7-form-control.wpcf7-text#inscricao-oab-proposta(type='text' name='inscricao-oab-proposta' size='40' aria-invalid='false')
              .frm-col-12
                .frm-control
                  label Imagem da conta de energia
                  
                  span.wpcf7-form-control-wrap(data-name='conta-energia-proposta')
                    input.wpcf7-form-control.wpcf7-file#conta-energia-proposta(type='file' name='conta-energia-proposta' size='40' accept='audio/*,video/*,image/*' aria-invalid='false')
              //- .frm-col-12
              //-   .frm-control
              //-     label Imagem da conta de energia
              //-     |  
              //-     span.wpcf7-form-control-wrap(data-name='upload-file-911')
              //-       .codedropz-upload-wrapper
              //-         input.wpcf7-form-control.wpcf7-drag-n-drop-file.d-none(type='file' size='40' aria-invalid='false' multiple data-name='upload-file-911' data-id='254' data-version='free version 1.3.6.4' accept='.')
              //-         .codedropz-upload-handler
              //-           .codedropz-upload-container
              //-             .codedropz-upload-inner
              //-               h5 Arraste as imagens aqui
              //-               span ou
              //-               .codedropz-btn-wrap
              //-                 a.cd-upload-btn(href='javascript:void(0)') procurar
              //-           span.dnd-upload-counter
              //-             span 2
              //-             |  of 10
              //-         #dnd-file-8kilqg7tx.dnd-upload-status.complete
              //-           .dnd-upload-image
              //-             span.file
              //-           .dnd-upload-details
              //-             span.name
              //-               span teste.png
              //-               em (189.01KB)
              //-             a.remove-file(href='javascript:void(0)' title='Remove' data-storage='upload-file-911_count_files')
              //-               span.dnd-icon-remove
              //-             span.dnd-progress-bar
              //-               span(style='width: 100%;') 100% 
              //-             span
              //-               input(type='hidden' name='upload-file-911[]' value='wpcf7-files/teste-1.png')
              //-         #dnd-file-thjdog0nl.dnd-upload-status.complete
              //-           .dnd-upload-image
              //-             span.file
              //-           .dnd-upload-details
              //-             span.name
              //-               span teste.png
              //-               em (189.01KB)
              //-             a.remove-file(href='javascript:void(0)' title='Remove' data-storage='upload-file-911_count_files')
              //-               span.dnd-icon-remove
              //-             span.dnd-progress-bar
              //-               span(style='width: 100%;') 100% 
              //-             span
              //-               input(type='hidden' name='upload-file-911[]' value='wpcf7-files/teste.png')

              div(style='display: none;')
                .frm-control
                  label Resultado consumo médio em kWh
                  
                  span.wpcf7-form-control-wrap(data-name='resultado-consumo-medio-proposta')
                    input.wpcf7-form-control.wpcf7-text#resultado-consumo-medio-proposta(type='text' name='resultado-consumo-medio-proposta' size='40' aria-invalid='false')
              .frm-footer.frm-col-12
                
                span.wpcf7-form-control-wrap(data-name='privacidade-proposta')
                  span.wpcf7-form-control.wpcf7-acceptance.optional
                    span.wpcf7-list-item
                      label
                        input(type='checkbox' name='privacidade-proposta' value='1' aria-invalid='false')
                        span.wpcf7-list-item-label Concordo com os termos de privacidade
                
                input.wpcf7-form-control.has-spinner.wpcf7-submit.button.button--secondary(type='submit' value='Solicitar Proposta')
                span.wpcf7-spinner
              .wpcf7-response-output(aria-hidden='true')
    
    div.simulador-regulamentado
      p
        svg(class="icon icon-security"): use(xlink:href='#icon-security')
        | Modelo regulamentado
      img(src="source/img/marcas/aneel-white.svg", alt="")

    span.divider

    div.footer-contacts
      p.copyright © 2022 jaulie.com.br

      ul.footer-links.hstack.gap--4
        li: a(href="mailto:ola@jaulie.com.br", title="#")
          svg(class="icon icon-email"): use(xlink:href='#icon-email')
          span ola@jaulie.com.br
        li: a(href="tel:85988985588", title="#")
          svg(class="icon icon-telefone"): use(xlink:href='#icon-telefone')
          span 85 98898-5588