// build:js js/main.js
script(src='source/bower_components/jquery/dist/jquery.min.js', type='text/javascript')
script(src='source/js/jquery.mask.min.js', type='text/javascript')
script(src='source/js/swiper-bundle.min.js', type='text/javascript')
script(src='source/js/app-lp.js', type='text/javascript')
// endbuild
