div(data-tf-popover='JrQ7oy6b' data-tf-button-color='#00BF47' data-tf-tooltip='Olá! 👋 Posso te ajudar?' data-tf-iframe-props='title=Jaulie, o futuro da energia' style='all:unset;')
script(src='//embed.typeform.com/next/embed.js')

// build:js js/main.js
script(src='source/bower_components/jquery/dist/jquery.min.js', type='text/javascript')
script(src='source/js/swiper-bundle.min.js', type='text/javascript')
script(src='source/js/rellax.min.js', type='text/javascript')
script(src='source/js/aos.js', type='text/javascript')
script(src='source/js/lottie-player.js', type='text/javascript')
script(src='source/js/lottie-interactivity.min.js', type='text/javascript')
script(src='source/js/app.js', type='text/javascript')
// endbuild
