header.header.header--main
  .container
    h1.logo: a(href="#inicio", title="Jaulie"): svg(class="icon icon-jaulie"): use(xlink:href='#icon-jaulie')
    #open-menu
      a.button-icon(href="#", title="Menu")
        svg(class="icon icon-menu"): use(xlink:href='#icon-menu')
        svg(class="icon icon-close"): use(xlink:href='#icon-close')
    div.navbar
      nav.menu: ul
        li: a(href="#como-funciona", title="Simular Economia") Simular Economia
        li: a(href="#clientes", title="Clientes") Clientes
      .menu-acoes-container
        ul#menu-acoes.actions
          li#menu-item-98.button.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-98
            a(href='#proposta') Solicitar Proposta