//- remove before deploy
meta(name='robots', content='noindex, nofollow')

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='viewport', content='width=device-width, initial-scale=1')

//- style
link(href='style.min.css', rel='stylesheet', media='screen')
link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap' rel='stylesheet')
link(href='https://geracao.solar/wp-content/plugins/drag-and-drop-multiple-file-upload-contact-form-7/assets/css/dnd-upload-cf7.css?ver=1.3.6.4' rel='stylesheet')

//- favicons
link(rel="apple-touch-icon", sizes="180x180", href="source/favicon/apple-touch-icon.png")
link(rel="icon", type="image/png", href="source/favicon/favicon-32x32.png", sizes="32x32")
link(rel="icon", type="image/png", href="source/favicon/favicon-16x16.png", sizes="16x16")
link(rel="manifest", href="source/favicon/manifest.json")
link(rel="mask-icon", href="source/favicon/safari-pinned-tab.svg", color="#5bbad5")
meta(name="apple-mobile-web-app-title", content="Enko")
meta(name="application-name", content="Enko")
meta(name="theme-color", content="#ffffff")

//- opengraph
meta(name='description', content='')
link(rel='canonical', href='')
meta(property='og:locale', content='pt_BR')
meta(property='og:type', content='website')
meta(property='og:title', content='Jaulie')
meta(property='og:description', content='Somos a ponte entre você e as Usinas de energia solar. Consuma energia verde de um jeito simples, gerando benefícios econômicos, sociais e ambientais.')
meta(property='og:url', content='')
meta(property='og:site_name', content='')
meta(property='article:publisher', content='')
meta(property='og:image', content='source/favicon/opengraph.png')

block title
  title(itemprop='name') Jaulie - Energia Solar simples e acessível
