.footer.footer--main
  background-color: $primary-500
  color: white
  padding: $size-12 0 rem(120)
  transition: all ease-in-out .5s
  +tablet-min
    background: url('source/img/ilustracoes/footer-grafismo.svg') no-repeat top right $primary-500
    background-size: rem(400)
    padding: $size-20 0
  +desktop-min
    background-size: rem(560)

  // ************************************************************************************
  // ************************************************************************************

  .sign
    display: flex
    align-items: flex-start
    
    img
      margin-right: $size-5
      max-width: rem(34)
      margin-top: $size-3
      +desktop-min
        margin-right: $size-32
    
    div
      width: calc(100% - 34px - 20px)
      +desktop-min
        width: calc(100% - 200px)
    
    h2,h3
      margin: 0
      font-weight: 600
    h2
      font-size: rem(20)
      line-height: rem(34)
      +desktop-min
        font-size: rem(30)
        max-width: rem(315)
        line-height: rem(41)
    h3
      color: $secondary-500
      font-size: rem(16)
      +desktop-min
        font-size: rem(24)
        line-height: rem(48)
  
  // ************************************************************************************
  // ************************************************************************************
  
  .solicitar-proposta
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    +desktop-min
      margin: $size-10 0 $size-40
    
    .sign
      flex-direction: column
      align-items: center
      text-align: center
      margin: 0 auto
      +desktop-min
        align-items: flex-start
        flex-direction: row
        text-align: left
        margin: $size-5 0 0

      div
        width: 100%
        +desktop-min
          width: auto

      img
        margin: 0 auto $size-2
        +desktop-min
          margin-right: $size-8
      
      h2
        max-width: none
        font-size: rem(28)
        +desktop-min
          font-size: rem(48)
          margin-bottom: $size-2
    
    .col-570
      margin: 0 auto
      width: 100%
      +desktop-min
        margin: 0

  // ************************************************************************************
  // ************************************************************************************

  .simulador-regulamentado
    margin-top: $size-4
    +tablet-min
      margin-top: $size-6
    +desktop-min
      justify-content: flex-end
      margin-top: -$size-16
    .icon
      fill: white

  // ************************************************************************************
  // ************************************************************************************
  
  .divider
    background: #C0B1DE
    display: block
    height: 1px
    margin: $size-8 0
    width: 100%
    +desktop-min
      margin: $size-10 0

  // ************************************************************************************
  // ************************************************************************************

  .footer-contacts
    display: flex
    justify-content: space-between
  
  // ************************************************************************************
  // ************************************************************************************
  
  .copyright
    margin: 0

  // ************************************************************************************
  // ************************************************************************************

  .footer-links
    list-style: none
    margin: 0
    padding: 0
    a
      color: white
      display: flex
      padding: 0 .45rem
      text-decoration: none
      &:hover
        color: $secondary-500
        .icon
          fill: $secondary-500
    span
      display: none
      +tablet-min
        display: block
    .icon
      fill: white
      transition: all ease-in-out .25s
      +size(rem(20))
      +tablet-min
        margin-right: $size-4