*, *::before, *::after 
  -webkit-box-sizing: border-box
  box-sizing: border-box

body
  color: $grey-900
  font-family: 'Poppins', sans-serif
  font-size: 16px

.main-wrapper
  transition: all ease-in-out .5s

.container
  max-width: rem(1168)
  margin: 0 auto
  padding: 0 $size-6
  position: relative
  +mobile-min
    padding: 0 $size-8
  +desktop-min
    padding: 0
    
.col-460
  max-width: rem(460)
    
.col-570
  max-width: rem(570)
    
.col-768
  max-width: rem(768)
    
.col-960
  max-width: rem(960)

svg
  width: rem(32)

img
  height: auto
  max-width: 100%

a
  transition: all ease-in-out .25s
  cursor: pointer

.tf-v1-popover.open
  @media (min-width: rem(480))
    min-height: rem(440) !important