.header.header--main
  background-color: $primary-500
  padding: $size-8 0 $size-3
  +position(fixed, 0 null null 0)
  width: 100%
  z-index: 2000
  +desktop-min
    +fadeIn
    animation-delay: .5s
    padding: $size-6 0 $size-6
  
  // ************************************************************************************
  // ************************************************************************************

  .container
    +tablet-max
      display: flex
      justify-content: space-between

  // ************************************************************************************
  // ************************************************************************************
  
  .logo
    display: flex
    align-items: center
    margin: 0
    position: relative
    z-index: 15
    +desktop-min
      position: relative
      top: rem(4)
    .icon
      fill: white
      height: rem(30)
      width: rem(97)
      transition: all ease-in-out .25s
      +desktop-min
        height: rem(42)
        width: rem(132)

  // ************************************************************************************
  // ************************************************************************************

  #open-menu
    +position(absolute, -.375rem $size-6 null null)
    z-index: 15
    +tablet-max
      display: none
    
    .button-icon
      display: flex
      position: relative
      text-decoration: none
      +size($size-10)
      .icon
        fill: white
        +position(absolute, 50% null null 50%)
        transition: all ease-in-out .25s
        transform: translate(-50%, -50%)
        +size($size-6)

        &.icon-close
          fill: $primary-500
          opacity: 0
          +size($size-5)
  
  // ************************************************************************************
  // ************************************************************************************

  .navbar
    background-color: $secondary-500
    display: block
    height: 100%
    padding-top: $size-32
    +position(fixed, 0 0 0 0)
    transform: translateX(100%)
    transition: all ease-in-out .5s
    width: 100%
    z-index: 10
    +tablet-max
      background-color: transparent
      display: flex
      align-items: center
      height: auto
      margin-left: auto
      padding-top: 0
      position: relative
      transform: translateX(0)
      width: auto
  
  .menu
    ul
      list-style: none
      margin: 0
      padding: 0
      text-align: center
      +tablet-max
        display: flex
    li
      margin-bottom: $size-7
      +mobile-min
        margin: 0 0 $size-10
      +tablet-max
        margin: 0 $size-5 0 0
      +desktop-min
        margin: 0 $size-10 0 0
    a
      color: $primary-500
      font-size: rem(26)
      text-decoration: none
      font-weight: 600
      line-height: rem(39)
      letter-spacing: -0.5px
      text-align: center
      +tablet-max
        color: white
        font-size: rem(14)
        font-weight: 400
      +desktop-min
        font-size: rem(16)
      &:after
        +tablet-max
          background-color: $secondary-500
          content: ''
          display: block
          height: rem(2)
          margin-top: rem(4)
          opacity: 0
          width: rem(0)
          transition: all ease-in-out .25s
      &:hover
        &:after
          +tablet-max
            opacity: 1
            width: rem(30)
  
  .actions
    display: flex
    justify-content: center
    list-style: none
    margin: $size-16 0 0
    padding: 0
    +tablet-max
      margin: 0 0 $size-2

    .button
      padding: 0
      a
        @extend .button
        +tablet-max
          background-color: transparent
          border: 1px solid white
        &:hover
          +desktop-min
            background-color: white
            border-color: $secondary-500
            color: $primary-500


// ************************************************************************************
// ************************************************************************************
// ************************************************************************************
// ************************************************************************************

body.menu--active
  overflow: hidden
  .header.header--main
    .logo .icon
      fill: $primary-500
    #open-menu .button-icon .icon.icon-menu
      opacity: 0
    #open-menu .button-icon .icon.icon-close
      opacity: 1
    .navbar
      display: block
      transform: translateX(0)
  .main-wrapper, .footer.footer--main
    transform: translateX(-100%)

// ************************************************************************************
// ************************************************************************************
// ************************************************************************************
// ************************************************************************************

body.customize-support
  .header.header--main
    top: rem(32)