.button
  align-self: flex-start
  background-color: $primary-500
  border-radius: 100px
  color: white
  cursor: pointer
  display: inline-flex
  align-items: center
  justify-content: center
  font-size: rem(18)
  line-height: rem(26)
  padding: rem(15) rem(32) rem(15) rem(32)
  transition: all ease-in-out .25s
  text-align: center
  text-decoration: none
  +tablet-max
    font-size: rem(16)
    padding: rem(13) rem(24) rem(13) rem(24)
  +desktop-min
    font-size: rem(18)
    padding: rem(15) rem(32) rem(15) rem(32)
  
  // ************************************************************************************
  // ************************************************************************************
  
  &.button--primary
    background-color: $primary-500
    border: 1px solid $primary-500
    &:hover
      background-color: transparent
      border-color: $primary-500
      color: $primary-500
  
  &.button--secondary
    background-color: $secondary-500
    border: 1px solid $secondary-500
    color: $primary-500
    &:hover
      background-color: transparent
      border-color: $secondary-500
      color: $secondary-500

  &.button--text
    background-color: transparent
    border: none
    font-size: rem(16)
    padding: $size-2 0
    &:hover
      text-decoration: underline
    &.button--primary
      color: $primary-500
      font-weight: bold

  &:disabled
    background-color: gray
    border-color: gray
    &:hover
      background-color: gray
      border-color: gray
      color: white