section#clientes.clientes.bg-secondary--500: .container
  
  div.vstack.gap--2.col-570
    span.tagline.color-primary--500 Clientes
    h2.heading--3 As primeiras empresas a ter o selo de energia solar
  
  .spacing-content

  .swiper.swiper-clientes
    .swiper-wrapper
      .swiper-slide: img(src="https://via.placeholder.com/260x170/FDF1B9/623FAF/", alt="")
      .swiper-slide: img(src="https://via.placeholder.com/260x170/FDF1B9/623FAF/", alt="")
      .swiper-slide: img(src="https://via.placeholder.com/260x170/FDF1B9/623FAF/", alt="")
      .swiper-slide: img(src="https://via.placeholder.com/260x170/FDF1B9/623FAF/", alt="")
      .swiper-slide: img(src="https://via.placeholder.com/260x170/FDF1B9/623FAF/", alt="")
      .swiper-slide: img(src="https://via.placeholder.com/260x170/FDF1B9/623FAF/", alt="")
      .swiper-slide: img(src="https://via.placeholder.com/260x170/FDF1B9/623FAF/", alt="")
      .swiper-slide: img(src="https://via.placeholder.com/260x170/FDF1B9/623FAF/", alt="")
    .swiper-navigation.swiper-navigation--2: .swiper-navigation-container
      .swiper-button-next.swiper-clientes-next: svg(class="icon icon-arrow-right"): use(xlink:href='#icon-arrow-right')
      .swiper-button-prev.swiper-clientes-prev: svg(class="icon icon-arrow-left"): use(xlink:href='#icon-arrow-left')