section.intro-2
  
  .intro-inner
    .container: .content.vstack.gap--5
      h2.heading--2 Mude para energia verde e ganhe economia
      ul.list-vantagens
        li
          //- .icon-circle: svg(class="icon icon-law"): use(xlink:href='#icon-law')
          img(src="source/img/icones/isencao-oab-ce.svg", alt="")
          h3 Até 100% de isenção da sua anuidade OBA-CE
        li
          .icon-circle: svg(class="icon icon-percent"): use(xlink:href='#icon-percent')
          h3 Desconto na conta de energia
        li
          .icon-circle: svg(class="icon icon-energy"): use(xlink:href='#icon-energy')
          h3 Um novo diferencial para você e seu escritório
      a.button.button--secondary(href="#simulador", title="Simular economia") Simular economia
      div.content-footer
        p(style="color: white"): strong Parceria exclusiva para associados:
        img(src="source/img/marcas/crf-ce.png", alt="")

  .image: img(src="source/img/ilustracoes/mude-para-energia-verde.svg", alt="Mude para Energia Verde")
  .sun-shape-container: .sun-shape-inner: .sun-shape-2