mixin item(title)
  .accordion_tab
    svg(width='14' height='14' fill='none' xmlns='http://www.w3.org/2000/svg')
      g(clip-path='url(#a)' fill='#623FAF')
        path(d='M13 6H1a1 1 0 0 0 0 2h12a1 1 0 1 0 0-2Z')
        path#minus(d='M7 0a1 1 0 0 0-1 1v12a1 1 0 1 0 2 0V1a1 1 0 0 0-1-1Z')
      defs
        clipPath#a
          path(fill='#fff' d='M0 0h14v14H0z')
    h2.heading--underline #{title}
  .accordion_content: .accordion_item.body-text.vstack.gap--6
    p A instalação das placas solares é feita pelos investidores, donos das usinas disponíveis. O beneficiário irá alugar e receber a energia e, por isso, não precisará se preocupar com qualquer instalação ou manutenção

section#perguntas-frequentes.perguntas-frequentes
  
  div.spacing
  
  section: .container
    div.vstack.gap--2.col-570(data-aos="fade-up")
      span.tagline.color-primary--500 Perguntas frequentes
      h2.heading--3 Tem dúvidas? Não tem problema. Nós estamos aqui para responder.
  
  div.spacing
  
  section.perguntas-frequentes-accordion

    .container
      .accordion-container.col-570(data-aos="fade-up")
        .accordion: +item('Como pode não custar nada?')
        .accordion: +item('Quanto terei de desconto?')
        .accordion: +item('A geração de créditos começa automaticamente após a assinatura do contrato?')
        .accordion: +item('Como fica minha fatura?')
        .accordion: +item('E se a usina tiver algum problema?')
        .accordion: +item('Vai parar de faltar energia?')
        .accordion: +item('E se eu precisar mudar meu consumo?')
      .spacing-content
      div.col-570.vstack.gap--4(data-aos="fade-up")
        h2.heading--3.color-primary--500 Tem mais perguntas?
        div.body-text: p Fale com o nosso <a href="#", title="corretor de energia solar">corretor de energia solar</a>

    div.grafismo.grafismo--2(data-aos="fade-in"): img.rellax(src="source/img/ilustracoes/shape-purple-top.svg", alt="", data-rellax-speed="-2")
    
  div.spacing

  div.grafismo.grafismo--1(data-aos="fade-in"): img.rellax(src="source/img/ilustracoes/half-shape-purple-blur.svg", alt="", data-rellax-speed="2")