section#simulador.como-funciona: .container
  
  div.spacing
  div.spacing-content
  
  div.col-960(style="margin: 0 auto")
    h2.heading--2(style="text-align: center") Veja quanto você pode economizar com a energia verde

  div.spacing-content
  
  .card-simulador
    .frm(style="display: block;")
      #card-form.card-simulador-form
        .wpcf7#wpcf7-f253-p247-o1(role='form' lang='pt-BR' dir='ltr')
          .screen-reader-response
            p(role='status' aria-live='polite' aria-atomic='true')
            ul
          form.wpcf7-form.init(method='post' novalidate data-status='init')
            div(style='display: none;')
              input(type='hidden' name='_wpcf7' value='253')
              input(type='hidden' name='_wpcf7_version' value='5.6.2')
              input(type='hidden' name='_wpcf7_locale' value='pt_BR')
              input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f253-p247-o1')
              input(type='hidden' name='_wpcf7_container_post' value='247')
              input(type='hidden' name='_wpcf7_posted_data_hash')
            .frm-col-6
              .frm-control.frm-controls-masc-dinheiro
                label Valor da sua última anuidade OAB-CE
                
                span.wpcf7-form-control-wrap(data-name='anuidade-oab-simulador')
                  input.wpcf7-form-control.wpcf7-text.masc-dinheiro#anuidade-oab-simulador(type='text' name='anuidade-oab-simulador' size='40' aria-invalid='false')
            .frm-col-6
              .frm-control.frm-controls-masc-kwh
                .lbl-control
                  label Consumo médio em kWh
                  div.frm-help
                    a.lbl-help.open-modal(href="#" title="Onde encontrar?") Onde encontrar?
                    div.modal
                      .modal-inner
                        .modal-header
                          a.modal-close: svg(class="icon icon-close"): use(xlink:href='#icon-close')
                        .modal-body
                          img(src="https://placehold.co/500x560", alt="")
                      .modal-backdrop
                
                span.wpcf7-form-control-wrap(data-name='consumo-medio-simulador')
                  input.wpcf7-form-control.wpcf7-text#consumo-medio-simulador(type='text' name='consumo-medio-simulador' size='40' aria-invalid='false')
            .frm-col-6(style='display: none;')
              .frm-control
                label Resultado consumo médio em kWh
                
                span.wpcf7-form-control-wrap(data-name='resultado-consumo-medio-simulador')
                  input.wpcf7-form-control.wpcf7-text#resultado-consumo-medio-simulador(type='text' name='resultado-consumo-medio-simulador' size='40' aria-invalid='false')
            .frm-col-6
              .frm-control
                label Inscrição OAB-CE
                
                span.wpcf7-form-control-wrap(data-name='inscricao-oab-simulador')
                  input.wpcf7-form-control.wpcf7-text#inscricao-oab-simulador(type='text' name='inscricao-oab-simulador' size='40' aria-invalid='false')
            .frm-col-6
              .frm-control
                label WhatsApp
                
                span.wpcf7-form-control-wrap(data-name='whatsapp-simulador')
                  input.wpcf7-form-control.wpcf7-text.masc-celular#whatsapp-simulador(type='text' name='whatsapp-simulador' size='40' aria-invalid='false')
            .frm-footer-2.frm-col-12
              
              span.wpcf7-form-control-wrap(data-name='privacidade-simulador')
                span.wpcf7-form-control.wpcf7-acceptance.optional
                  span.wpcf7-list-item
                    label
                      input(type='checkbox' name='privacidade-simulador' value='1' aria-invalid='false')
                      span.wpcf7-list-item-label Concordo com os termos de privacidade
              
              input.wpcf7-form-control.has-spinner.wpcf7-submit.button.button--primary(type='submit' value='Fazer simulação' disabled)
              span.wpcf7-spinner
            .wpcf7-response-output(aria-hidden='true')
    
    //- VALIDO
    #card-success.card-solicitar-proposta(style="display: none;")
      .content
        .card-body
          img(src="source/img/ilustracoes/simulador-sucesso.svg", alt="")
          h2.h3.color-primary--500 Com um consumo médio de <strong class="strong-3">300 kWh</strong> por mês ao longo de um ano:
          div.box-result.color-primary--500
            h2.h4 Cashback <br><strong class="strong-1"><small style="font-size: 14px;">até</small> R$ 2331</strong><br>
            strong.separador +
            h2.h4 Desconto na conta de energia <br><strong class="strong-1"><small style="font-size: 14px;">até</small> R$ 3319</strong>
            strong.separador =
            h2.h4 Economia total por ano <br><strong class="strong-1"><small style="font-size: 14px;">até</small> R$ 5650</strong>
          h2.h3.bg-tertiary--500.color-primary--500 <strong class="strong-4">🚀Cashback Turbo:</strong> use o cashback para pagar a anuidade e ganhe até <strong class="strong-2">R$ 100</strong> de bônus
        
        .card-actions
          a.button.button--primary(href='#proposta' title='Solicitar Proposta'): strong Solicitar Proposta
          a.button.button--primary.button--text#new-solicitation(href='#' title='Realizar nova simulação') Realizar nova simulação
        
        .card-footer
          p.small Cálculos de desconto considerando cenário de Bandeira vermelha patamar 2 por 12 meses. Esta é apenas uma simulação, os valores reais podem diferir dos apresentados

    //- #card-success.card-solicitar-proposta(style="display: block;")
    //-   .content
    //-     .card-body
    //-       img(src="source/img/ilustracoes/simulador-sucesso.svg", alt="")
    //-       div.color-primary--500
    //-         h2.h2 Tenha até <strong class="strong-2">10%</strong> de desconto na sua anuidade
    //-         h2.h2 E até <strong class="strong-2">R$ 50</strong> de desconto por ano na sua conta de energia
        
    //-     .card-actions
    //-       a.button.button--primary(href='#proposta' title='Solicitar Proposta'): strong Solicitar Proposta
    //-       a.button.button--primary.button--text#new-solicitation(href='#' title='Realizar nova simulação') Realizar nova simulação
        
    //-     .card-footer
    //-       p.small Cálculos de desconto considerando cenário de Bandeira vermelha patamar 2 por 12 meses. Esta é apenas uma simulação, os valores reais podem diferir dos apresentados
    
    //- INVALIDO
    #card-fail.card-repetir-simulacao
      .content
        .card-body
          img(src="source/img/ilustracoes/repetir-simulacao.svg", alt="")
          h2 Infelizmente não há disponibilidade para atender o seu perfil de consumo.
          h2 Tem uma conta com consumo maior? Faça uma nova simulação.
        .card-actions
          a.button.button--primary#new-solicitation(href='#' title='Realizar nova simulação') Realizar nova simulação
        .card-footer
          p.small Cálculos de desconto considerando cenário de Bandeira vermelha patamar 2 por 12 meses. Esta é apenas uma simulação, os valores reais podem diferir dos apresentados
    
    div.simulador-regulamentado
      p
        svg(class="icon icon-security"): use(xlink:href='#icon-security')
        | Modelo regulamentado
      img(src="source/img/marcas/aneel.svg", alt="")
        
  
  div.spacing