.frm

  form
    display: flex
    flex-wrap: wrap
    +tablet-min
      justify-content: space-between
  
  // ************************************************************************************
  // ************************************************************************************
  
  .frm-col-12
    width: 100%
  
  .frm-col-6
    width: 100%
    +tablet-min
      width: calc(100% / 2 - 16px)
  
  p
    margin: 0
  
  // ************************************************************************************
  // ************************************************************************************
  
  .frm-control
    margin-bottom: $size-6
    +tablet-min
      margin-bottom: $size-8
    
    label
      display: block
      font-size: rem(14)
      font-weight: 600
      margin-bottom: $size-2
      +tablet-min
        font-size: rem(16)
    
    input, .wpcf7-file, .codedropz-upload-inner
      color: black
      background-color: white
      border: none
      height: rem(40)
      padding: 0 $size-4
      width: 100%
      +tablet-min
        height: rem(48)
    
    .wpcf7-file
      display: flex
      justify-content: flex-end
      padding-top: $size-2
    
    .lbl-control
      +tablet-min
        display: flex
        justify-content: space-between
        align-items: flex-end
        margin-bottom: $size-2
      
      label
        margin-bottom: 0
      
      p
        margin: $size-1 0

      .lbl-help
        color: $primary-500
        display: block
        font-weight: bold
        font-size: rem(12)
        margin-bottom: $size-4
        text-decoration: none
        +tablet-min
          font-size: rem(14)
          margin-bottom: 0
        &:hover
          text-decoration: underline
  
  // ************************************************************************************
  // ************************************************************************************

  .frm-controls-masc-dinheiro, .frm-controls-masc-kwh
    .wpcf7-form-control-wrap
      position: relative
      input
        padding-left: $size-9
      &:after
        color: gray
        content: 'R$'
        display: block
        +position(absolute, 3px null null 10px)
        z-index: 100

  .frm-controls-masc-kwh
    .wpcf7-form-control-wrap
      input
        padding-left: $size-12
      &:after
        content: 'kWh'

  // ************************************************************************************
  // ************************************************************************************

  .wpcf7-file
    position: relative

    &::-webkit-file-upload-button
      visibility: hidden

    &::before
      background: white
      content: 'Encontrar arquivo...'
      cursor: pointer
      display: flex
      align-items: center
      padding-left: $size-5
      +position(absolute, 0 0 0 0)
    
    &::after
      background: white
      border-radius: 100px
      color: $primary-500
      border: 1px solid $primary-500
      content: 'Procurar'
      font-weight: bold
      padding: rem(6) $size-8
      +position(absolute, 50% $size-3 null null)
      transform: translateY(-50%)
      transition: all ease-in-out .25s
    &:hover
      &::after
        background: $primary-500
        color: white

  // ************************************************************************************
  // ************************************************************************************
  
  .frm-footer
    display: flex
    flex-direction: column
    flex-wrap: wrap
    align-items: center
    margin-top: $size-4
    +desktop-min
      flex-direction: row
      justify-content: space-between

  .wpcf7-form-control.wpcf7-acceptance
    .wpcf7-list-item
      
      label
        align-items: center
        display: flex
        font-size: rem(14)
        font-weight: normal
        line-height: 1.5
        margin: 0

      input
        margin-right: $size-2
        +size(rem(20))
  
  .button
    margin: $size-6 auto
    +desktop-min
      margin: 0 0 0 auto

  // ************************************************************************************
  // ************************************************************************************

  .frm-footer-2
    display: flex
    flex-direction: column
    flex-wrap: wrap
    align-items: center
    margin-top: $size-4
  
    .wpcf7-form-control.wpcf7-acceptance
      .wpcf7-list-item
        
        label
          +desktop-min
            font-size: rem(16)
    .button
      +tablet-min
        margin: $size-10 auto 0
  
  // ************************************************************************************
  // ************************************************************************************

  .codedropz-upload-wrapper
    
    .codedropz-upload-handler
      border: none
      border-radius: 0
    
    .codedropz-upload-inner
      display: flex
      align-items: center
      justify-content: space-between
      h5
        color: black
        font-size: rem(16)
        font-weight: normal
        margin: 0
      span
        display: none
    
    .codedropz-upload-container
      padding: 0
    
    .dnd-upload-counter
      display: none

    .cd-upload-btn
      background: white
      border-radius: 100px
      color: $primary-500
      border: 1px solid $primary-500
      content: 'Procurar'
      font-weight: bold
      padding: rem(6) $size-8
      +position(absolute, 50% $size-3 null null)
      transform: translateY(-50%)
      transition: all ease-in-out .25s
    
    .dnd-upload-image
      background-color: white

    .dnd-upload-details
      font-size: rem(12)
      .name
        color: white
      span
        font-weight: bold
      em
        color: white !important
        font-style: normal
        font-weight: 400 !important
        
    .dnd-upload-status .dnd-upload-details .dnd-progress-bar
      height: 6px
      span
        color: #A6EDD7
        font-size: rem(10)
        font-weight: normal
        line-height: 10px
    
    .dnd-upload-status .dnd-upload-details .dnd-progress-bar span
      background-color: #A6EDD7
    
    .dnd-upload-status .dnd-upload-details .remove-file
      background-color: #FBE372
      border-radius: 100px
      