.modal
  background-color: rgba(black, .75)
  backdrop-filter: blur(5px)
  display: none
  +position(fixed, 0 0 0 0)
  z-index: 10000
  
  .modal-inner
    background-color: white
    overflow: auto
    +position(absolute, 50% null null 50%)
    transform: translate(-50%, -50%)
    max-width: rem(768)
    min-height: rem(400)
    height: 80%
    width: 90%
    +tablet-min
      min-height: rem(500)
  
  a.modal-close
    background-color: $primary-500
    border-radius: 100px
    display: flex
    align-items: center
    justify-content: center
    +position(fixed, $size-4 $size-4 null null)
    +size(rem(48))
    z-index: 20000
    +desktop-min
      top: $size-6
      right: $size-6
      +size(rem(56))
    &:hover
      background-color: darken($primary-500, 10)

    .icon
      fill: white
      +size(rem(24))
  
  .modal-header
    position: relative
    width: 100%
  
  .modal-body
    padding: $size-4
    display: flex
    flex-direction: column
    align-items: center
    +tablet-min
      padding: $size-10

    img
      height: auto
      max-width: 100%
      align-self: center


.modal-active      
  overflow: hidden