.simulador-regulamentado
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  
  p
    display: flex
    align-items: center
    margin-right: $size-4
  
  .icon
    fill: $primary-500
    margin-right: $size-2
    min-width: rem(19)
    +size(rem(19))