extends ./layouts/base.pug
block view
  main.main-wrapper
    include ./inc/home/intro.pug
    include ./inc/home/como-funciona.pug
    include ./inc/home/o-que-fazemos.pug
    include ./inc/home/quero-fazer-parte.pug
    include ./inc/home/perguntas-frequentes.pug
    include ./inc/home/clientes.pug