section#como-funciona.como-funciona: .container
  
  div.spacing
  
  div.vstack.gap--2.col-768(data-aos="fade-up")
    span.tagline.color-primary--500 Como funciona
    h2.heading--3 Com base no seu perfil, verificamos usinas solares disponíveis para locação e apresentamos a melhor opção para você.
  
  div.spacing

  div(data-aos="fade-up")
    h2.heading--1 Conheça. Renove. Economize.
  
  div.spacing

  div.passo-a-passo
    div.item(data-aos="fade-up")
      .content.vstack.gap--4
        span.tagline.color-primary--500 A usina produz
        h2.heading--4 A usina locada insere energia na rede da sua distribuidora.
      .image: img(src="source/img/ilustracoes/usina-solar-2.svg", alt="A usina produz")
    div.item(data-aos="fade-up")
      .content.vstack.gap--4
        span.tagline.color-primary--500 A energia vira crédito
        h2.heading--4 A distribuidora contabiliza a energia inserida e gera os créditos para você.
      .image: lottie-player#rede-de-energia(src='source/img/animacao/rede-de-energia/rede-de-energia.json' style="max-width: 800px;")
      //- .image: img(src="source/img/ilustracoes/empresa.svg", alt="Os créditos viram desconto")
    div.item(data-aos="fade-up")
      .content.vstack.gap--4
        span.tagline.color-primary--500 Os créditos viram desconto
        h2.heading--4 Os créditos de energia são convertidos em desconto na sua fatura. <span class="color-primary--500">Simples assim!</span>
      .image: img(src="source/img/ilustracoes/empresa.svg", alt="Os créditos viram desconto")