mixin item(tagline, title, text, image_url)
  .swiper-slide
    .container: .content.vstack.gap--5
      span.tagline.color-secondary--500 #{tagline}
      h2.heading--2 #{title}
      div.body-text
        p #{text}
      a.button.button--secondary(href="#", title="Fale com o corretor") Fale com o corretor
    .container.swiper-pagination-inner: .swiper-pagination.swiper-pagination-intro
    //- .image
    //-   | <img src="source/img/ilustracoes/#{image_url}.svg" alt="#{title}" />
    //-   .image-inner: include .././ilustracoes/usina-solar.pug
    .image-svg
      //- .image-inner: include .././ilustracoes/usina-solar.pug
      .image-inner: include .././ilustracoes/condominio.pug

section.intro
  .swiper.swiper-intro
    .swiper-wrapper
      +item(
        'Energia limpa para seu negócio',
        'Fazemos a ponte entre sua empresa e a usina solar',
        'Analisamos seu consumo e definimos a melhor estratégia para sua demanda de energia.',
        'usina-solar'
        )
      +item(
        'Energia limpa para seu negócio',
        'Fazemos a ponte entre sua empresa e a usina solar',
        'Analisamos seu consumo e definimos a melhor estratégia para sua demanda de energia.',
        'usina-solar'
        )
  .sun-shape