section#o-que-fazemos.o-que-fazemos

  .container
    
    div.vstack.gap--2.col-768(data-aos="fade-up")
      span.tagline.color-tertiary--500 O que a Jaulie faz?
      h2.heading--3 Nosso papel é encontrar a usina solar com o contrato de locação mais adequado para o seu perfil.
    
    div.spacing

    ul.list-oque-fazemos(data-aos="fade-up")
      li.vstack.gap--5
        div.thumbnail: img(src="https://via.placeholder.com/300/8163BE/FFFFFF/", alt="")
        h2.color-tertiary--500 Analisamos o seu perfil de cotnsumo
        div.body-text
          p Baseado no histórico de suas faturas, traçamos o seu perfil de consumo.
      li.vstack.gap--5
        div.thumbnail: img(src="https://via.placeholder.com/300/8163BE/FFFFFF/", alt="")
        h2.color-tertiary--500 Encontramos a usina ideal para você
        div.body-text
          p Nossas usinas parceiras apresentam diversas opções e nós levamos para você a melhor proposta.
      li.vstack.gap--5
        div.thumbnail: img(src="https://via.placeholder.com/300/8163BE/FFFFFF/", alt="")
        h2.color-tertiary--500 Acompanhamos a sua migração
        div.body-text
          p Sem qualquer gasto, lidamos com os trâmites de sua migração, prontos para sanar quaisquer dúvidas.

    div.spacing

    div.vstack.gap--10.col-768(data-aos="fade-up")
      h2.heading--1 Mude para a energia limpa.
      a.button.button--secondary(href="#", title="Fale com o corretor") Fale com o corretor

  
  div.grafismo.grafismo--1(data-aos="fade-in"): img(src="source/img/ilustracoes/half-shape-blue.svg", alt="")
  div.grafismo.grafismo--2(data-aos="fade-in"): img.rellax(src="source/img/ilustracoes/half-shape-blue-blur.svg", alt="", data-rellax-speed="2")
  div.grafismo.grafismo--3(data-aos="fade-in"): img.rellax(src="source/img/ilustracoes/sol.svg", alt="", data-rellax-speed="2.5")
  div.grafismo.grafismo--4(data-aos="fade-in"): img(src="source/img/ilustracoes/shape-blue-top.svg", alt="")