section#quero-fazer-parte.quero-fazer-parte

  .container
    
    div.vstack.gap--10.col-570(data-aos="fade-right")
      h2.heading--2.color-primary--500 Fazemos parte da construção de uma nova geração sobre a forma de produzir energia e seu consumo no Brasil
      a.button.button--primary(href="#", title="Quero fazer parte") Quero fazer parte
    
    .spacing
    
    div.body-text.vstack.gap--6.col-460(data-aos="fade-left")
      p Formas alternativas de consumir e produzir energia surgiram como novidade. Hoje, energia limpa já é parte de nossa história. <strong>A escolha é inevitável, nós ajudamos você</strong>.
      p Segundo os Objetivos de Desenvolvimento Sustentável no Brasil das Nações Unidas, <strong class="highlight-text">até 2030 uma das maiores metas mundiais será a de assegurar o acesso confiável, sustentável, moderno e a preço acessível à energia para todas e todos</strong>.
      p Seguindo os novos padrões de sociabilidade grandes empresas assinaram protocolos para <strong>descarbonizar</strong> sua produção, com isso se comprometem a reduzir a emissão de CO2.
      p Esse fator gerará uma demanda cada vez maior de <strong>eficiência energética</strong>, consumir energia com o menor desgaste possível de recursos naturais.

  div.grafismo.grafismo--1(data-aos="fade-in"): img(src="source/img/ilustracoes/half-shape-purple.svg", alt="")