.swiper-fade
  .swiper-slide
    opacity: 0 !important
  .swiper-slide-active
    opacity: 1 !important

// ************************************************************************************
// ************************************************************************************
// ************************************************************************************
// ************************************************************************************

.swiper-pagination
  .swiper-pagination-bullet
    background-color: white
    border: 5px solid $primary-500
    margin: 0 $size-2 !important
    opacity: 1
    +size(rem(4))
  .swiper-pagination-bullet-active
    background-color: transparent
    border-color: $secondary-500
    +size(rem(6))

// ************************************************************************************
// ************************************************************************************
// ************************************************************************************
// ************************************************************************************

.swiper-navigation--2
  +position(absolute, null 0 0 null)
  height: rem(40)
  width: rem(40)
  
  .swiper-navigation-container
    position: relative
    
    .swiper-button-next, .swiper-button-prev
      color: $primary-500
      margin: 0
      top: 0
      right: 0
      left: auto
      .icon
        fill: $primary-500
        +size(rem(26))
      &:after
        display: none
    
    .swiper-button-prev
      right: rem(56)


.teste
  .icon
    height: 100px
    width: 100px